<!--upgrade modal-->
<div id="email-invite-modal">

	    <button data-remodal-action="close" class="remodal-close"></button>
	    

	    <div class="modal-header">
	    	<i class="icon icon-line-email"> </i>
		    <h2>New email invitation</h2>
		    <p>  
		      Want a peek at the design? <%= link_to 'Preview email', slugger_path(@event) + '#email', :target => '_blank' %> | 
		      <%= link_to 'Send me a test', send_preview_path(:event_id => @event.id), :method => 'POST' %>
		    </p>
	    </div>

	    <div class="modal-body">
	    <%= form_for @attendee, remote: true,  :url => {:action => "batch_invite", :controller => 'attendees'}, :method => "post" do |f| %>

	    	<table> 
	    	<thead>
	    		
		    	<tr> 
		    		<th>First Name </th>
		    		<th>Last Name </th>
		    		<th>Email Address </th>
		    		<th class="row-actions"> </th>
		    	</tr>

	    	</thead>
		    	<tbody>			


		    	<tr> 
		    		<td class="input-group"><input type="text" placeholder="First Name" name="attendee[first_name]"> </td>
		    		<td class="input-group"><input type="text" placeholder="Last Name" name="attendee[last_name]"> </td>
		    		<td class="input-group"><input type="text" placeholder="Email Address" name="attendee[email_address]"> </td>
		    		<td class="row-actions"> <a class="circle add-btn" href="#"><i class="icon icon-plus"></i></a></td>

		    	</tr>
		    	</tbody>	

	    	</table>

	    	
  			<%= hidden_field_tag 'event_id', @event.id %>
  			<%= hidden_field_tag 'user_id', current_user.id %>



	    	<div class="input-group">
	    		<input type="submit" class="btn send-invite" value="Send invitation" />
	    		<!-- <a href="#" class="btn"> Send email to 1 guest</a> -->
	    	</div>	

	    <!-- 	<p>
	    		You can also import contacts --> <!-- from:  <a href="#">Facebook</a> , <a href="#"> Gmail</a>, or--> <!-- by <a href="#">uploading a CSV/Text file</a>
	    	</p> -->
	    <% end %>	
	    </div>


</div>
<!-- END modal -->



<script>

$(document).ready(function(){




	
	//modal
    var emailModal = $('#email-invite-modal').remodal();
	//emailModal.open();

    $('.send-email').click(function(){
        emailModal.open();
    });

    $('tbody .row-actions a.add-btn').on('click', function(e) {
    	e.preventDefault();


    //temp validation
    
    $('#email-invite-modal .error').remove();

    if($('input[name="attendee[first_name]"]').val() == '') {
        var formerror = ' <label id="attendee[first_name]-error" class="error" for="attendee[first_name]">Please enter your first name</label>';
        $(formerror).insertAfter($('input[name="attendee[first_name]"]'));
        return false;
    }

    if($('input[name="attendee[last_name]"]').val() == '') {
        var formerror = ' <label id="attendee[last_name]-error" class="error" for="attendee[last_name]">Please enter your last name</label>';
        $(formerror).insertAfter($('input[name="attendee[last_name]"]'));
          return false;
    }

    if($('input[name="attendee[email_address]"]').val() == '') {
        var formerror = ' <label id="attendee[email_address]-error" class="error" for="attendee[email_address]">Please enter your email</label>';
        $(formerror).insertAfter($('input[name="attendee[email_address]"]'));
          return false;
    }


    if(validateEmail($('input[name="attendee[email_address]"]').val()) == false) {
        var formerror = ' <label id="attendee[email_address]-error" class="error" for="attendee[email_address]">Please enter a valid email</label>';
        $(formerror).insertAfter($('input[name="attendee[email_address]"]'));
          return false;
    }
    // END TEMP VALIDATION

    	//current input values get placed into a uneditable row
    	var current_fname = $('input[name="attendee[first_name]"]').val();
    	var current_lname = $('input[name="attendee[last_name]"]').val();
    	var current_email = $('input[name="attendee[email_address]"]').val();

    	var rowHTML = '<tr><td>'+ current_fname +'</td><td>'+ current_lname +'</td><td>'+ current_email +'</td><td class="row-actions">  <a class="delete-btn" href="">remove</a>  </td></tr>';
    	$(rowHTML).insertBefore($('#email-invite-modal tbody tr:last-child'));

    	// $('.edit-btn').on('click', function() {

    	// });
    	$('.delete-btn').off('click');
    	$('.delete-btn').on('click', function(e) {
    		e.preventDefault();
    		console.log('delete button pressed')
    		$(this).closest('tr').toggleClass('disabled');
    		updateSendButton();
    	});
   
    	
    	// form values are then cleared
    	$('input[name="attendee[first_name]"]').val('');
    	$('input[name="attendee[last_name]"]').val('');
    	$('input[name="attendee[email_address]"]').val('');

 		updateSendButton();
    });


    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

	function updateSendButton() {
		if($('#email-invite-modal tbody tr:not(.disabled)').length == 1) {
			$('#email-invite-modal .btn').hide();
		} else {
			$('#email-invite-modal .btn').show();
		}


		   	// change guest count on button
    	// var pluralize_guest = ($('#email-invite-modal tbody tr:not(.disabled)').length - 1 > 1)?' guests':' guest';
    	// $('#email-invite-modal .btn').val('Send email to '+ ($('#email-invite-modal table tbody tr:not(.disabled)').length - 1) + pluralize_guest);
	}

   
    //
	$('#email-invite-modal input[type="submit"]').on('click', function(e) {
		e.preventDefault();
		//scan all rows
		//make guest row into a guest object
		//call form action and pass in data object of guests to be parsed
		
		
        if($('#email-invite-modal tbody tr:not(.disabled)').length > 1) {

       



    		 var columns = [
                'first_name',
                'last_name',
                'email_address'
            ];

            var tableObject = $('#email-invite-modal tbody tr:not(.disabled)').map(function (i) {
            	if(i< ($('#email-invite-modal tbody tr:not(.disabled)').length-1)) {
    	        	var row = {};
    	            $(this).find('td').each(function (i) {
    	            	if(i< 3){ //if i is less than number of inputs for guest

    	                var rowName = columns[i];
    	                row[rowName] = $(this).text();
    	            	}
    	            });

    	            return row;
            	}
            }).get();


            $.ajax({
    		  type: "POST",
    		  url: $('#email-invite-modal form#new_attendee').attr('action'),
    		  data: {attendees: tableObject, event_id: $('#event_id').val(), user_id: $('#user_id').val()},
    		  success: function(){




    		  }
    		});

        }

		
	});

    //
    //
    
    // ajax email attendee submit
    // 
    // pass object with structure that view can read

});


</script>