
<!--START event navigation-->

<div class="event-header dashboard-container"> 

	<div class="event-meta"> 
	  <% @style_bg = '/assets/' + @event.layout_style.to_s + '.jpg' %>
		
		<!-- <a href="#" class="thumb" style="background-image:url(<%= @style_bg %>);"> 
			<div class="thumb-cover"> </div> 
			<div class="thumb-action"><i class="icon icon-share-window"> </i> </div> 
		</a> -->

		
		<%= link_to user_event_path(@event.user_id, @event), :class => 'thumb', :style => "background-image:url(" + @style_bg + ");",  :target => '_blank'  do %>
			<div class="thumb-cover"> </div> 
			<div class="thumb-action"><i class="icon icon-share-window"> </i> </div> 
		<% end %>


		<h1> 	<%= @event.name  %> </h1>
		<p class="lead">
			<%= @event.date_start.to_date.strftime("%B %d") %>
		</p>
	</div>
	
	<div class="event-status"> 
		<div class="status" style="display: none;">Live </div>
		<div class="status-date" style="display: none;">Event last updated November 1, 2015 </div>
	</div>

</div>



<div class="event-navigation dashboard-container"> 
		<ul>
			<li> <a  class="active event-sub-nav-trigger" data-target="0">  attendees </a> </li>		
			<li> <a  class=" event-sub-nav-trigger" data-target="1" >  emails </a> </li>
			<li>  
			

		<%= link_to user_event_path(@event.user_id, @event),  :target => '_blank'  do %>
			website <i class="icon icon-share-window"> </i>
		<% end %>


			</li>			
		</ul>
</div>






<!--start event subnav-->
<div class="event-actions dashboard-container owl-carousel">


	<!--start attendee section-->
	<div data-hash="attendees">
		
		<% if !@attendees.empty? %>
		<table>
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Email Address</th>
		      <th>Will attend</th>  
		      <th><a  class="btn btn-small openModal">add attendees </a></th>            
		                
				 </tr>
		  </thead>
		
		  <tbody>
		    <% @attendees.each do |attendee| %>
		      <tr>
		        <td><%= attendee.first_name %> <%= attendee.last_name %></td>
		        <td><%= attendee.email %></td>
		        <% if (attendee.user_id) == current_user.id.to_s %>
		         <td> <%= attendee.attending %></td>
		        <td><%= link_to 'Edit', edit_attendee_path(attendee) %> | <%= link_to 'Delete attendee', attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		         <% end %>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		
		    <% else %>
		       Oh no! You don't have any attendees yet. <a class="openModal">Let's add some</a> so you can keep track of your guests and send them invitations.   
		    <% end %>
	
	</div>
	
	
	<!--start invite section-->
	<div data-hash="invites">
			
			<section> 
				<h4>Choose email type </h4>
				<ul> 
					<li><a href="#"><i class="icon icon-flag"> </i> <span>Save the Date </span></a></li>	
					<li><a href="#" class=""><i class="icon icon-email"> </i> <span> Invitation</span> </a></li>
				
				</ul>
			</section>
			
			
			<section> 
				<h4>Select recipients </h4>
				<p> 
					You don't have any guests yet. Get on that! <br> <a class="openModal">Let's add some attendees.</a>  
				</p>
				
			</section>
			
			<button class="btn btn-large">Send email </button>

	</div>

</div>	
<!--END event subnav-->


<!--add user modal-->
<div id="add-user-modal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h2>Add attendees</h2>

  	<p>
  	  Add your attendee email addresses (comma separated or with line breaks). 
  	</p>
  	<textarea rows="4"></textarea>
  	  	
  <button class="btn btn-large" data-remodal-action="confirm" class="remodal-confirm">Add attendees</button>
</div>



<script>

$(document).ready(function(){

	//init the remodal plugin. we have to init using js to avoid owl carousel conflict 
	var inst = $('#add-user-modal').remodal();
	$('.openModal').click(function(){
		inst.open();
	});


	//init the owl carousel plugin  
  var owl = $(".owl-carousel").owlCarousel({
      items:1,
      autoHeight : true     
  });
  
	$('.event-sub-nav-trigger').click(function(){
		
		var dest = parseInt($(this).data('target'));
		$('.event-sub-nav-trigger.active').removeClass('active');
		$(this).addClass('active');
		owl.trigger('to.owl.carousel', [dest])
	
	});

  
});
</script>