<%= eventurl = "www.eventcreate.com" + (url_for slugger_path(@event)) %>

<!--START event navigation-->
<div class="event-header dashboard-container"> 

	<div class="event-meta"> 
		<% @style_bg = '/assets/themes/' + @event.layout_style.to_s + '_thumb.jpg' %>
		
		<!-- <a href="#" class="thumb" style="background-image:url(<%= @style_bg %>);"> 
			<div class="thumb-cover"> </div> 
			<div class="thumb-action"><i class="icon icon-share-window"> </i> </div> 
		</a> -->
		
		
		<%= link_to slugger_path(@event), :class => 'thumb', :style => "background-image:url(" + @style_bg + ");",  :target => '_blank'  do %>
		<div class="thumb-cover"> </div> 
		<div class="thumb-action"><i class="icon icon-share-window"> </i> </div> 
		<% end %>


		<h1> 	<%= @event.name  %> </h1>
		<p class="lead">
			<%= @event.date_start.to_date.strftime("%B %d") %> | Status:  <span> <%= @event.published == false ? 'Draft' : 'Live'%> </span>
		</p>
	</div>
	
	<div class="event-status"> 
		<div class="event-share">
			<%= link_to 'view my website', slugger_path(@event), class: 'btn', target: '_blank' %>

			<a class="circle" id="facebook" href="https://www.facebook.com/sharer/sharer.php?u=<%= eventurl %>" target="_blank"><i class="icon icon-facebook"></i> </a> 
			<a class="circle" id="twitter" href="https://twitter.com/home?status=Registration%20is%20now%20open%20at%20<%= eventurl %>" target="_blank"><i class="icon icon-twitter"></i> </a> 
		</div>
		<div class="event-link"><i class="icon icon-link"></i> <input type="text" value="<%= eventurl %>"  /> </div>
		
			

	</div>

</div>

<%= render 'dashboard/partials/subnav' %>
<%= render 'dashboard/eventsuccessmodal' %>
