
<!--START event navigation-->

<div class="event-header dashboard-container"> 

	<div class="event-meta"> 


		<p> <strong>Event Name:</strong> <%= @event.name  %> </p>
		<p class="lead">
			<strong> Date: </strong><%= @event.date_start.to_date.strftime("%B %d, %Y") %>
		</p>
	</div>
	
	<div class="event-status"> 
		<div class="status" style="display: none;">Live </div>
		<div class="status-date" style="display: none;">Event last updated November 1, 2015 </div>
	</div>

</div>

 


<table style="border: 1px solid black; padding: 0; margin: 0;">
	<thead >
		<tr width="400px" style="border: 1px solid black ; padding: 0; margin: 0;">
			<th width="100px"  style="border: 1px solid black;padding: 10px; margin: 0;">ID</th>
			<th width="100px"  style="border: 1px solid black;padding: 10px; margin: 0;">First Name</th>
			<th width="100px"  style="border: 1px solid black;padding: 10px; margin: 0;">Last Name</th>
			<th width="300px"  style="border: 1px solid black;padding: 10px; margin: 0;">Email Address</th>
			<th width="100px"  style="border: 1px solid black;padding: 10px; margin: 0;">Guest Count</th>

			<th width="100px"  style="border: 1px solid black;padding: 10px; margin: 0;">Ticket Type</th>

			<th width="100px"  style="border: 1px solid black;padding: 10px; margin: 0;">Total Order</th>

			<th width="100px"  style="border: 1px solid black;padding: 10px; margin: 0;">Affiliate Code</th>

			<th width="100px"  style="border: 1px solid black;padding: 10px; margin: 0;">Registration date</th>
		</tr></thead>




		<tbody>
			<% @buyers.each do |attendee| %>
			<tr width="350" style="border: 1px solid black ;">		
				<td style="border: 1px solid black;padding: 10px; margin: 0;"><%= attendee.id %></td>
				<td style="border: 1px solid black;padding: 10px; margin: 0;"><%= attendee.first_name %></td>
				<td style="border: 1px solid black;padding: 10px; margin: 0;"><%= attendee.last_name %></td>
				<td style="border: 1px solid black;padding: 10px; margin: 0;"><%= attendee.email %></td>
				
				 <td style="border: 1px solid black;padding: 10px; margin: 0;"><% @guest = LineItem.where(:purchase_id => attendee.id.to_s).first %> <%= @guest.nil? ? 0 : @guest.quantity - 1 %></td>
                        <td style="border: 1px solid black;padding: 10px; margin: 0;"><% @ticket = Ticket.find_by_id( @guest.ticket_id.to_i)%><%= @ticket.nil? ? 'N/A' : '"'+@ticket.title+'"' %> </td>
                        <td style="border: 1px solid black;padding: 10px; margin: 0;">          
                            <% total_order = 0 %>
                    <% LineItem.where(:purchase_id => attendee.id.to_s).all.each do |lineitem| %>
                       
                        <% @ticket = Ticket.find_by_id(lineitem.ticket_id.to_i) %>
                        <% total_order += @ticket.nil? ? 0 : @ticket.price %>
                    <% end %> 
                        <%= Purchase.find(attendee.id.to_i).total_order.nil? ? number_to_currency(total_order, :precision => 2) : number_to_currency(Purchase.find(attendee.id.to_i).total_order/100 , :precision => 2) %></td> <td style="border: 1px solid black;padding: 10px; margin: 0;"><%=   Purchase.find(attendee.id.to_i).affiliate_code.nil? || Purchase.find(attendee.id.to_i).affiliate_code == 'null' ? 'n/a' : Purchase.find(attendee.id.to_i).affiliate_code %>  </td>
                        <td style="border: 1px solid black;padding: 10px; margin: 0;"><%= attendee.created_at.to_date.strftime("%B %d ") %> </td>


			</tr>
			<% end %>
		</tbody>
	</table>