
<!--START event navigation-->

	<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="<%= @event.name  %> - <%= @event.date_start.to_date.strftime("%B %d, %Y") %>">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">First Name</Data></Cell>
        <Cell><Data ss:Type="String">Last Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Ticket Type</Data></Cell>
        <Cell><Data ss:Type="String">Registration Date</Data></Cell>
      </Row>
    <% @attendees.each do |attendee| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= attendee.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= attendee.first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= attendee.last_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= attendee.email %></Data></Cell>
        <% @guest = LineItem.where(:attendee_id => attendee.id.to_s).first %> 
        <Cell><Data ss:Type="String"><% @ticket = Ticket.find_by_id( @guest.ticket_id.to_i)%>
        <%= @ticket.nil? ? 'N/A' : '"'+@ticket.title+'"' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= attendee.created_at.to_date.strftime("%B %d ") %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>