
 <%= form_for(@event, url: event_path(@event)) do |f| %>
  <% if @event.errors.any? %>
    <div class="alert error">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





<div class="event-registration">


  <div class="input-group" >
      <label> Event Name</label>
      <%= f.text_field :name, :class => 'input-primary', :placeholder => 'Mikes Birthday, etc' %>
  </div>


  <div class="input-group" id="datepairExample">
    <div class="input-group-inline">
      <label> Date</label>
      <%= f.text_field :date_start, :class => 'date start input-primary', :placeholder => 'Date', :value => @event.date_start.to_time.strftime("%m/%d/%Y") %>
    </div>

    <div class="input-group-inline">
      <label> Time</label>
      <%= f.text_field :time_start, :class => 'time start input-primary', :placeholder => 'Time' %> 
    </div>
  </div>


  <div class="input-group" id="datepairExample">
    <div class="input-group-inline">
      <label> End Date</label>
      <%= f.text_field :date_end, :class => 'date end input-primary' , :placeholder => 'End date' %>
    </div>

    <div class="input-group-inline">
      <label> End Time</label>
      <%= f.text_field :time_end, :class => 'time end input-primary' , :placeholder => 'End time' %>
    </div>
  </div>


  <div class="input-group">
      <div class="input-group-inline">
        <label> Location Name</label>
        <%= f.text_field :location_name, :class => 'input-primary controls', :id => 'pac-input', :placeholder => 'ie Hilton Hotel' %>
      </div>  
      <div class="input-group-inline">
        <label> Location Address</label>
        <%= f.text_field :location, :class => 'input-primary controls', :id => 'pac-input', :placeholder => 'ie 10 Main Street' %>
      </div>  
  </div> 

  
    <h5>Event Description</h5> 
    
  <div class="form-element">
    <%= f.text_area :description, :class => 'input-primary', :placeholder => 'Example: Why don\'t you and your friends, get with my friends, and we can be friends!' %>

  </div>

  <h5>Status</h5>

  <%= f.select(:published, [['true', true],['false', false]]) %>

  <%= link_to 'Edit Theme', slugger_path(:slug => @event.slug) %> 
</div>



    <%= f.submit "Update Event", :class => 'btn btn-large' %>
 
<% end %>


<!-- event form end -->


<!-- <script type="text/javascript">
  $(document).ready(function() {
      $('#datepairExample .time').timepicker({
        'showDuration': true,
        'timeFormat': 'g:ia'
      });
      $('#datepairExample .date').datepicker({
        onSelect: function(dateText) {
          $('.date').focusout();
        },
        'format': 'dd/mm/yyyy',
        'autoclose': true
      });
  });
 
 


</script> -->
