
 <%= form_for(@event,  url: event_path(@event)) do |f| %>
  <% if @event.errors.any? %>

    <div class="alert error">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





<div class="event-registration">


  <div class="input-group" >
      <label> Event Name</label>
      <%= f.text_field :name, :class => 'input-primary', :placeholder => 'Mikes Birthday, etc' %>
  </div>


  <div class="input-group" id="datepairExample">
    <div class="input-group-inline">
      <label> Date</label>
      <%= f.text_field :date_start, :class => 'date start input-primary', :placeholder => 'Date', :value => (@event.date_start.nil? || @event.date_start == '') ? '' : @event.date_start.to_time.strftime("%m/%d/%Y") %>
    </div>

    <div class="input-group-inline">
      <label> Time</label>
      <%= f.text_field :time_start, :class => 'time start input-primary', :placeholder => 'Time' %> 
    </div>
  </div>


  <div class="input-group" id="datepairExample">
    <div class="input-group-inline start-time">
      <label> End Date</label>
      <%= f.text_field :date_end, :class => 'date end input-primary' , :placeholder => 'End date',  :value => (@event.date_end.nil? || @event.date_end == '') ? '' : @event.date_end.to_time.strftime("%m/%d/%Y") %>
    </div>

    <div class="input-group-inline end-time">
      <label> End Time</label>
      <%= f.text_field :time_end, :class => 'time end input-primary' , :placeholder => 'End time' %>
    </div>
  </div>

  <div class="input-group">
      <div class="input-group-inline">
        <label> Location Name</label>
        <%= f.text_field :location_name, :class => 'input-primary controls', :placeholder => 'ie Hilton Hotel' %>
      </div>  
      <div class="input-group-inline">
        <label> Location Address</label>
        <%= f.text_field :location, :autocomplete => false, :class => 'input-primary controls', :id => 'pac-input', :placeholder => 'ie 10 Main Street' %>
      </div>  
  </div> 

  
    
  <div class="input-group">
    <label>Event Description</label>
    <%= f.text_area :description, :class => 'input-primary', :placeholder => 'Example: Why don\'t you and your friends, get with my friends, and we can be friends!' %>
  </div>

  <div class="input-group">
    <label>Custom URL</label>
      <%= f.text_field :slug, :class => 'input-primary', :placeholder => 'custom-event-url' %>
  </div>

  <div class="input-group">
    <label>Event Status</label>
    <%= f.select(:published, [['Live', true],['Draft', false]]) %>
    <p> You can switch your event to "Draft" status to disable registration</p>
  </div>





  <%= f.submit "Update Event", :class => 'btn btn-large' %>


</div>

 
<% end %>

<!-- event form end -->





 <script type="text/javascript">
  function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
      }
  }
  function showPosition(position) {
    var input = document.getElementById('pac-input');
    var defaultBounds = new google.maps.LatLngBounds(
      new google.maps.LatLng(position.coords.latitude, position.coords.longitude));

    var searchBox = new google.maps.places.SearchBox(input, {bounds: defaultBounds});
  }







  $(document).ready(function() {


    var validator = $(".edit_event").validate({
      rules: {
        "event[name]": {
          required: true
        }
      },
      messages : {
        "event[name]": 'Please enter an event title'
      }
    });


      $('#datepairExample .time.start').timepicker({
        'showDuration': true,
        'timeFormat': 'g:ia',
        'appendTo': '.start-time'
      });
      $('#datepairExample .time.end').timepicker({
        'showDuration': true,
        'timeFormat': 'g:ia',
        'appendTo': '.end-time'
      });
      $('#datepairExample .date').datepicker({
        onSelect: function(dateText) {
          $('.date').focusout();
        },
        'format': 'dd/mm/yyyy',
        'autoclose': true
      });





// $('#event_slug').focusout(function() {
//   alert('sdfaf');
//   $.getJSON('/events/griffith-park-ride-nope', { slug: $('#event_slug').val() }, function(data) {
//     // The data should tell you if its unique or not, you do something
//     // here depending on response 
//    var alertHTML = '<label id="event_slug-error" class="error" for="event_slug">Custom url name has already been taken. Please choose another</label>';

//     $(alertHTML).insertAfter($('#event_slug'));
//   });
// });
// 
// 
// # New Client
$(".edit_event").on("ajax:success", function(e, data, status, xhr) {

}).on("ajax:error", function(e, data, status, xhr) {
  alert('ajax error');

var alertHTML = '<label id="event_slug-error" class="error" for="event_slug">Custom url name has already been taken. Please choose another</label>';

  $(alertHTML).insertAfter($('#event_slug'));




  // return $("#step-clients form").render_form_errors('client', data.responseJSON);
});





  });
 


</script> 

<script type="text/javascript" src="//maps.google.com/maps/api/js?libraries=places&callback=getLocation"></script>
