

<div class="event-navigation dashboard-container"> 
    <ul>
        <li> <a  class="event-sub-nav-trigger" data-target="0">  member details </a> </li>       
       
           <% if @cu != '' && !@cu.subscriptions.data[0].nil? %>  <li> <a  class=" event-sub-nav-trigger" data-target="1" >  billing information </a> </li>
           <% end %>
      <!--   <li> <a  class=" event-sub-nav-trigger" data-target="2" >  host stats </a> </li> -->
              
    </ul>
</div>

<!--start event subnav-->
<div class="event-actions dashboard-container owl-carousel">


    <!--start attendee section-->
    <div data-hash="profile">
       <!--  profile_img: nil, header_img: -->





        <div class="input-group">
          <label>Avatar:</label>

          <div class="avatar" style="background-image: url(<%= @user.profile_img.url(:thumb) %>)">
    
          </div>
          <%= form_for @user, url: update_user_path(@user), :html => {:id => "profile_image_form"} do |f| %>
            <%= f.file_field :profile_img, :title => '', :value => '' %>
          <% end %> 
          <label>Profile Background:</label>
          <%= image_tag(@user.header_img, :class => 'header-preview', crossOrigin: 'anonymous')  %>
     
          <%= form_for @user, url: update_user_path(@user), :html => {:id => "profile_bg_form"} do |f| %>
            <%= f.file_field :header_img %>
          <% end %> 

          <%= link_to 'View profile', events_home_path(current_user), :class => 'view-profile' %>
        </div>

        <!-- profile settings form  -->
        <%= form_for(@user, :url => { :action => "update", :controller => "users" } ) do |f| %>

        <div class="input-group">
          
        <label>Organization/Brand/Name: </label>
        <%= f.text_field :username %>
        </div>
        <div class="input-group">
        <label>Description/Tagline: </label>
        <%= f.text_field :description %>
        </div>

        <div class="input-group">
        <label>Facebook URL: </label>
        <%= f.text_field :fb_link %>
        </div>

             <div class="input-group">
          
        <label>Twitter URL: </label>
        <%= f.text_field :tw_link %>
        </div>


        <%= f.submit 'Update Info', class: 'btn btn-primary' %>

        <% end %>

        <!-- still need to bind data // CURRENTLY NOT WORKING -->


        <%= form_for(@user, :url => { :action => "update_email", :controller => "users" } ) do |f| %>

        <div class="input-group">
        <label>Email address: </label>
        <%= f.email_field :email %>
        </div>
     

        <%= f.submit 'Update Email', class: 'btn btn-primary' %>
        


        <% end %> 

   
     
        <hr>

        
        <%= form_for(@user, :url => { :action => "update_password", :controller => "users" } ) do |f| %>
            

        <% if @user.errors.any? %>
            <div class="error">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this attendee from being saved:</h2>
            <ul>
           <% @user.errors.full_messages.each do |message| %>
             <li><%= message %></li>
           <% end %>
           </ul>
           </div>
        <% end %>



        <div class="input-group">
            <label>Current Password</label>
            <%= f.password_field :current_password, :autocomplete => "off", :placeholder => 'Your current password' %>
          </div>

          <div class="input-group">
            <label>New password</label>
            <%= f.password_field :password, :autocomplete => "off", :placeholder => 'Your new password' %>
          </div>

          <div class="input-group">
            <label> Confirm new password </label>
            <%= f.password_field :password_confirmation, :placeholder => 'Your new password, one more time' %>
          </div>

          <div class="input-group">
            <%= f.submit 'Change my password', class: 'btn' %>
          </div>

        <% end %>

      <!--   <%= link_to 'cancel my account', user_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-primary' %> -->

    </div>
    
    
    <!--start invite section-->
    <div data-hash="billing">

        <section> 
           <% if @cu != '' && !@cu.subscriptions.data[0].nil? %> 
           <h4>Credit Card Information </h4>
           <p>Credit Card: **** **** **** ****<%= @cu.sources.data[0].last4 %></p>
           <p> Current period end: <%= Time.at(@cu.subscriptions.data[0].current_period_end).to_date.strftime('%B %d, %Y') %></p>
           <p> Current plan type: <%= @cu.subscriptions.data[0].plan.name %></p>
           <p> Current plan type end: $<%= @cu.subscriptions.data[0].plan.amount.to_i/100%>/<%= @cu.subscriptions.data[0].plan.interval%></p>
           <p> Current plan status: <%= @cu.subscriptions.data[0].status %></p>
           <%= link_to 'Cancel Subscription', cancel_path, :class => 'btn' %>
           <% else %>
                   <%= link_to 'Upgrade now ', upgrade_path, :class => 'btn' %>
            <% end %>
        </section>



    </div>

    <!--start invite section-->
    <div data-hash="stats">

        <section> 
            <h4>Badges</h4>

            random stats or badges as a host for gamification

        </section>
    </div>

</div>  
<!--END event subnav-->





<script>

$(document).ready(function(){

    //init the remodal plugin. we have to init using js to avoid owl carousel conflict 
    var inst = $('#add-user-modal').remodal();
    $('.openModal').click(function(){
        inst.open();
    });

    //init the owl carousel plugin  
    var owl = $(".owl-carousel").owlCarousel({
        items:1,
        autoHeight : true,
        URLhashListener:true,
        startPosition: 'URLHash'   
    });

    owl.on('changed.owl.carousel', function(event) {
        var slug = (window.location.href).split('profile#')[1];
        highlightNavItem(slug);
    });

    function highlightNavItem(slug) {

        $('.event-sub-nav-trigger.active').removeClass('active');
        switch(slug) {
            case 'billing':
            $('.event-sub-nav-trigger[data-target="1"]').addClass('active');
            break;
            case 'stats':
            $('.event-sub-nav-trigger[data-target="2"]').addClass('active');
            break;
            default:
            $('.event-sub-nav-trigger[data-target="0"]').addClass('active');
            break;
        }

    }

    var slug = (window.location.href).split('profile#')[1];
    highlightNavItem(slug)



    $('.event-sub-nav-trigger').click(function(){
        
        var dest = parseInt($(this).data('target'));

        var url = window.location.href;
        var n = url.indexOf('#');
        url = url.substring(0, n != -1 ? n : url.length);
        var slug = 'members';
        switch(dest) {
            case 1:
            slug = 'billing'
            break;
            case 2:
            slug = 'stats'
            break;
            default: 
            slug = 'members';
            break;
        }
        window.location.href = url + '#'+slug
        owl.trigger('to.owl.carousel', [dest])

    });



    $('#profile_bg_form').fileupload({
      dataType: "script"
    })

    $('#profile_image_form').fileupload({
      dataType: "script"
    })
    //$('#profile_image_form').fileupload()
    // $('#profile_image_form').fileupload({
    //   dataType: "script",
    //   add: function(e, data) {
    //     data.context = $(tmpl("template-upload", data.files[0]));
    //     $('#profile_image_form .uploader').remove();
    //     $('#proifle_image_form').append(data.context);
    //     return data.submit();
    //   },
    //   done: function(e, data) {
    //     return $('.event-page').css('cssText', 'background-image: ' + newimage + ' !important');
    //   }
    // })
   


});




</script>


<%= render 'layouts/flash_messages' %>