



<!--start event subnav-->
<div class="event-actions container owl-carousel">
    <!-- <div data-hash="activity">
        <h2>activity goes here </h2>
    </div> -->

    <!--start attendee section-->
    <div data-hash="attendees">
    <% if !@attendees.empty? %>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Will attend</th>  
                    <th>


                    <% if @count_registrations >= @event_registration_limit %>
                        <%= link_to 'add attendees', upgrade_path, :class => 'btn btn-small' %>
                    <% else %>
                        <a  class="btn btn-small send-email">add attendees </a>
                    <% end %>  

        <%= link_to 'Download', dashboard_event_path(:event => @event.id, :format => :csv), class: 'btn btn-small' %>
        <%= link_to 'Print', dashboard_print_path(:event => @event.id), class: 'btn btn-small' %>
                    </th>            
                </tr>
            </thead>
            <tbody>
                <% @attendees.each do |attendee| %>
                <tr>
                    <td><%= attendee.first_name %> <%= attendee.last_name %></td>
                    <td><%= attendee.email %></td>
                    <% if (attendee.user_id) == current_user.id.to_s %>
                    <td> <%= show_attendance(attendee) %></td>
                    <td><!-- <%= link_to 'Edit', edit_attendee_path(attendee) %> | --> <%= link_to 'Delete attendee', attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% end %>
                </tr>
                <% end %>
            </tbody>
        </table>
        
        <% else %>
        <div class="empty">
            <h2>No attendees here, just yet. You might want to send an invite! </h2>
            <a class="btn send-email">Send an invite </a>
        </div>
        <% end %>


    </div>
    
    


    <!--start invite section-->
    <div data-hash="settings">

        <section> 
            <!-- start event form -->
            <%= render 'dashboard/partials/form' %>
        </section>
    </div>

</div>  
<!--END event subnav-->


<!--add user modal-->
<div id="add-user-modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2>Add attendees</h2>

      <%= form_for(Attendee.new, url: attendees_invite_path) do |f| %>
  <% if Attendee.new.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(Attendee.new.errors.count, "error") %> prohibited this attendee from being saved:</h2>

    <ul>
      <% Attendee.new.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
      <%= f.text_field :email, :class => '', :placeholder => 'Email'  %>
      <%= hidden_field_tag 'event_id', @event.id%>
      <%= hidden_field_tag 'user_id', @event.user_id %> <br/>
      <%= f.submit "Add guests", :class => 'btn btn-primary' %>
  <% end %>



   <!--  <p>
        Add your attendee email addresses (comma separated or with line breaks). 
    </p>
    <textarea rows="4"></textarea>



    <button class="btn btn-large" data-remodal-action="confirm" class="remodal-confirm">Add attendees</button> -->
</div>



<script>

$(document).ready(function(){

    var  slug = (window.location.href).split('#')[1];
    highlightNavItem(slug);

    //init the remodal plugin. we have to init using js to avoid owl carousel conflict 
    var inst = $('#add-user-modal').remodal();
    $('.openModal').click(function(){
        inst.open();
    });

    //init the owl carousel plugin  
    var owl = $(".event-actions.owl-carousel").owlCarousel({
        items:1,
        autoHeight : true,
        URLhashListener:true,
        startPosition: 'URLHash'   
    });


    owl.on('changed.owl.carousel', function(event) {
        slug = (window.location.href).split('#')[1];
        highlightNavItem(slug);
    });

    function highlightNavItem(slug) {
        $('.event-sub-nav-trigger.active').removeClass('active');
       
        switch(slug) {
            // case 'activity':
            //     $('.event-sub-nav-trigger[data-target="0"]').addClass('active');
            // break;
            case 'attendees':
                $('.event-sub-nav-trigger[data-target="1"]').addClass('active');
            break;
            case 'settings':
                $('.event-sub-nav-trigger[data-target="2"]').addClass('active');
            break;
            default:
                $('.event-sub-nav-trigger[data-target="1"]').addClass('active');
            break;
        }

    }


    $('.event-sub-nav-trigger').click(function(e){

        e.preventDefault();
        
        var dest = parseInt($(this).data('target'));
        $('.event-sub-nav-trigger').removeClass('active');

        var url = window.location.href;
        var n = url.indexOf('#');
        url = url.substring(0, n != -1 ? n : url.length);
        var slug = 'activity';
        var slug = 'attendees';
        switch(dest) {
            // case 0:
            // slug = 'activity';
            // break;
            case 1:
            slug = 'attendees'
            break;
            case 2:
            slug = 'settings'
            break;
            default: 
            //slug = 'activity';
            break;
        }
        $(this).addClass('active');
        window.location.href = url + '#'+slug

    });
    
});
</script>