

<div class="event-navigation dashboard-container"> 
    <ul>
        <li> <a  class="event-sub-nav-trigger" data-target="0">  attendees  </a> </li>       
        <li> <a  class=" event-sub-nav-trigger" data-target="1" >  emails <sup>beta</sup> </a> </li>
        <li> <a  class=" event-sub-nav-trigger" data-target="2" >  settings </a> </li>
        <li>  
            

            <%= link_to user_event_path(@event.user_id, @event),  :target => '_blank'  do %>
            website <i class="icon icon-share-window"> </i>
            <% end %>


        </li>           
    </ul>
</div>

<!--start event subnav-->
<div class="event-actions dashboard-container owl-carousel">


    <!--start attendee section-->
    <div data-hash="attendees">
        
        <% if !@attendees.empty? %>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Will attend</th>  
                    <th><a  class="btn btn-small openModal">add attendees </a></th>            

                </tr>
            </thead>

            <tbody>
                <% @attendees.each do |attendee| %>
                <tr>
                    <td><%= attendee.first_name %> <%= attendee.last_name %></td>
                    <td><%= attendee.email %></td>
                    <% if (attendee.user_id) == current_user.id.to_s %>
                    <td> <%= attendee.attending %></td>
                    <td><%= link_to 'Edit', edit_attendee_path(attendee) %> | <%= link_to 'Delete attendee', attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% end %>
                </tr>
                <% end %>
            </tbody>
        </table>
        
        <% else %>
        Oh no! You don't have any attendees yet. <a class="openModal">Let's add some</a> so you can keep track of your guests and send them invitations.   
        <% end %>


    </div>
    
    
    <!--start invite section-->
    <div data-hash="invites">

        <section> 
            <h4>Choose email type </h4>
            <ul> 
                <li><a href="#"><i class="icon icon-flag"> </i> <span>Save the Date </span></a></li>    
                <li><a href="#" class=""><i class="icon icon-email"> </i> <span> Invitation</span> </a></li>
                
            </ul>
        </section>


        <section> 
            <h4>Select recipients </h4>
            <p> 
                You don't have any guests yet. Get on that! <br> <a class="openModal">Let's add some attendees.</a>  
            </p>




<!-- invitation form -->
            


        </section>

        <button class="btn btn-large">Send email </button>

    </div>

    <!--start invite section-->
    <div data-hash="settings">

        <section> 
            <h4>Edit event details </h4>

            <!-- start event form -->
            <%= render 'dashboard/partials/form' %>
        </section>
    </div>

</div>  
<!--END event subnav-->


<!--add user modal-->
<div id="add-user-modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2>Add attendees</h2>

      <%= form_for(Attendee.new, url: attendees_invite_path) do |f| %>
  <% if Attendee.new.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(Attendee.new.errors.count, "error") %> prohibited this attendee from being saved:</h2>

    <ul>
      <% Attendee.new.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
      <%= f.text_field :email, :class => '', :placeholder => 'Email'  %>
      <%= hidden_field_tag 'event_id', @event.id%>
      <%= hidden_field_tag 'user_id', @event.user_id %> <br/>
      <%= f.submit "Add guests", :class => 'btn btn-primary' %>
  <% end %>



   <!--  <p>
        Add your attendee email addresses (comma separated or with line breaks). 
    </p>
    <textarea rows="4"></textarea>



    <button class="btn btn-large" data-remodal-action="confirm" class="remodal-confirm">Add attendees</button> -->
</div>



<script>

$(document).ready(function(){

    //init the remodal plugin. we have to init using js to avoid owl carousel conflict 
    var inst = $('#add-user-modal').remodal();
    $('.openModal').click(function(){
        inst.open();
    });

    //init the owl carousel plugin  
    var owl = $(".event-actions.owl-carousel").owlCarousel({
        items:1,
        autoHeight : true,
        URLhashListener:true,
        startPosition: 'URLHash'   
    });


    owl.on('changed.owl.carousel', function(event) {
        var slug = (window.location.href).split('#')[1];
        highlightNavItem(slug);
    });

    function highlightNavItem(slug) {
        $('.event-sub-nav-trigger.active').removeClass('active');

        switch(slug) {
            case 'invites':
                $('.event-sub-nav-trigger[data-target="1"]').addClass('active');
            break;
            case 'settings':
                $('.event-sub-nav-trigger[data-target="2"]').addClass('active');
            break;
            default:
                $('.event-sub-nav-trigger[data-target="0"]').addClass('active');
            break;
        }

    }

    var slug = (window.location.href).split('profile#')[1];
    highlightNavItem(slug)


    $('.event-sub-nav-trigger').click(function(){
        
        var dest = parseInt($(this).data('target'));

        var url = window.location.href;
        var n = url.indexOf('#');
        url = url.substring(0, n != -1 ? n : url.length);
        var slug = 'attendees';
        switch(dest) {
            case 1:
            slug = 'invites'
            break;
            case 2:
            slug = 'settings'
            break;
            default: 
            slug = 'attendees';
            break;
        }
        window.location.href = url + '#'+slug
        owl.trigger('to.owl.carousel', [dest])

    });
    


});
</script>