<%= form_for(@theme) do |f| %>
  <% if @theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@theme.errors.count, "error") %> prohibited this theme from being saved:</h2>

      <ul>
      <% @theme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>

    <div class="field">
    <%= f.label :layout_type %><br>
    <%= f.text_field :layout_type %>
  </div>


  <div class="field">
    <%= f.label :icon %><br>
    <%= f.text_field :icon %>
  </div>

  <div class="field">
    <%= f.label :font_type %><br>
    <%= f.text_field :font_type %>
  </div>
  <div class="field">
    <%= f.label :bg_opacity %><br>
    <%= f.text_field :bg_opacity %>
  </div>
  <div class="field">
    <%= f.label :bg_color %><br>
    <%= f.text_field :bg_color %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
