<p id="notice"><%= notice %></p>

<p>
  <strong>Answer text:</strong>
  <%= @survey_answer.answer_text %>
</p>

<p>
  <strong>Attendee:</strong>
  <%= @survey_answer.attendee_id %>
</p>

<p>
  <strong>Survey question:</strong>
  <%= @survey_answer.survey_question_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @survey_answer.event_id %>
</p>

<%= link_to 'Edit', edit_survey_answer_path(@survey_answer) %> |
<%= link_to 'Back', survey_answers_path %>
