<div class="login-header"> 

  <%= link_to ('<span>Event Create</span>').html_safe, root_path, :class => 'logo'  %> 
</div>

<div class="container">

<h2>Change password</h2>
<p class="lead"> Please enter your new password.</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

   <div class="input-group">
         <%= f.label :password, "New password" %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
   </div>


   <div class="input-group">
      <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>

   </div>

    <div class="input-group">
      <%= f.submit "Change my password", :class => 'btn' %>
    </div>

<% end %>
 

<%# render "devise/shared/links" %>

</div>


<div class="login-footer">
  <a href="#"><img src="<%= asset_path 'event_create_logo_gray.png' %>"/> </a>
  <p> ©2016 EventCreate. All Rights Reserved. </p>
</div>