<%= form_for(@attendee) do |f| %>
  <% if @attendee.errors.any? %>
    <div class="alert error">
      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
      <% @attendee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <!-- <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :attending %><br>
    <%= f.check_box :attending %>
  </div> -->
  <%= hidden_field_tag 'event_id', @attendee.event_id %>
  <div class="actions">
    <%= f.submit 'Invite guests', :class => 'btn btn-primary' %>
  </div>
<% end %>
