<div class="container">
  
<h1>Listing attendees</h1>


    <% if !@attendees.empty? %>
<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Message</th>
      <th>Attending</th>
      <th>Event Id</th>
      <th>User Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.first_name %></td>
        <td><%= attendee.last_name %></td>
        <td><%= attendee.email %></td>
        <td><%= attendee.phone_number %></td>
        <td><%= attendee.message %></td>
        <td><%= attendee.attending %></td>
        <td><%= attendee.event_id %></td>
        <td><%= attendee.user_id %></td>
        <% if (attendee.user_id) == current_user.id.to_s %>
        <td><%= link_to 'Show', attendee %></td>
     
        <td><%= link_to 'Edit', edit_attendee_path(attendee) %></td>
        <td><%= link_to 'Destroy', attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

    <% else %>
       No guests!
    <% end %>

</div><!-- 
<br>

<%= link_to 'New Attendee', new_attendee_path %>
 -->