<nav>
   <div class="dashboard-header">
      <div class="left"> 
        <a class="logo" href="/"><span>Event Create</span></a>
        <ul> 
            <li class="dropdown"><a class="open-dropdown" id="view-switch">Previewing website <i class="icon icon-arrow-down"></i> </a>
                
                <ul class="dropdown-menu">
                    <li><a id="view-invite"><i class="icon icon-email"> </i>  Switch to invite view <p>Preview your email invitation </p></a> </li>
                    <li><a id="view-website"><i class="icon icon-bolt"> </i>  Switch to website view <p>Preview your event website  </p></a> </li>
                    <li><a href="dashboard/event?event=<%= @event.id %>#settings"> <i class="icon icon-pencil"> </i> Edit event <p> Modify your event details</p></a> </li>  
                    <li><a href="dashboard/event?event=<%= @event.id %>"> <i class="icon icon-home"> </i> Event dashboard <p> event guest list and analytics</p></a> </li>  
                </ul>

            </li>
        </ul>
      </div>


      <div class="right"> 
        <ul> 
          <li>
            <% if @count_registrations >= @event_registration_limit %>  
        <%= link_to ('<i class="icon icon-email"></i>').html_safe, upgrade_path, :class => 'large-icon'  %> 
            <% else %>            
        <a class="large-icon send-email" ><i class="icon icon-email"></i> </a> 
            <% end %>  </li>

          <li> <a class="large-icon open-link-modal"><i class="icon icon-link"></i> </a>  </li>
          <li> <a class="large-icon" href="https://www.facebook.com/sharer/sharer.php?u=<%= @bitly.short_url %>" target="_blank"><i class="icon icon-facebook"></i> </a>  </li>         
          <li><a class="large-icon" href="https://twitter.com/home?status=Registration%20is%20now%20open%20at%20<%= @bitly.short_url %>" target="_blank"><i class="icon icon-twitter"></i> </a>  </li>
        </ul>
      </div>     

    </div>
</nav>
















 <!--START editor continer-->

<div class="editor-container"> 



     <!--START CONTROLS-->
      <div class="tabs">
       <a class="tab toggleEditorPanel"  style="display:none;" id="event-editor-design" ><i class="icon icon-image"> </i> <span> Change Theme </span></a>
       <a class="tab toggleEditorPanel" data-target="editor-tool-background" ><i class="icon icon-image"> </i> <span> Modify background Image  </span></a> 
       <a class="tab toggleEditorPanel"  data-target="editor-tool-font"><i class="icon icon-alpha"> </i> <span> Changes fonts  </span></a> 
       <a class="tab edit-save"  id="save" style="display:none;"><i class="icon icon-save"> </i> save  </a> 

      <a class="tab edit-save"  id="discard" style="display:none;"><i class="icon icon-replay-back"> </i>  </a> 

     </div>
    <!--END CONTROLS -->



<!--start TEMP themes container  -->
<div class="editor" style="display:none;"> 
   <div class="event-editor-design" style="display:none;" >
      <a href="#" class="theme" data-layout="1" data-theme="cityscape" id="cityscape">
      	<img src="./assets/themes/cityscape_thumb.jpg">
      </a>  
  		<a href="#" class="theme" data-layout="1" data-theme="getloud" id="getloud">
  			<img src="./assets/themes/getloud_thumb.jpg">
  		</a>  
  		<a href="#" class="theme" data-layout="1" data-theme="epic" id="epic">
  			<img src="./assets/themes/epic_thumb.jpg">
  		</a>  
  		<a href="#" class="theme" data-layout="1" data-theme="gallery" id="gallery">
  			<img src="./assets/themes/gallery_thumb.jpg">
  		</a>  					
  		<a  class="theme" href="#"  data-layout="1" data-theme="celebrate" id="celebrate">
  			<img src="./assets/themes/celebrate_thumb.jpg"  >
  		</a> 
      <a  class="theme" href="#"  data-layout="1" data-theme="minimalist" id="minimalist">
        <img src="./assets/themes/minimalist_thumb.jpg"  >
      </a> 					  
  </div>
</div>
  <!--end TEMP themes container -->



  <!--START THE BG UPLOAD-->
  <div class="editor-tools" >



    <div class="editor-tool" id="editor-tool-background">

      <a><i class="icon icon-image"> </i> Upload image</a>
      <a class="open-image-modal"><i class="icon icon-search"> </i>  Search images </a>

      <div class="right">
        <div class="slider"> <div id="slider"></div> </div>
        <div class="color-picker"><input id="color"></div>
      </div>      
    </div>  




    <div class="editor-tool" id="editor-tool-font" >
      <a class="font brandon" data-target="brandon" style="font">Abc </a>   
      <a class="font helvetica" data-target="helvetica">Abc</a> 
      <a class="font sophia" data-target="sophia">Abc</a>
      <a class="font futura" data-target="futura" style="font-size:22px;">Abc</a>
      <a class="font gotham" data-target="gotham" style="font-size:12px;">Abc</a>  
      <a class="font freight" data-target="freight" style="font-size:16px; letter-spacing:3px;">Abc</a>
    </div>  








  </div>
  <!--END BG -->













</div>
 <!--END editor continer-->





 <!--TEMP HOLDER FOR DRAG AND DROP ELEMENTS-->
  <a href="#" id="custom-image" style="display:none;">

  <div class="upload" style="background-image:url('<%= @event.background_img%>')">  </div> 

    <script id="template-upload" type="text/x-tmpl">
    <div class="uploader">
    <div class="progress"><div class="bar" style="width:0%;"></div></div>
    </div>
    </script>

  </a>  