<nav>
   <div class="dashboard-header">
      <div class="left"> 
        <a class="logo" href="/"><span>Event Create</span></a>
        <ul> 
            <li class="dropdown"><a class="open-dropdown" id="view-switch">Previewing website <i class="icon icon-arrow-down"></i> </a>
                
                <ul class="dropdown-menu">
                    <li><a id="view-invite"><i class="icon icon-email"> </i>  Switch to invite view <p>Preview your email invitation </p></a> </li>
                    <li><a id="view-website"><i class="icon icon-bolt"> </i>  Switch to website view <p>Preview your event website  </p></a> </li>
                    <li><a href="dashboard/event?event=<%= @event.id %>#settings"> <i class="icon icon-pencil"> </i> Edit event <p> Modify your event details</p></a> </li>  
                    <li><a href="dashboard/event?event=<%= @event.id %>"> <i class="icon icon-home"> </i> Event dashboard <p> event guest list and analytics</p></a> </li>  
                </ul>

            </li>
        </ul>
      </div>


      <div class="right"> 
        <ul> 
          <li> <a class="large-icon send-email" style="display:none;" ><i class="icon icon-email"></i> </a> </li>
          <li> <a class="large-icon open-link-modal"><i class="icon icon-link"></i> </a>  </li>
          <li> <a class="large-icon" href="https://www.facebook.com/sharer/sharer.php?u=<%= @bitly.short_url %>" target="_blank"><i class="icon icon-facebook"></i> </a>  </li>         
          <li><a class="large-icon" href="https://twitter.com/home?status=Registration%20is%20now%20open%20at%20<%= @bitly.short_url %>" target="_blank"><i class="icon icon-twitter"></i> </a>  </li>
        </ul>
      </div>     



      <% if @is_premium == 'active'  %>
        <div class="quick-find-container">
          <div style="display: none;" class="quick-find-container">
          <i class="icon icon-search"> </i> <input type="text" placeholder="quick find my events" id="tags">  
          </div>
        </div>
      <% end %>

      <div class="signed-in-menu">
        <ul>

          <li><%=  link_to "My events", {:controller => 'dashboard', :action => 'index'} %> </li>
          <% if @is_premium != 'active' &&  @disable_create %>

          <li><%=  link_to "Create new event", upgrade_path, :class => 'open-upgrade' %> </li>
          <% else %>
          <li><%=  link_to "Create new event", create_path %> </li> 
          <% end %>
          <li><%= link_to 'Edit profile', dashboard_profile_path, :class => 'navbar-link' %> </li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>              
        </ul>
      </div>  
    </div>
</nav>

















<div class="event-editor-container" style="display:none;"> 

 <!--START CONTROLS-->
 <div class="event-editor-controls" >

  <div class="tabs">


  <%= link_to '',root_path, :class => 'logo' %>
    <div class="view-switcher">
   <div id="view-switch">   Previewing website  <i class="icon icon-arrow-down"> </i> </div>




   </div>
   <a class="tab toggleEditorPanel" id="event-editor-design" ><i class="icon icon-image"> </i> <span> Change Theme </span></a>
   <a class="tab toggleEditorPanel" ><i class="icon icon-camera"> </i> <span> Modify background Image  </span></a> 
 </div>




 <div class="actions" > 
   
   


 </div>

 <div class="actions save-btn" > 
   <a class="btn" id="save" > save changes </a>        
 </div>



</div>
<!--END CONTROLS -->


<div class="event-editor"> 


 <!--START THE SHARE -->
 <div class="event-editor-share">
   <a href="#" id="twitter-share" target="_blank">Share on Twitter  <i class="icon icon-twitter"> </i> </a>         
   <a href="#" id="email-share">Send email invite <i class="icon icon-email"> </i>  </a>          
   <a href="#">Share the link   <input id="share-url" type="text" value="
<%= @bitly.short_url %>" readonly onClick="this.select();"> 
   </a>   
 </div>
 <!--END THE SHARE -->



 <!--START THE THEMES-->
 <div class="event-editor-design" >

<!--  <a href="#" class="theme" data-layout="1" data-theme="brunch" id="brunch"><img src="/assets/themes/brunch.jpg"  >
    Get together 
  </a>  
  <a href="#"  class="theme" data-layout="1" data-theme="nyc" id="nyc"><img src="/assets/themes/nyc.jpg">
    NYC Party               
  </a>   
  <a  class="theme" href="#"  data-layout="1" data-theme="confetti" id="confetti"><img src="/assets/themes/confetti.jpg"  >
    Elegant Affiar 
  </a> 

  <a class="theme" href="#" data-layout="1" data-theme="sunset" id="sunset"><img src="/assets/themes/summer.jpg"  >   Summer celebration </a> 

  <a href="#" class="theme" href="#" data-layout="1" data-theme="linen" id="linen"><img src="/assets/themes/linen.jpg"> State dinner  </a>   


  <a href="#" class="theme" href="#" data-layout="1" data-theme="flower" id="flower"><img src="/assets/themes/flower.jpg"> Anniversary party  </a>   --> 

  
    <a href="#" class="theme" data-layout="1" data-theme="cityscape" id="cityscape">
    	<img src="./assets/themes/cityscape_thumb.jpg">
    </a>  

		<a href="#" class="theme" data-layout="1" data-theme="getloud" id="getloud">
			<img src="./assets/themes/getloud_thumb.jpg">
		</a>  

		<a href="#" class="theme" data-layout="1" data-theme="epic" id="epic">
			<img src="./assets/themes/epic_thumb.jpg">
		</a>  

		<a href="#" class="theme" data-layout="1" data-theme="gallery" id="gallery">
			<img src="./assets/themes/gallery_thumb.jpg">
		</a>  	
				
		<a  class="theme" href="#"  data-layout="1" data-theme="celebrate" id="celebrate">
			<img src="./assets/themes/celebrate_thumb.jpg"  >
		</a> 


    <a  class="theme" href="#"  data-layout="1" data-theme="minimalist" id="minimalist">
      <img src="./assets/themes/minimalist_thumb.jpg"  >
    </a> 
					  
    
</div>
<!--END THEMES -->




<!--START THE BG UPLOAD-->
<div class="event-editor-background"  >


 <a href="#" class="default"> 


  <div class="image"></div></a> 
  <a href="#" id="custom-image"><div class="upload" style="background-image:url('<%= @event.background_img%>')">  </div> 
    <div style="display:none;" ><%= image_tag(@event.background_img, id: 'image_color', crossOrigin: 'anonymous')  %></div>

    <%= form_for @event, url: update_event_path(@event), :html => {:id => "background_form"} do |f| %>
    

    <label for="custom-file-input" class="file-label">Upload Your Own</label>
    <%= f.file_field :background_img, :id => 'custom-file-input' %> 


    <% end %> 

    <script id="template-upload" type="text/x-tmpl">
    <div class="uploader">
    <div class="progress"><div class="bar" style="width:0%;"></div></div>
    </div>
    </script>

  </a>          
</div>
<!--END BG -->




</div>







</div>