

<% if signed_in? && current_user.id == @user.id %>

<div class="event-editor-container"> 

 <!--START CONTROLS-->
 <div class="event-editor-controls" >

  <div class="tabs">


  <%= link_to '',root_path, :class => 'logo' %>
   <div class="view-switcher">Previewing website  <i style="display:none;" class="icon icon-arrow-down"> </i> </div>
   <a class="tab toggleEditorPanel " id="event-editor-design" ><i class="icon icon-image"> </i> <span> Change Theme </span></a>
   <a class="tab toggleEditorPanel " ><i class="icon icon-camera"> </i> <span> Modify background Image  </span></a> 
 </div>




 <div class="actions" > 
   
    <a class="circle send-email" style="display:none;" ><i class="icon icon-email"></i> </a> 
      <a class="circle open-link-modal"><i class="icon icon-link"></i> </a> 

      <a class="circle" href="https://www.facebook.com/sharer/sharer.php?u=<%= @bitly.short_url %>" target="_blank"><i class="icon icon-facebook"></i> </a> 
      <a class="circle" href="https://twitter.com/home?status=Registration%20is%20now%20open%20at%20<%= @bitly.short_url %>" target="_blank"><i class="icon icon-twitter"></i> </a> 


 </div>

 <div class="actions save-btn" > 
   <a class="btn" id="save" > save changes </a>        
 </div>



</div>
<!--END CONTROLS -->


<div class="event-editor"> 


 <!--START THE SHARE -->
 <div class="event-editor-share">
   <a href="#" id="twitter-share" target="_blank">Share on Twitter  <i class="icon icon-twitter"> </i> </a>         
   <a href="#" id="email-share">Send email invite <i class="icon icon-email"> </i>  </a>          
   <a href="#">Share the link   <input id="share-url" type="text" value="
<%= @bitly.short_url %>" readonly onClick="this.select();"> 
   </a>   
 </div>
 <!--END THE SHARE -->



 <!--START THE THEMES-->
 <div class="event-editor-design" >

<!--  <a href="#" class="theme" data-layout="1" data-theme="brunch" id="brunch"><img src="/assets/themes/brunch.jpg"  >
    Get together 
  </a>  
  <a href="#"  class="theme" data-layout="1" data-theme="nyc" id="nyc"><img src="/assets/themes/nyc.jpg">
    NYC Party               
  </a>   
  <a  class="theme" href="#"  data-layout="1" data-theme="confetti" id="confetti"><img src="/assets/themes/confetti.jpg"  >
    Elegant Affiar 
  </a> 

  <a class="theme" href="#" data-layout="1" data-theme="sunset" id="sunset"><img src="/assets/themes/summer.jpg"  >   Summer celebration </a> 

  <a href="#" class="theme" href="#" data-layout="1" data-theme="linen" id="linen"><img src="/assets/themes/linen.jpg"> State dinner  </a>   


  <a href="#" class="theme" href="#" data-layout="1" data-theme="flower" id="flower"><img src="/assets/themes/flower.jpg"> Anniversary party  </a>   --> 

  
    <a href="#" class="theme" data-layout="1" data-theme="cityscape" id="cityscape">
    	<img src="./assets/themes/cityscape_thumb.jpg">
    </a>  

		<a href="#" class="theme" data-layout="1" data-theme="getloud" id="getloud">
			<img src="./assets/themes/getloud_thumb.jpg">
		</a>  

		<a href="#" class="theme" data-layout="1" data-theme="epic" id="epic">
			<img src="./assets/themes/epic_thumb.jpg">
		</a>  

		<a href="#" class="theme" data-layout="1" data-theme="gallery" id="gallery">
			<img src="./assets/themes/gallery_thumb.jpg">
		</a>  	
				
		<a  class="theme" href="#"  data-layout="1" data-theme="celebrate" id="celebrate">
			<img src="./assets/themes/celebrate_thumb.jpg"  >
		</a> 


    <a  class="theme" href="#"  data-layout="1" data-theme="minimalist" id="minimalist">
      <img src="./assets/themes/minimalist_thumb.jpg"  >
    </a> 
					  
    
</div>
<!--END THEMES -->




<!--START THE BG UPLOAD-->
<div class="event-editor-background"  >


 <a href="#" class="default"> 


  <div class="image"></div></a> 
  <a href="#" id="custom-image"><div class="upload" style="background-image:url('<%= @event.background_img%>')">  </div> 
    <div style="display:none;" ><%= image_tag(@event.background_img, id: 'image_color', crossOrigin: 'anonymous')  %></div>

    <%= form_for @event, url: update_event_path(@event), :html => {:id => "background_form"} do |f| %>
    

    <label for="custom-file-input" class="file-label">Upload Your Own</label>
    <%= f.file_field :background_img, :id => 'custom-file-input' %> 


    <% end %> 

    <script id="template-upload" type="text/x-tmpl">
    <div class="uploader">
    <div class="progress"><div class="bar" style="width:0%;"></div></div>
    </div>
    </script>

  </a>          
</div>
<!--END BG -->




</div>







</div>


<%= render 'partials/linkmodal' %>


<% end %>