<%= form_for [current_user, @event] do |f| %>
  <% if @event.errors.any? %>
    <div class="alert error">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="event-registration">
  <div class="field slide-up-show"> 
    <h2>So what's this event called?</h2> 
    <%= f.text_field :name, :class => 'input-primary', :placeholder => 'Mikes Birthday, etc' %>
  </div>

  <div class="field slide-down-hide">
<h2>Sounds like fun. Now, when is it?</h2> 
<%= f.datetime_select :event_time, :class => 'input-primary', :placeholder => 'Time',  
                       ampm: true %>  

  </div>
  <div class="field slide-down-hide">
<h2>And where?</h2> 
    <%= f.text_field :location, :class => 'input-primary', :placeholder => 'Location' %>
  </div>
  
  <div class="field slide-down-hide">
    <h2>Any more details? Add a description.</h2> 
    <%= f.text_field :description, :class => 'input-primary', :placeholder => 'Description' %>
    <p>Nulla sollicitudin, dui quis cursus dapibus, nulla dui facilisis enim, sit amet eleifend tortor lectus nec arcu. Mauris lobortis felis at mauris commodo, a tempor felis pharetra. Aliquam erat volutpat. Sed auctor sem eu lacinia viverra. 
     </p>
  </div>
  
  <div class="field slide-down-hide">
   <h2>Time to add some style. Choose a background image, or upload your own </h2>
    <%= f.label :background_img, 'Choose A Background Image'  %>
    <%= f.file_field :background_img %>
  </div>
</div>


  <div class="actions">
    <a class="btn-prev" href="">previous</a>
    <%= f.submit "Create Event", :class => 'btn' %>

    <a class="btn-next" href="">skip</a>
  </div>
<% end %>