<%= form_for [current_user, @event] do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="event-registration">
  <div class="field slide-up-show">
   <!--  <%= f.label :name %><br> -->
    <%= f.text_field :name, :class => 'input-primary', :placeholder => 'What is the name of the event?' %>
  </div>
  <div class="field slide-down-hide">
    <!-- <%= f.label :description %><br> -->
    <%= f.text_field :description, :class => 'input-primary', :placeholder => 'Description' %>
  </div>
  <div class="field slide-down-hide">

<%= f.datetime_select :event_time, :class => 'input-primary', :placeholder => 'Time',  
                       ampm: true %>  

  </div>
  <div class="field slide-down-hide">
   <!--  <%= f.label :location %><br> -->
    <%= f.text_field :location, :class => 'input-primary', :placeholder => 'Location' %>
  </div>
  <div class="field slide-down-hide">
    <%= f.label :background_img, 'Choose A Background Image'  %>
    <%= f.file_field :background_img %>
  </div>
</div>


  <div class="actions">
    <a class="btn-prev" href="">Prev</a>
    <%= f.submit "Create Event", :class => 'btn' %>

    <a class="btn-next" href="">Next</a>
  </div>
<% end %>