<%= form_for [@event] do |f| %>
<%= f.hidden_field :layout_id %>
<%= f.hidden_field :layout_style %>

  <% if @event.errors.any? %>
    <div class="alert error">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





<div class="event-registration">
  <div class="field slide-up-show">
    <h2>Choose a theme</h2> 

    <ul class="list-inline theme-chooser">
        <% @themes.each do |theme| %>
          <li>
            <%= f.label 'layout_style_'+ theme.slug ,  theme.slug do %>
              <img src="/assets/themes/<%= theme.slug %>_thumb.jpg" />
            <% end %>
            <%= f.radio_button :layout_style,   theme.slug %>
          </li>
        <% end %>  
    </ul>
  </div>
  <div class="field slide-down-hide"> 



    <h2>So what's this event called?</h2> 
    <%= f.text_field :name, :class => 'input-primary', :placeholder => 'Mikes Birthday, etc' %>
  </div>

  <div class="field slide-down-hide">
<h2>Sounds like fun. Now, when is it?</h2> 

<p id="datepairExample">
  <%= f.text_field :date_start, :class => 'date start input-primary', :placeholder => 'start date', :value => ( !@event.date_start.blank? )? @event.date_start.to_date.strftime("%m/%d/%Y"): Date.current().to_date.strftime("%m/%d/%Y") %>
  <%= f.text_field :time_start, :class => 'time start input-primary', :placeholder => 'start time', :value => ( !@event.time_start.blank? )? @event.time_start.to_time.strftime("%l:%M %p"):  Time.current().to_time.strftime("%l:%M %p") %> –
  <%= f.text_field :date_end, :class => 'date end input-primary' , :placeholder => 'end date (optional)', :value => (!@event.date_end.blank?)? @event.date_end.to_date.strftime("%m/%d/%Y"): Date.current().to_date.strftime("%m/%d/%Y") %>
  <%= f.text_field :time_end, :class => 'time end input-primary' , :placeholder => 'end time', :value => ( !@event.time_end.blank? )? @event.time_end.to_time.strftime("%l:%M %p"):  Time.current().to_time.strftime("%l:%M %p") %>

</p>




    or <label>
    <%= f.check_box :time_display, :id => 'cb_time' %>TBD</label>
<!-- 
                         <label><input type="checkbox" id="cb_time" value="time_checkbox">TBD</label><br> -->

 
  </div>
  <div class="field slide-down-hide">
<h2>And where?</h2> 

    <%= f.text_field :location, :class => 'input-primary controls', :id => 'pac-input', :placeholder => 'Enter a Location' %>







  </div>
  
  <div class="field slide-down-hide">
    <h2>Any more details? Add a description.</h2> 
    <%= f.text_area :description, :class => 'input-primary', :placeholder => 'Example: Why don\'t you and your friends, get with my friends, and we can be friends!' %>
<!--     <p class="description-example">Nulla sollicitudin, dui quis cursus dapibus, nulla dui facilisis enim, sit amet eleifend tortor lectus nec arcu. Mauris lobortis felis at mauris commodo, a tempor felis pharetra. Aliquam erat volutpat. Sed auctor sem eu lacinia viverra. 
     </p> -->
  </div>


</div>


  <div class="actions">
    <a class="btn-prev" href="">previous</a>
    <%= f.submit "Create Event", :class => 'btn', :id => 'btn-create' %>

    <a class="btn-next btn" href="">Next</a>
  </div>
<% end %>