<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="event-registration">
  <div class="field">
   <!--  <%= f.label :name %><br> -->
    <%= f.text_field :name, :class => 'input-primary', :placeholder => 'What is the name of the event?' %>
  </div>
  <div class="field">
    <!-- <%= f.label :description %><br> -->
    <%= f.text_field :description, :class => 'input-primary', :placeholder => 'Description' %>
  </div>
  <div class="field">
    <!-- <%= f.label :time %><br> -->
    <%= f.text_field :time, :class => 'input-primary', :placeholder => 'Time' %>
  </div>
  <div class="field">
   <!--  <%= f.label :location %><br> -->
    <%= f.text_field :location, :class => 'input-primary', :placeholder => 'Location' %>
  </div>
  <div class="field">
    <%= f.label :background_img  %><br>
    <%= f.file_field :background_img %>
  </div>
</div>
  <div class="actions">
    <a href="">Prev</a>
    <%= f.submit "Create Event", :class => 'btn' %>

    <a href="">Next</a>
  </div>
<% end %>
