<% title @user.email + 'events' %>
<% meta_description '' %>
<% @title = 'Salamat Yoga' %>
<% @style = 'yoga' %>

<style type="text/css">
  html, body {
    height: 100%;
  }
  .wrapper {
    width: 100%;
    //height: 100%;
    background-position: center center;
    background-size: cover;
  }

  .wrapper.band {
    background-image: url(../assets/brots.jpg);
  }

  .wrapper.yoga {

    background-image: url(../assets/yoga.jpg);
  }

  .wrapper {
    //padding: 120px 70px;
    color: white;
  }

  .hero-header {
    padding: 120px 70px;
    text-align: center;
    background: transparent;
  }

  h1, h2{
    text-align: center;
  }

  .container {
    padding: 40px 70px;
  }

  ul.upcoming-events {
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }

  ul.upcoming-events li {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: #222;
    margin-top: 40px;
    margin-right: 20px;
  }
   ul.upcoming-events li img {
    width: 100px;
   }

   .widget {
    margin: 80px 0;
   }
   .widget h3 {
    margin-bottom: 20px;
   }

   .container {
    background-color: white;
   }

 #event-page-logo .event-page-logo-container {
    position: absolute;
    top: 0;
    left: 0;
    border-left: 180px solid rgba(21, 21, 21, 0.5);
    border-bottom: 180px solid transparent;
    z-index: 9999;
    transition: border-left .5s ease-out;
}

    #event-page-logo .event-page-logo {
    background-image: url(../assets/event_create_logo_vertical.png);
    background-size: contain;
    position: absolute;
    top: 12px;
    left: 12px;
    width: 110px;
    height: 110px;
    z-index: 9999;
}
</style>

<div class="wrapper <%= @style %>">

<a href="https://www.eventcreate.com/" title="EventCreate" target="_blank" id="event-page-logo">
          <div class="event-page-logo-container"></div>
          <div class="event-page-logo"></div> 
      </a>



<div class="event-share">
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://bit.ly/1PQJMiL"><i class="icon icon-facebook-circled"> </i> </a>
            <a href="https://twitter.com/home?status=Registration%20is%20now%20open%20at%20http://bit.ly/1PQJMiL"><i class="icon icon-twitter-circled"> </i> </a>
          </div>
<div class="hero-header">
<h1><%= @title %></h1>
<% if @style == 'band' %>
<p class="lead">We are a Los Angeles-based live-music band and we sound a lot like this. Young Love is our first record and we made it ourselves. We are currently playing or booking shows all around California. Check here for dates. Want us to come to your town? Let us know!</p>

<% else %>

<p class="lead">Yoga every week. Find me at YAS in Silverlake, Los Angeles Boulders in DTLA, and Cliffs of Id in Culver City. Namaste!</p>

<% end %>

</div>

</div>

<div class="container">



  <h2>Upcoming Events</h2>
  <ul class="upcoming-events">
<% @events.each do |event| %>
<li class="event-tile">
<div style="background:url(<%= background_checker(event, false)%>); width: 100%; height: 100%; background-size: cover; background-position: 0 0;">
</div>
 <%= event.name %><br/>
 <% if !event.date_start.empty? %>
  <%= event.date_start.to_date.strftime("%B %d, %Y") %>
 <% end %>
 </li>
<% end %>

<% @events.each do |event| %>
<li class="event-tile">
<div style="background:url(<%= background_checker(event, false)%>); width: 100%; height: 100%; background-size: cover; background-position: 0 0;">
</div>
 <%= event.name %><br/>
 <% if !event.date_start.empty? %>
  <%= event.date_start.to_date.strftime("%B %d, %Y") %>
 <% end %>
 </li>
<% end %>
<% @events.each do |event| %>
<li class="event-tile">
<div style="background:url(<%= background_checker(event, false)%>); width: 100%; height: 100%; background-size: cover; background-position: 0 0;">
</div>
 <%= event.name %><br/>
 <% if !event.date_start.empty? %>
  <%= event.date_start.to_date.strftime("%B %d, %Y") %>
 <% end %>
 </li>
<% end %>
</ul>
<!-- 
<div class="widget">
<h3>Follow us #blazingrays</h3> -->

<!-- SnapWidget -->
<!-- <iframe src="http://snapwidget.com/in/?h=YmxhemluZ3JheXN8aW58MjAwfDV8MXx8bm98MjB8ZmFkZUlufG9uU3RhcnR8eWVzfG5v&ve=040416" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:1100px; height:220px"></iframe>

</div> -->

<!-- <div class="widget">
<h3>Listen to our latest album:</h3>
<iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=488577373/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://blazingrays.bandcamp.com/album/young-love">Young Love by The Blazing Rays of the Sun</a></iframe>
</div> -->

<!-- <a href="https://api.instagram.com/oauth/authorize/?client_id=0a4ce555797642009a4728615f6b8b08&redirect_uri=http://localhost:3000/events/index&response_type=token&scope=public_content">Connect your instagram</a> -->


<script type="text/javascript">
  //https://api.instagram.com/v1/tags/{tag-name}/media/recent?access_token=ACCESS-TOKEN
  $(document).ready(function() {

    // $.ajax({

    // url: 'https://www.googleapis.com/moderator/v1/series?key='+key,
    // data: myData,
    // type: 'GET',
    // crossDomain: true,
    // dataType: 'jsonp',

    //alert(window.location.href.split('#access_token=')[1]);

    $.ajax({
      url:'https://api.instagram.com/v1/tags/hashtaglunchbagla/media/recent?access_token='+window.location.href.split('#access_token=')[1], 
      dataType: 'jsonp', 
      type: 'GET',
      success: function(data) {
      console.log(JSON.stringify(data.data));
     // var img = data.data[0].images.standard_resolution.url;
        // var imagehtml = '<img src="'+img+'" />';
        // $('.container').append(imagehtml);
    }
    });
  })
</script>




</div>

</div>


