<% title @event.name.html_safe %>
<% meta_description 'Create stunning websites in seconds.' %>
<div class="show-container <%= (signed_in? && current_user.id == @user.id)? 'user' : '' %>">
    


  


<%# render 'events/partials/eventinvite' %>
<%# render 'partials/fullpage_loader' %>
<%# render 'dashboard/emailmodal' %>
<%# render 'partials/linkmodal' %>
<%# render 'dashboard/eventsuccessmodal' %>



<% if signed_in? && current_user.id == @user.id && params.has_key?(:editing) %>

  

    <%= render 'events/partials/editor_intro' %>
    <%= render 'events/partials/editor' %>
    <%= render 'partials/imagesearch' %>  
    <%= render 'partials/loader_saving' %>


<% end %>


  <%= render 'events/partials/eventwebsite' %>
  <%= render 'events/partials/contact_form' %>
  <%= render 'events/partials/rsvp_form' %><!-- 
  <%= render 'events/partials/confirmation_form' %> -->

</div>



<script src="/assets/vendor/jquery.minicolors.min.js"></script>


<script type="text/javascript">

$( document ).ready(function() {

  var validator = $("#new_attendee").validate({
    rules: {
      name: "required",
      "attendee[first_name]": {
        required: true
      },
      "attendee[last_name]": {
        required: true
      },
      "attendee[email]": {
        required: true
      } 

    },
    messages : {
      "attendee[first_name]": 'Please enter your first name',
      "attendee[last_name]": 'Please enter your last name',
      "attendee[email]": 'Please enter your email'
    }
  });

  $('.event-editor-background .image').removeClass().addClass('image '+ $('#layout_style').val());
  $("#event-share").click(function() {
   $(".event-share").toggle();
 });
  //$("#share-url").val(window.location.href); 
  $("#email-share").attr("href", "mailto:?subject=Join me at my event&body=Join me at my event. Register now at " +  $('#share-url').val() ); 
  $("#twitter-share").attr("href", "http://twitter.com/home?status=Join me at my event. Register now at " +  $('#share-url').val() ); 

  $(".theme").click(function() {
   var theme = $(this).data("theme");
   $(".event-container").addClass(theme);
   if($('.event-editor-background > a.default.highlight').length > 0) {
    $('.event-page').css('background-image', '')
  }

  $('.event-editor-background .image').removeClass().addClass('image '+theme);


});


    //event sucess modal
   var eventModal = $('#event-creation-modal').remodal({});







    //contact host modal
    var contactModal = $('#contact-modal').remodal();
    $('.open-contact').click(function(e){
    	contactModal.open();
      e.preventDefault;
    });

		//registration modal
		var registrationModal = $('#attendee-form').remodal({hashTracking:false});
		$('.open-registration').click(function(){
			registrationModal.open();
		});


    $('#show-dropdown').click(function(e){
      $(".dropdown-menu").toggleClass("visible");
    });



    $("#view-website").hide();

    $('#view-invite').click(function(e){
        
        $(".dropdown-menu").removeClass("visible");
        $(".full-page-loader").addClass("visible").delay(1000).removeClass("visible", function() {
          $(".show-view").hide();
          $(".show-view.invite-container").show();
          $("#view-switch").html("Previewing invite <i class='icon icon-arrow-down'></i>");
          $("#view-website").show();
          $("#view-invite").hide();
          $("body").addClass("invite-view");

      });
    });


    $('#view-website').click(function(e){
        
        $(".dropdown-menu").removeClass("visible");
        $(".full-page-loader").addClass("visible").delay(1000).removeClass("visible", function() {
          $(".show-view").hide();
          $(".show-view.website-container").show();
          $("#view-switch").html("Previewing website <i class='icon icon-arrow-down'></i>");
          $("#view-invite").show();
          $("#view-website").hide();
          $("body").removeClass("invite-view");

      });
    });






  //confirmation  modal
  var confirmationModal = $('#attendee-confirmation-form').remodal();
    
    



  //UI for navigation panel
  $('.toggleEditorPanel').click(function() {

   var active = $(this).hasClass('active');
   var target = $(this).data('target');
   $('.toggleEditorPanel.active').removeClass("active");

    if (!active) {

      $(".editor-tool").hide();
      $(".editor-tool#" + target).show();
      $(this).addClass("active");
      $(".editor-container").addClass("visible");

    } else {

      $(this).removeClass("active");
      $(".editor-container").removeClass("visible");

    }

 });



  //set current page editor variables

  var published = $('#published').val()? $('#published').val(): "false"; 


  var currentFont = $('#font_type_id').val()? $('#font_type_id').val(): "brandon"; 
  var currentBgOpacity = $('#bg_opacity').val()? $('#bg_opacity').val(): ".5"; 
  var currentBgColor = $('#bg_color').val()? $('#bg_color').val(): "#222"; 
  var currentBg = $('#external_image').val(); 
  var currentBgLoaded = $('#bg').val()? $('#bg').val(): ''; 
  var currentShowCustom = $('#show_custom').val(); 

  var newFont;
  var newBgOpacity;
  var newBgColor;
  var newShowCustom;
  var newBg;

  var tempFont = currentFont;

  var changesExist = false;





$( document ).ready(function() {



    if (published == "true") {
      $(".event-editor-draft-container#event_published").show();
      $(".event-status-notification-banner").show();

    } else {
      $(".event-editor-draft-container#event_draft").show();
    }


    $(".full-page-loader#event-creation-loader").delay(2000).hide(0, function() {    

      $(this).removeClass("visible");
        $(".editor-tool#editor-tool-background").show();
        $(".editor-container").addClass("visible");
      $("#editor-tool-background").addClass("active");

      

    });





}); 



  function requestEdit(feature) {

    if(feature.bgOpacity) {
        newBgOpacity = feature.bgOpacity; 
        if (newBgOpacity != currentBgOpacity) {
             saveChanges();
        }
    }


    if(feature.bgColor) {
        newBgColor = feature.bgColor; 
        if (newBgColor != currentBgColor) {
          saveChanges();
        }
    }


    if( feature.font) {
        console.log(feature.font);
        newFont = feature.font; 
        if (newFont != currentFont) {
            saveChanges();
        }
    }

    if( feature.bg_img) {
        console.log(feature.bg_img);
        newBg = feature.bg_img;
        if (newBg != currentBg) {
            currentBgLoaded = '';
            $('#external_image').val(newBg)
            newShowCustom = true;
            saveChanges();

        }
    }

    if( feature.show_custom) {
        console.log(feature.show_custom);
        newShowCustom = feature.show_custom;
        if (newShowCustom != currentShowCustom) {     
          saveChanges();
        }
    }      

  }


// unsplash api functions
// 


  //modal
    var imageModal = $('#image-search-modal').remodal();
  
    $('.open-image-modal').click(function(e){
        e.preventDefault();
        imageModal.open();
    });


    //hitting enter on image modal search, searches unsplash
    $("#bgSearchTerm").keyup(function (e) {
        if (e.keyCode == 13) {

             $('.search-btn').click();
        }
    });

    $('.search-btn').on('click', function(e) {
        e.preventDefault();
        var searchTerm = $('#bgSearchTerm').val();
        var url = String(window.location.href).replace('?editing=true', '').replace('#', '') + '/unsplash-search';

        $.ajax({
              url: url,
              data: {searchTerm: searchTerm},
              success: function(data) {
                var photoArray = [];

                $('.image-results ul').empty();

                for(var i=0;i<data.length;i++) {
                    var list_image = '<li><img src="'+ data[i].attributes.table.urls.thumb +'"/></li>';
                    photoArray.push(data[i].attributes.table.urls.full);

                    $('.image-results ul').append(list_image);
                }
                $('.image-results ul li').off('click');
                $('.image-results ul li').on('click', function(e) {
                    e.preventDefault();
                    imageModal.close();
                    $('.event-page').attr('style','background-image: url('+photoArray[$(this).index()]+') !important' );
                    $('#bg').val(photoArray[$(this).index()]);
                    $('#show_custom').val(true);
                     requestEdit({bg_img:photoArray[$(this).index()]});
                     requestEdit({show_custom:true});
                })

              },
              error: function(data) {
                $('.image-results ul').append('<li>No results found</li>')
              }
        });

    });
      




  //backgroud opacity slider
    $(function() {
      $( "#slider" ).slider({
        value: (currentBgOpacity != undefined) ? currentBgOpacity*100 : 0,
        slide: function( event, ui ) { 

          var percentage = ui.value/100;
          $(".event-page .overlay").css("opacity", percentage);
          requestEdit({bgOpacity:percentage});
        }
      });
    });


  //background color picker
    $('input#color').minicolors({ 
      position: 'top right', 
      defaultValue: currentBgColor,
      change: function(value, opacity) {
          $(".event-page .overlay").css("background-color", value);
          requestEdit({bgColor:value});

      }
   });

  //change font
  $('.font').click(function() {
      var target = $(this).data('target');
      $('.event-container').removeClass(tempFont); 
      $('.event-container').addClass(target); 
      requestEdit({font:target});
      tempFont = target;

 });




  // publish button 
  $('#publish').click(function(e) {
    e.preventDefault();

    //show the loader
    $(".full-page-loader.saving").show().addClass("visible");

    //close the editor
    $(".editor-container").removeClass("visible");
    $(".tab.active").removeClass("active");
    
    //hide the publish button
    $(".event-editor-draft-container#event_draft").hide();

    published = true;    
    saveChanges(true);

  });







//photo-1443130128240-22fb98ca70a4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e5ef277d1a5f81a1fc520243664aa7cf

  function saveChanges(showCallback) {

    newBg = $('#external_image').val()
    $.ajax({
      type: 'POST',
        url: String(window.location.href).replace('?editing=true', '').replace('?editing=true', '').replace('#', '') + '/updatetheme_post', //testing
        data: {event:{layout_id: layout, published: published, layout_style: theme, bg_color: newBgColor , bg_opacity: newBgOpacity, font_type: newFont, external_image: newBg, show_custom: newShowCustom  }},
    beforeSend: function(){
        
        changesExist = true;
        $("#editor-saving-status").html("<i class='icon icon-loader' style='font-size:30px;'> </i>").show();
    }
      }).done(function(data){
        //console.log(data);
        $('#layout_style').val(theme);
        changesExist = false;
        $("#editor-saving-status").text("Changes saved.").delay(4000).fadeOut();

        if (showCallback) {

          $(".full-page-loader.saving").hide().removeClass("visible");
          $(".event-editor-draft-container#event_published").show();
          eventModal.open();

        }

      });
    }

  });



  //warning before leave page
  window.onbeforeunload = function(e) {
    if(changesExist) {
      return 'You have unsaved pages. Please wait until we have finished saving your event';
    }
  };














  //LOAD THE THEME AND CONSTRUCT

  var theme = $('#layout_style').val()? $('#layout_style').val(): "brunch";   
  var layout = $('#layout_id').val()? $('#layout_id').val(): "1"; 



  $('.theme.active').removeClass("active");
  $('.event-container').removeClass(theme); 
  $('.event-page.' + layout).removeClass('visible'); 

  $('.theme#' + theme).addClass("active");


  $('.event-container').addClass(theme); 
  $('.event-page.' + layout).addClass('visible');    


  $('.theme').click(function() {


    $('.theme.active').removeClass("active");
    
    $('.event-container').removeClass(theme); 

    $(this).addClass('active'); 
    layout = $(this).data('layout'); 
    theme = $(this).data('theme'); 



    if($('#layout_style').val() !== theme   ) {
      $('.save-btn').show();
    }
    
    $('.event-container').addClass(theme); 

    return false;

  });







    var emailInviteModal = $('#email-invite-modal').remodal();
  
    $('.open-link-modal').click(function(){
        emailInviteModal.open();
    });








</script>

