<div class="container event-container">

<% if current_user.premium != true %>
	<div class="ec-banner" style="display: none;">Made with EventCreate</div>
<% end %>

  <div id="eventPage" class="event-page" style="background-image: url(<%= image_path(@event.background_img, :width => 100) if @event.background_img.present?  %>)">

    <div class="overlay"></div>

    <div class="event-info">
    
    
    <div class="event-details"> <%= @event.event_time.strftime("%B %d %I:%M %p") %> | <%= @event.location %> </div>
    

		<div class="share" style="display: none;"><a href="#" class="icon icon-twitter"> </a><a href="#" class="icon icon-facebook"> </a><a href="#" class="icon icon-email"> </a> </div>	
     
     <h1> <%= @event.name %></h1>


     <p class="event-description"><%= @event.description %> </p>

		<a href="#attendee-form" class="btn btn-bordered" id="RSVP">RSVP</a> 

    </div>

         
     
<!--     <ul class="list-unstyled list-inline">
       <li class="yes"><i class="icon icon-check"></i></li>
       <li class="no"><i class="icon icon-x"></i></li>
     </ul>
     </div>-->
    <!-- #B3193F -->
<!--   <strong>Description:</strong>
  <%= @event.description %> -->

<!-- <%= link_to 'Edit', edit_user_event_path(current_user, @event) %> |
  <%= link_to 'Back', user_events_path %> -->
</div>



<div id="attendee-form" >


  <%= form_for(@attendee) do |f| %>
  <% if @attendee.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

    <ul>
      <% @attendee.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>



  <div style="display: none;">


    <ul class="list-inline list-unstyled">
      <li class="input-md">

        <%= f.radio_button :attending, true, :checked => true %>
        <%= f.label :attending, "I'm in!", :value => "true"  %>
      </li>
      <li class="input-md">

        <%= f.radio_button :attending, false %>
        <%= f.label :attending, "Sorry, I can't make it", :value => "false" %>
      </li>
    </ul>
  </div>




	<div class="field">
  <%= f.text_field :first_name, :class => 'input-primary input-md', :placeholder => 'First Name' %>
  </div>
  
 <div class="field"> 
  <%= f.text_field :last_name, :class => 'input-primary input-md', :placeholder => 'Last Name' %>
  </div>

<div class="field">
  <%= f.text_field :email, :class => 'input-primary', :placeholder => 'Email'  %>
</div>


 <div class="field" style="display: none;"> 
  <%= f.text_field :phone_number, :class => 'input-primary', :placeholder => 'Phone Number'  %>
  </div>
  
<!-- 
  <%= f.text_field :message, :class => 'input-primary input-lg', :placeholder => "Public message (i.e., I Can't Wait!)" %> -->

	<br>
  <%= hidden_field_tag 'event_id', @event.id%>
  <%= f.submit "Submit my RSVP", :class => 'btn btn-bordered hover-color' %>
  <% end %>





</div>

</div>