<div class="container event-container">

  <%= hidden_field_tag 'layout_id', @style_id %>
  <%= hidden_field_tag 'layout_style', @style_layout %>

<!-- 

<% if @event.background_img.present?  %>
  <div id="eventPage" class="event-page" style="background-image: url(<%= image_path(@event.background_img, :width => 100) if @event.background_img.present?  %>)">
<% else %>
  <div id="eventPage" class="event-page" style="background-image: url(<%= image_path(@background_style, :width => 100) %>)">
<% end %>

    <div class="overlay"></div>

    <div class="event-info">
    
    <div class="event-details"> <%= @event.location %> </div>
  -->
  <div class="event-page 1" style="background-image: url(<%= image_path(@event.background_img, :width => 100) if @event.background_img.present?  %>)">
   <div class="overlay"></div>

   <div class="event-details">
    <% if(@event.time_display == false) %>
      <% if(@event.date_start != '') %>
        <%= @event.date_start.to_date.strftime("%B %d") %> 
      <% end %>
      <% if(@event.date_end != '' && @event.date_end != @event.date_start) %>
        - <%= @event.date_end.to_date.strftime("%B %d") %> 
      <% end %>
      <% if(@event.time_start != '') %>
        <%= @event.time_start.to_time.strftime("%l:%M %p") %>
      <% end %>
      <% if(@event.time_end != '') %>
        - <%= @event.time_end.to_time.strftime("%l:%M %p") %> 
      <% end %>
     <%else%>
     TBD
     <%end%><br> <%= @event.location %> </div>
     <div class="event-info">  
      <h1> <%= @event.name %></h1>
      <p class="event-description"><%= @event.description %> </p>
      <a href="#" class="btn btn-bordered rsvp">RSVP</a> 
    </div>
  </div>

  <div class="event-page 2" style="background-image: url(<%= image_path(@event.background_img, :width => 100) if @event.background_img.present?  %>)">
   <div class="overlay"></div>
   <div class="event-info">  
    <h1> <%= @event.name %></h1>
    <div class="event-details"> 
      <% if(@event.time_display == false) %> 
        <% if(@event.date_start != '') %>
          <%= @event.date_start.to_date.strftime("%B %d") %> 
        <% end %>
      <% if(@event.date_end != '' && @event.date_end != @event.date_start) %>
          - <%= @event.date_end.to_date.strftime("%B %d") %> 
        <% end %>
        <% if(@event.time_start != '') %>
          <%= @event.time_start.to_time.strftime("%l:%M %p") %>
        <% end %>
        <% if(@event.time_end != '') %>
          - <%= @event.time_end.to_time.strftime("%l:%M %p") %> 
        <% end %>
      <%else%>
      TBD | 
      <%end%>
       <%= @event.location %>
      </div>
      <p class="event-description"><%= @event.description %> </p>

      <a href="#" class="btn btn-bordered rsvp">RSVP</a> 
    </div>
  </div> 




  <div class="event-page 3" style="background-image: url(<%= image_path(@event.background_img, :width => 100) if @event.background_img.present?  %>)">
   <div class="overlay"></div>
   <div class="event-info">  
    <div class="event-time"> 
      <% if(@event.time_display == false) %>  
      <% if(@event.date_end != '' && @event.date_end != @event.date_start) %>
          <%= @event.date_start.to_date.strftime("%m.%d.%Y") %> 
        <% end %>
      <%else%> 
        Date TBD Soon 
      <%end%>  
    </div>
      <h1> <%= @event.name %> at <%= @event.location %>  </h1>
      <p class="event-description"><%= @event.description %> </p>
      <a href="#" class="btn btn-bordered rsvp">RSVP</a> 
    </div>
  </div> 



</div>



<div id="attendee-form" name="attendee-form" >


  <%= form_for(@attendee) do |f| %>
  <% if @attendee.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

    <ul>
      <% @attendee.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>



  <div style="display: none;">


    <ul class="list-inline list-unstyled">
      <li class="input-md">

        <%= f.radio_button :attending, true, :checked => true %>
        <%= f.label :attending, "I'm in!", :value => "true"  %>
      </li>
      <li class="input-md">

        <%= f.radio_button :attending, false %>
        <%= f.label :attending, "Sorry, I can't make it", :value => "false" %>
      </li>
    </ul>
  </div>




  <div class="field">
    <%= f.text_field :first_name, :class => 'input-primary input-md', :placeholder => 'First Name' %>
  </div>
  
  <div class="field"> 
    <%= f.text_field :last_name, :class => 'input-primary input-md', :placeholder => 'Last Name' %>
  </div>

  <div class="field">
    <%= f.text_field :email, :class => 'input-primary', :placeholder => 'Email'  %>
  </div>


  <div class="field" style="display: none;"> 
    <%= f.text_field :phone_number, :class => 'input-primary', :placeholder => 'Phone Number'  %>
  </div>
  
<!-- 
  <%= f.text_field :message, :class => 'input-primary input-lg', :placeholder => "Public message (i.e., I Can't Wait!)" %> -->

  <br>
  <%= hidden_field_tag 'event_id', @event.id%>
  <%= hidden_field_tag 'user_id', @event.user_id %>
  <%= f.submit "Submit my RSVP", :class => 'btn btn-bordered hover-color' %>
  <% end %>





</div>

</div>

<script type="text/javascript">

 function startIntro(){
  var intro = introJs();
  intro.setOptions({
    steps: [
    { 
      intro: "<h3>Done! </h3> <p>Your website is now live and ready to share. It doesn't get much easier than that!</p> "
    },

    { 
      element: "#event-edit",
      intro: "<h4>Edit away</h4><p>Need to make some final tweaks or edits? You can quickly modify your text or design. </p>",
      position:'left'
    },  
    { 
     element: "#event-editor-share",
     intro: "<h4>Don't forget to share</h4><p>Easily share and market your event website via email, facebook, or twitter. Attracting attendess never got so easy. </p>",
     position:'left'
   },    
   { 
     element: "form",
     intro: "<h4>Collect registrations</h4><p>Once you've shared your website, your guests can register here. That's it!</p>",
     position:'top'

   }                     


   ]
 });

  intro.start();
}



$( document ).ready(function() {
	$("#event-share").click(function() {
   $(".event-share").toggle();
 });
	$("#share-url").val(window.location.href); 
	$("#email-share").attr("href", "mailto:?subject=Join me at my event&body=Join me at my event. Register now at " +  window.location.href ); 
	$("#twitter-share").attr("href", "http://twitter.com/home?status=Join me at my event. Register now at " +  window.location.href ); 
	
	$(".theme").click(function() {
   var theme = $(this).data("theme");
   $(".event-container").addClass(theme);

 });
	
	//startIntro();
});



</script>