<!-- Event Show Page -->


<!-- meta information -->
<% title @event.name %>
<% meta_description 'Create stunning websites in seconds.' %>



<div class="event-container">
  <%= hidden_field_tag 'layout_id', @event.layout_id %>
  <%= hidden_field_tag 'layout_style', @event.layout_style %>
  <%= hidden_field_tag 'event_id', @event.id %>
  <%= hidden_field_tag 'show_custom', @event.show_custom %>
  <%= hidden_field_tag 'bg', @event.background_img %>

	<div class="event-page 1" style="background-image: url(<%= image_path(@event.background_img, :width => 100) if @event.background_img.present?  %>)">
	  <div class="overlay"></div>
		<div class="header"> 
				<div class="event-share">

      
					<a href="https://www.facebook.com/sharer/sharer.php?u=<%= @bitly.short_url %>"><i class="icon icon-facebook-1"> </i> </a>
					<a href="https://twitter.com/home?status=Registration%20is%20now%20open%20at%20<%= @bitly.short_url %>"><i class="icon icon-twitter-2"> </i> </a>
					<a href="#"><i class="icon icon-gplus"> </i> </a>
				</div>

	     <h1> <%= best_in_place @event, :name, :url => update_event_path(@event) %></h1> 
      <!-- close registration if event start time has past -->      
      <% if (@event.time_start.nil?) %>
       <% if(Time.now.utc.strftime( "%H%M%S%N" ) > @event.time_start.to_time.utc.strftime( "%H%M%S%N" ) &&  DateTime.now.to_date == @event.date_start.to_date) %> 
        <div class="btn btn-bordered rsvp open-registration">Registration Closed</div> 
      <%  else  %>
        <a class="btn btn-bordered rsvp open-registration">Register Now</a>
      <% end %>
      <% end %>
      <!-- registration button end -->
		</div>

	  </div>

</div>
 
<div class="event-body"> 
	<div class="event-meta-container"> 
		<div class="event-meta">
			<i class="icon icon-calendar"></i>
			
			 <% if(@event.date_start != '' && !@event.date_start.nil?) %>
		
			    <%= @event.date_start.to_date.strftime("%B") %> 
		
			
			    <%= @event.date_start.to_date.strftime("%e, ") %>
			
			    <%= @event.date_start.to_date.strftime("%Y") %> 
			
			
  			    <% if(@event.time_start != '' && !@event.time_start.nil?) %> <br> 
  			     <%= @event.time_start.to_time.strftime("%l:%M %p") %>
  			    <% end %>
			    <%else%>
			    TBD
			    <%end%>

          <div class="event-meta-actions">  
            <%=link_to 'Add to calendar', export_events_path %>  
          </div>    

		</div>
		<div class="event-meta">
			<i class="icon icon-location"></i>
      <%= @event.location_name %> <br>
			<span class="location"><%= @event.location %></span>
      
      <div class="event-meta-actions">
          <a href="http://maps.google.com/?q=<%= @event.location %>" target="_blank">Get Directions </a>  
      </div>

		</div>		
	</div>
	<div class="event-description">
  	<p class="event-description"><%= best_in_place @event, :description, :url => update_event_path(@event), as: :textarea %> </p>
	</div>	
	<div class="event-action-container">
		<a class="btn btn-large open-registration">Register Now</a>
		<a class="btn btn-large open-contact" style="display:none;">Contact Host</a>
	</div>
</div>	

<% if(!@event.location.nil? || @event.location != '' || !@event.location.empty? ) %>
<div class="map-container" >
	<div id="map"></div>
	<a class="map-cover" href="http://maps.google.com/?q=<%= @event.location %>" target="_blank"> </a>
</div>
<% end %>
<div class="credit"> 
	<div>made with</div> 
	<a href="http://www.eventcreate.com/"><img src="<%= asset_path 'event_create_logo_gray.png' %>"/> </a>
</div>
<%= render 'editor' %>
<%= render 'events/partials/contact_form' %>
<%= render 'events/partials/rsvp_form' %>




















<script type="text/javascript">

$( document ).ready(function() {
  $('.event-editor-background .image').removeClass().addClass('image '+ $('#layout_style').val());
  $("#event-share").click(function() {
   $(".event-share").toggle();
 });
  //$("#share-url").val(window.location.href); 
  $("#email-share").attr("href", "mailto:?subject=Join me at my event&body=Join me at my event. Register now at " +  $('#share-url').val() ); 
  $("#twitter-share").attr("href", "http://twitter.com/home?status=Join me at my event. Register now at " +  $('#share-url').val() ); 

  $(".theme").click(function() {
   var theme = $(this).data("theme");
   $(".event-container").addClass(theme);
   if($('.event-editor-background > a.default.highlight').length > 0) {
    $('.event-page').css('background-image', '')
  }

  $('.event-editor-background .image').removeClass().addClass('image '+theme);

});

	//startIntro();

    //contact host modal
    var contactModal = $('#contact-modal').remodal();
    $('.open-contact').click(function(){
    	contactModal.open();
    });

		//contact host modal
		var registrationModal = $('#attendee-form').remodal({hashTracking:false});
		$('.open-registration').click(function(){
			registrationModal.open();
		});






  $('.toggleEditorPanel').click(function() {

    var target = $(this).attr("id");
    var linkActive = $("." + target).hasClass('active');    
    var panelOpen = $('body').hasClass('editor-open');

    
    if (linkActive == false && panelOpen == false) {
      $('body').addClass('editor-open'); 
      
      $(this).addClass('active')
      $("." + target).addClass('active')
      
      $("." + target + " a").each(function(i) {
        $(this).delay((i++) * 50).fadeTo(100, 1); 
      });
      

    }
    else if (linkActive == false && panelOpen == true) {
      console.log('link active false');

      $('.toggleEditorPanel').removeClass('active');
      $(this).addClass('active');


      $('.event-editor-container .active a').each(function(i) {
        $(this).delay((i++) * 50).fadeTo(100, 0); 
      });
      
      $('.event-editor-container .active').removeClass('active');
      
      $("." + target).addClass('active');   
      
      $("." + target + " a").each(function(i) {
       $(this).delay((i++) * 50).fadeTo(100, 1); 
     }); 
      
    }
    else if (linkActive == true && panelOpen == true) {
     console.log('link active true');

     $(this).removeClass('active')

     $('body').removeClass('editor-open');       
     $('.event-editor-container .active a').each(function(i) {
      $(this).delay((i++) * 50).fadeTo(100, 0); 
    });

     $('.event-editor-container .active').removeClass('active');


   } 


 });


  //LOAD THE THEME AND CONSTRUCT

  var theme = $('#layout_style').val()? $('#layout_style').val(): "brunch";   
  var layout = $('#layout_id').val()? $('#layout_id').val(): "1"; 


  $('.theme.active').removeClass("active");
  $('.event-container').removeClass(theme); 
  $('.event-page.' + layout).removeClass('visible'); 

  $('.theme#' + theme).addClass("active");


  $('.event-container').addClass(theme); 
  $('.event-page.' + layout).addClass('visible');    

  
  $('.theme').click(function() {


    $('.theme.active').removeClass("active");
    
    $('.event-container').removeClass(theme); 

    $(this).addClass('active'); 
    layout = $(this).data('layout'); 
    theme = $(this).data('theme'); 


    if($('#layout_style').val() !== theme) {
      $('.save-btn').show();
    }
    
    $('.event-container').addClass(theme); 

    return false;

  });

  // save button 
  $('#save').click(function(e) {
    saveTheme();
  });

  //warning before leave page
  window.onbeforeunload = function(e) {
    if($('#layout_style').val() !== theme) {
      return 'You have unsaved pages. Do you want to leave this page without saving?';
    }
  };
  

  function saveTheme() {
    $.ajax({
      type: 'POST',
        url: String(window.location.href).replace('#', '') + '/updatetheme_post', //testing
        data: {event:{layout_id: layout, layout_style: theme}}
      }).done(function(data){
        console.log(data);
        $('#layout_style').val(theme);
      });
    }

  });



</script>

