<% title @event.name %>
<% meta_description 'Create stunning websites in seconds.' %>




<div class="container event-container">

  <%= hidden_field_tag 'layout_id', @event.layout_id %>
  <%= hidden_field_tag 'layout_style', @event.layout_style %>

<!-- 

<% if @event.background_img.present?  %>
  <div id="eventPage" class="event-page" style="background-image: url(<%= image_path(@event.background_img, :width => 100) if @event.background_img.present?  %>)">
<% else %>
  <div id="eventPage" class="event-page" style="background-image: url(<%= image_path(@background_style, :width => 100) %>)">
<% end %>

    <div class="overlay"></div>

    <div class="event-info">
    
    <div class="event-details"> <%= @event.location %> </div>
  -->


  <div class="event-page 1" style="background-image: url(<%= image_path(@event.background_img, :width => 100) if @event.background_img.present?  %>)">

   <div class="overlay"></div>

   <div class="event-details">
    <% if(@event.time_display == false || !@event.date_start.nil? || !@event.date_start.blank? ) %>
    <% if(@event.date_start != '') %>
    <%= @event.date_start.to_date.strftime("%B") %> 

    <%= @event.date_start.to_date.strftime("%e") %><% if(@event.date_end.to_date.strftime("%Y") != @event.date_start.to_date.strftime("%Y") || @event.date_end == @event.date_start ) %>,<% end %>
    <% if(@event.date_end.to_date.strftime("%Y") != @event.date_start.to_date.strftime("%Y") || @event.date_end == @event.date_start ) %>
    <%= @event.date_start.to_date.strftime("%Y") %> 
    <% end %>
    <% end %>
    <% if(@event.date_end != '' && @event.date_end != @event.date_start) %>
    -   

    <% if(@event.date_end.to_date.strftime("%B") != @event.date_start.to_date.strftime("%B")) %>
    <%= @event.date_end.to_date.strftime("%B") %> 
    <%end %>

    <%= @event.date_end.to_date.strftime("%e, ") %>

    <%= @event.date_end.to_date.strftime("%Y") %> 


    <% end %>
    <% if(@event.time_start != '') %> | 
    <%= @event.time_start.to_time.strftime("%l:%M %p") %>
    <% end %>
    <% if(@event.time_end != '' && ( @event.time_end != @event.time_start  )) %>
    - <%= @event.time_end.to_time.strftime("%l:%M %p") %> 
    <% end %>
    <%else%>
    TBD
    <%end%><br>  <%= best_in_place @event, :location, :url => update_event_path, :class => 'location' %> </div>
    <div class="event-info">  
     <h1> <%= best_in_place @event, :name, :url => update_event_path %></h1> 
     <p class="event-description"><%= best_in_place @event, :description, :url => update_event_path, as: :textarea %></p>
     <a href="#" class="btn btn-bordered rsvp">RSVP</a> 

   </div>
   <i class="more fa fa-chevron-down"></i>
 </div>

 <div class="event-page 2" style="background-image: url(<%= image_path(@event.background_img, :width => 100) if @event.background_img.present?  %>)">

   <div class="overlay"></div>
   <div class="event-info">  
    <h1> <%= best_in_place @event, :name, :url => update_event_path %></h1>
    <div class="event-details"> 
      <% if(@event.time_display == false) %> 
      <% if(@event.date_start != '') %>
      <%= @event.date_start.to_date.strftime("%B %d") %> 
      <% end %>
      <% if(@event.date_end != '' && @event.date_end != @event.date_start) %>
      - <%= @event.date_end.to_date.strftime("%B %d") %> 
      <% end %>
      <% if(@event.time_start != '') %>
      <%= @event.time_start.to_time.strftime("%l:%M %p") %>
      <% end %>
      <% if(@event.time_end != ''  && ( @event.time_end != @event.time_start  )) %>
      - <%= @event.time_end.to_time.strftime("%l:%M %p") %> 
      <% end %>
      <%else%>
      TBD | 
      <%end%>
      <span class="location"> <%= best_in_place @event, :location, :url => update_event_path %></span>
    </div>
    <p class="event-description"><%= best_in_place @event, :description, :url => update_event_path, as: :textarea %> </p>

    <a href="#" class="btn btn-bordered rsvp">RSVP</a> 

  </div>
  <i class="more fa fa-chevron-down"></i>
</div> 




<div class="event-page 3" style="background-image: url(<%= image_path(@event.background_img, :width => 100) if @event.background_img.present?  %>)">
 <div class="overlay"></div>
 <div class="event-info">  
  <div class="event-time"> 
    <% if(@event.time_display == false) %>  
    <% if(@event.date_start != '') %>
    <%= @event.date_start.to_date.strftime("%m.%d.%Y") %> 
    <% end %>

    <%else%> 
    Date TBD Soon 
    <%end%>  
  </div>
  <h1> <%= best_in_place @event, :name, :url => update_event_path %> at <span class="location"> <%= best_in_place @event, :location, :url => update_event_path %> </span> </h1>
  <p class="event-description"><%= best_in_place @event, :description, :url => update_event_path, as: :textarea %> </p>
  <a href="#" class="btn btn-bordered rsvp">RSVP</a> 

</div>
<i class="more fa fa-chevron-down"></i>
</div> 

</div>



<div id="attendee-form" name="attendee-form" >


  <%= form_for(@attendee) do |f| %>
  <% if @attendee.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

    <ul>
      <% @attendee.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>



  <div style="display: none;">


    <ul class="list-inline list-unstyled">
      <li class="input-md">

        <%= f.radio_button :attending, true, :checked => true %>
        <%= f.label :attending, "I'm in!", :value => "true"  %>
      </li>
      <li class="input-md">

        <%= f.radio_button :attending, false %>
        <%= f.label :attending, "Sorry, I can't make it", :value => "false" %>
      </li>
    </ul>
  </div>




  <div class="field">
    <%= f.text_field :first_name, :class => 'input-primary input-md', :placeholder => 'First Name' %>
  </div>
  
  <div class="field"> 
    <%= f.text_field :last_name, :class => 'input-primary input-md', :placeholder => 'Last Name' %>
  </div>

  <div class="field">
    <%= f.text_field :email, :class => 'input-primary', :placeholder => 'Email'  %>
  </div>


  <div class="field" style="display: none;"> 
    <%= f.text_field :phone_number, :class => 'input-primary', :placeholder => 'Phone Number'  %>
  </div>
  
<!-- 
  <%= f.text_field :message, :class => 'input-primary input-lg', :placeholder => "Public message (i.e., I Can't Wait!)" %> -->

  <br>
  <%= hidden_field_tag 'event_id', @event.id%>
  <%= hidden_field_tag 'user_id', @event.user_id %>
  <%= f.submit "Submit my RSVP", :class => 'btn btn-bordered hover-color' %>
  <% end %>





</div>

</div>



<div id="map"></div>


<% if signed_in? && current_user.id == @user.id %>

<div class="event-editor-container"> 

 <!--START CONTROLS-->
 <div class="event-editor-controls" >

  <div class="tabs">
   <a class="tab toggleEditorPanel" id="event-editor-design" ><i class="icon icon-edit-website"> </i> Change Theme </a>
   <a class="tab toggleEditorPanel" ><i class="icon icon-image"> </i> Modify background Image </a> 
   <a class="tab toggleEditorPanel"  id="event-editor-share"><i class="icon icon-share"> </i> Share </a> 
 </div>


 <div class="actions" style="display: none;"> 
   <a id="save" > save changes  </a>   			
   <a id="close" ><i class="icon icon-close"> </i>  </a> 

 </div>



</div>
<!--END CONTROLS -->


<div class="event-editor"> 


 <!--START THE SHARE -->
 <div class="event-editor-share">
   <a href="#" id="twitter-share" target="_blank">Share on Twitter  <i class="icon icon-twitter"> </i> </a>        	
   <a href="#" id="email-share">Send email invite <i class="icon icon-email"> </i>  </a>        	
   <a href="#">Share the link   <input id="share-url" type="text" value="www.eventcreate.com/2" readonly onClick="this.select();"> 
   </a>   
 </div>
 <!--END THE SHARE -->



 <!--START THE THEMES-->
 <div class="event-editor-design" >

  <a href="#" class="theme" data-layout="1" data-theme="brunch" id="brunch"><img src="/assets/themes/brunch.jpg"  >
    Get together 
  </a>	
  <a href="#"  class="theme" data-layout="2" data-theme="nyc" id="nyc"><img src="/assets/themes/nyc.jpg">
    NYC Party 							
  </a>   
  <a  class="theme" href="#"  data-layout="2" data-theme="confetti" id="confetti"><img src="/assets/themes/confetti.jpg"  >
    Elegant Affiar 
  </a> 

  <a class="theme" href="#" data-layout="1" data-theme="sunset" id="sunset"><img src="/assets/themes/summer.jpg"  >   Summer celebration </a>	

  <a href="#" class="theme" href="#" data-layout="2" data-theme="linen" id="linen"><img src="/assets/themes/linen.jpg"> State dinner  </a>   


  <a href="#" class="theme" href="#" data-layout="3" data-theme="flower" id="flower"><img src="/assets/themes/flower.jpg"> Anniversary party  </a>	     	
</div>
<!--END THEMES -->




<!--START THE BG UPLOAD-->
<div class="event-editor-background" >


 <a href="#" class="default"> 


  <div class="image"></div></a>	
  <a href="#" id="custom-image"><div class="upload" style="background-image:url('<%= @event.background_img%>')">  </div> 
    <div style="display:none;" ><%= image_tag(@event.background_img, id: 'image_color', crossOrigin: 'anonymous')  %></div>

    <%= form_for @event, url: user_event_path(@user, @event), :html => {:id => "background_form"} do |f| %>
    

    <%= hidden_field_tag 'show_custom', @event.show_custom %>
    <label for="custom-file-input" class="file-label">Upload Your Own</label>
    <%= f.file_field :background_img, :id => 'custom-file-input' %> 


    <% end %> 

    <script id="template-upload" type="text/x-tmpl">
    <div class="uploader">
    <div class="progress"><div class="bar" style="width:0%;"></div></div>
    </div>
    </script>

  </a>				 	
</div>
<!--END BG -->




</div>







</div>

<% end %>




<script type="text/javascript">

function startIntro(){
  var intro = introJs();
  intro.setOptions({
    steps: [
    { 
      intro: "<h3>Done! </h3> <p>Your website is now live and ready to share. It doesn't get much easier than that!</p> "
    },

    { 
      element: "#event-edit",
      intro: "<h4>Edit away</h4><p>Need to make some final tweaks or edits? You can quickly modify your text or design. </p>",
      position:'left'
    },  
    { 
     element: "#event-editor-share",
     intro: "<h4>Don't forget to share</h4><p>Easily share and market your event website via email, facebook, or twitter. Attracting attendess never got so easy. </p>",
     position:'left'
   },    
   { 
     element: "form",
     intro: "<h4>Collect registrations</h4><p>Once you've shared your website, your guests can register here. That's it!</p>",
     position:'top'

   }                     


   ]
 });

  intro.start();
}



$( document ).ready(function() {
  $('.event-editor-background .image').removeClass().addClass('image '+ $('#layout_style').val());

  $("#event-share").click(function() {
   $(".event-share").toggle();
 });
  $("#share-url").val(window.location.href); 
  $("#email-share").attr("href", "mailto:?subject=Join me at my event&body=Join me at my event. Register now at " +  window.location.href ); 
  $("#twitter-share").attr("href", "http://twitter.com/home?status=Join me at my event. Register now at " +  window.location.href ); 

  $(".theme").click(function() {
   var theme = $(this).data("theme");
   $(".event-container").addClass(theme);
   if($('.event-editor-background > a.default.highlight').length > 0) {
    $('.event-page').css('background-image', '')
  }

  $('.event-editor-background .image').removeClass().addClass('image '+theme);

});

	//startIntro();






  $('.toggleEditorPanel').click(function() {

    var target = $(this).attr("id");
    var linkActive = $("." + target).hasClass('active');    
    var panelOpen = $('body').hasClass('editor-open');

    
    if (linkActive == false && panelOpen == false) {
      $('body').addClass('editor-open'); 
      
      $(this).addClass('active')
      $("." + target).addClass('active')
      
      $("." + target + " a").each(function(i) {
        $(this).delay((i++) * 50).fadeTo(100, 1); 
      });
      

    }
    else if (linkActive == false && panelOpen == true) {
      console.log('link active false');

      $('.toggleEditorPanel').removeClass('active');
      $(this).addClass('active');


      $('.event-editor-container .active a').each(function(i) {
        $(this).delay((i++) * 50).fadeTo(100, 0); 
      });
      
      $('.event-editor-container .active').removeClass('active');
      
      $("." + target).addClass('active');   
      
      $("." + target + " a").each(function(i) {
       $(this).delay((i++) * 50).fadeTo(100, 1); 
     }); 
      
    }
    else if (linkActive == true && panelOpen == true) {
     console.log('link active true');

     $(this).removeClass('active')

     $('body').removeClass('editor-open');       
     $('.event-editor-container .active a').each(function(i) {
      $(this).delay((i++) * 50).fadeTo(100, 0); 
    });

     $('.event-editor-container .active').removeClass('active');


   } 


 });


  //LOAD THE THEME AND CONSTRUCT

  var theme = $('#layout_style').val()? $('#layout_style').val(): "brunch";   
  var layout = $('#layout_id').val()? $('#layout_id').val(): "1"; 




  $('.theme.active').removeClass("active");
  $('.event-container').removeClass(theme); 
  $('.event-page.' + layout).removeClass('visible'); 

  $('.theme#' + theme).addClass("active");


  $('.event-container').addClass(theme); 
  $('.event-page.' + layout).addClass('visible');    





  
  $('.theme').click(function() {

    $('.theme.active').removeClass("active");
    
    $('.event-container').removeClass(theme); 
    $('.event-page.' + layout).removeClass('visible'); 

    $(this).addClass('active'); 
    layout = $(this).data('layout'); 
    theme = $(this).data('theme'); 

    console.log('layout value: '+ layout + ' || layout style: '+ theme);
    
    $('.event-container').addClass(theme); 
    $('.event-page.' + layout).addClass('visible'); 
    
    //MAKE AJAX CALL TO SAVE
    saveTheme()

    return false;

  });
  

  function saveTheme() {
    $.ajax({
      type: 'POST',
        url: String(window.location.href).replace('#', '') + '/updatetheme', //testing
        data: {event:{layout_id: layout, layout_style: theme}}
      }).done(function(data){
        console.log(data);
      });
    }

  });



</script>

