<% title @event.name.html_safe %>
<% meta_description 'Create stunning websites in seconds.' %>
<div class="show-container buy-container">
    



    <div class="event-page 1 visible event-buy-page" style="background-image: url(<%= image_path(background_checker(@event, false), :width => 100) %> ) !important">
      
      <div class="overlay" style="opacity: <%= @event.bg_opacity %>;background-color:<%= @event.bg_color %>;"></div>

      <div class="header"> 
         <h2> <%= @event.name %></h2>
         <p><%= show_proper_date(@event, true) %> </p>        
      </div>

    </div> 


    <div class="confirm-container">

      <h2>Nice! You're going to <%= @event.name %>! </h2>
      <p>Your order has been successfully processed, and we've sent your tickets and a receipt to your <%= @purchase.email %>. In case you need it, your order number is: <%= @purchase.id %>. Thanks for joining us. We look forward to seeing you there.</p>
      

      <div class="ticket-btn-container">
<%= link_to ('<i class="icon icon-print"> </i> Print My Ticket(s) Now ').html_safe, show_ticket_path(:oid => @purchase.id, format: :pdf), :class => 'btn', data: { type: :pdf }, :target => '_blank'   %> </div>



      <h3>Now, tell your friends. </h3>
      <a href="https://www.facebook.com/sharer/sharer.php?u=<%= @eventurl %>" class="btn btn-facebook"><i class="icon icon-facebook"> </i> Tell people you are coming</a> 


    </div>

  



    

  <div class="credit"> 
    <div>made with</div> 
    <a href="http://www.eventcreate.com/"><img src="<%= asset_path 'event_create_logo_gray.png' %>"/> </a>
  </div>



</div>







