<% title @event.name.html_safe %>
<% meta_description 'Create stunning websites in seconds.' %>
<div class="show-container buy-container">
    



    <div class="event-page 1 visible event-buy-page" style="background-image: url(<%= image_path(background_checker(@event, false), :width => 100) %> ) !important">
      
      <div class="overlay" style="opacity: <%= @event.bg_opacity %>;background-color:<%= @event.bg_color %>;"></div>

      <div class="header"> 
         <h2> <%= @event.name %></h2>
         <p><%= show_proper_date(@event, true) %> </p>        
      </div>

    </div> 


<h1>Thank you </h1>
  



</div>



<script type="text/javascript" src="/assets/payment-modal.js"></script>





