
<div class="container event-container">



  <div id="eventPage" class="event-page" style="background-image: url(<%= image_path(@event.background_img, :width => 100) if @event.background_img.present?  %>)">

    <div class="overlay"></div>

    <div class="event-info">

     <h1> <%= @event.name %></h1>


     <p class="lead"><%= @event.description %> </p>
     <p class="lead"> <%= @event.event_time.strftime("%B %d %I:%M %p") %> | <%= @event.location %></p>



    </div>

     <div class="checkmarks">
     <ul class="list-unstyled list-inline">
       <li class="yes"><i class="fa fa-check"></i></li>
       <li class="no"><i class="fa fa-close"></i></li>
     </ul>
     </div>
    <!-- #B3193F -->
<!--   <strong>Description:</strong>
  <%= @event.description %> -->

<!-- <%= link_to 'Edit', edit_user_event_path(current_user, @event) %> |
  <%= link_to 'Back', user_events_path %> -->
</div>



<div id="attendee-form" >


  <%= form_for(@attendee) do |f| %>
  <% if @attendee.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

    <ul>
      <% @attendee.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>



  <div>


    <ul class="list-inline list-unstyled">
      <li class="input-md">

        <%= f.radio_button :attending, true, :checked => true %>
        <%= f.label :attending, "I'm in!", :value => "true"  %>
      </li>
      <li class="input-md">

        <%= f.radio_button :attending, false %>
        <%= f.label :attending, "No", :value => "false" %>
      </li>
    </ul>
  </div>





  <%= f.text_field :first_name, :class => 'input-primary input-md', :placeholder => 'First Name' %>
  
  <%= f.text_field :last_name, :class => 'input-primary input-md', :placeholder => 'Last Name' %>


  <%= f.text_field :email, :class => 'input-primary input-md', :placeholder => 'Email'  %>

  <%= f.text_field :phone_number, :class => 'input-primary input-md', :placeholder => 'Phone Number'  %>

  <%= f.text_field :message, :class => 'input-primary input-lg', :placeholder => "Public message (i.e., I Can't Wait!)" %>


  <%= hidden_field_tag 'event_id', @event.id %>
  <%= f.submit "RSVP", :class => 'btn btn-bordered hover-color' %>
  <% end %>





</div>

</div>