
<div class="container">


<div class="overlay"></div>

<div class="event-page" style="background-image: url(<%= image_path(@event.background_img, :width => 100) if @event.background_img.present?  %>)"></div>
<div class="event-info">
 <h1> <%= @event.name %></h1>

<p class="lead">
  <%= @event.time %> | <%= @event.location %></p>


<!--   <strong>Description:</strong>
  <%= @event.description %> -->

<!-- <%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> -->
</div>
