<% title "Beautiful event websites | EventCreate" %>
<% meta_description 'Create a beautiful event website in less than 30 seconds. ' %>




<div class="container">


	<div class="row">
		<div class="col-md-12 text-center home-primary">
			<h1>Create a beautiful event website </h1>
			<p>Create a stunning, white-labelled event website. Collect registrations, sell tickets and plan spectacular events. It's easy and free. </p>
			<p><%= link_to 'Get started for free ', new_user_registration_path, :class => 'btn btn-large'  %></p>
			<div id="home-example2">
				<img src="/assets/home/sample_1.jpg" class="img-responsive" />	
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive" src="assets/home/all_in_one.jpg" />
		</div>
		<div class="col-md-6 home-secondary">
			<h2>All-in-one platform</h2>
			<p>	An all-in-one platform for event management, EventCreate provides a host of easy-to-use event tools, allowing anyone to seamlessly create custom event websites, send invites, sell tickets and manage attendees.  </p>	 
			<p><%= link_to 'View all features ', '/features', :class => 'btn '  %></p>

		</div>
	</div>





	<div class="row">
		<div class="col-md-5 home-secondary">
			<h2>Customization services</h2>
			<p>	Looking for a custom design, or bespoke ticketing solution? We have more than 30 years of  event planning and software development experience, and we're here to help.  </p>	
			<p><%= link_to 'Learn more about customization ', '/customization', :class => 'btn '  %></p>
 
		</div>
		<div class="col-md-7">
			<img class="img-responsive" src="assets/home/sample_computer.jpg" />
		</div>		
	</div>


</div>





<div id="home-cta">
	<div class="container text-center">
		<h2> Create your stunning event website now </h2>
		<p class="lead">Get started in less than 30 seconds. It's easy and free.</p>
		<%= link_to 'Get started for free', new_user_registration_path, :class => 'btn btn-large'  %>
	</div>
</div>
	



<%= render 'pages/partials/footer' %> 	



<script>
$(function() {
    
	var mobileCarousel = $('#example-mobile-carousel').owlCarousel({
	    loop:true,
	    items:1,
	    nav:false,
	    dots:false,
	    smartSpeed:500
	});
	var desktopCarousel = $('#example-desktop-carousel').owlCarousel({
	    loop:true,
	    items:1,
	    nav:false,
	    dots:false,
	    smartSpeed:500
	});

    $('.arrow-right').click(function(){ 
        mobileCarousel.trigger('next.owl.carousel');
        desktopCarousel.trigger('next.owl.carousel');
    });
    $('.arrow-left').click(function(){ 
        mobileCarousel.trigger('prev.owl.carousel');
        desktopCarousel.trigger('prev.owl.carousel');
    });    
    desktopCarousel.on('changed.owl.carousel', function(event) {
        var examples = [
		    "Google",
		    "Habitat for Humanity"
		];
		//correct for incorrect index bug 
		var owlCorrection = 3;
		//$(".example-description").html(examples[event.item.index - owlCorrection]);
    });
  

});



</script> 	