<% title "Beautiful event websites | EventCreate" %>
<% meta_description 'Create a beautiful event website in less than 30 seconds. ' %>





<div class="intro" id="intro-offer">

	<div class="cover"> </div>
	<div class="container">

		<div class="row">

		<div class="col-md-6">
			<h1>Sell tickets with EventCreate and get $500 on us</h1>
			<p class="lead">Try out EventCreate for your next big event, and we'll pay you up to $500. We know you'll love it.  </p>
		</div>


		<div class="col-md-5 col-md-offset-1">



		  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		    <%= devise_error_messages! %>

		    <div class="input-group">
		      <label>Your email address</label>
		      <%= f.email_field :email, autofocus: true, :class => 'input-primary', :placeholder => 'email@email.com' %>
		    </div>

		    <div class="input-group">
		      <label>Password</label>
		      <%= f.password_field :password, autocomplete: "off", :class => 'input-primary', :placeholder => 'Password ' %>
		    </div>


		    <div class="input-group">
		      <%= f.submit "Create my free account", :class => 'btn btn-large' %>
		      <p> By signing up, you agree to the <%= link_to 'terms and conditions', terms_path, :target => '_blank' %>.</p>
		    </div>

		  <% end %>


		</div>

		</div>
	</div>

</div>





<div class="container" id="offer-benefits">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-2"><span class="decorative-number">1</span> </div>
				<div class="col-md-10 features-list"><h3>Register and create an event</h3> <p>Sign up for EventCreate and create your first event. Once you create your acount, you'll be automatically enrolled. </p> </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-2"><span class="decorative-number">2</span> </div>
				<div class="col-md-10 features-list"><h3>Sell tickets using our platform</h3> <p>Publish your event and sell tickets to your event on EventCreate. The more tickets you sell, the more you'll earn! </p> </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-2"><span class="decorative-number">3</span> </div>
				<div class="col-md-10 features-list"><h3>Collect your cash bonus</h3> <p> You'll earn $0.50 per ticket you sell, up to $500. When your event if complete, we'll pay you your cash bonus via Paypal.* </p> </div>
			</div>
		</div>		


	</div>
</div>




<div class="container text-center">
	<div class="row">
		<div class="col-md-12">
			<div class="page-secondary-header">
				<h2>Meet the world's most powerful ticketing software</h2>
				<p>With EventCreate, all the tools to plan a world-class event are at your fingertips. </p>
				<p><%= link_to 'Get started for free ', new_user_registration_path, :class => 'btn'  %></p>
			</div>


			<div class="row">
				<div class="col-md-2 features-list">
					<ul> 
						<li> 
							<i class="icon icon-line-ticket"> </i>
							<h3> Sell tickets</h3>
							<p>Easily sell tickets or collect registration to your event. Accept all major credit cards. <a href="/pricing">View pricing</a> </p>	
						</li>
						<li> 
							<i class="icon icon-line-credit-card"> </i>
							<h3> Get paid instantly  </h3>
							<p>There's no holding periods. You'll have access to your funds immediately.  </p>	
						</li>
					</ul>
				</div>	

				<div class="col-md-8 features-sample">
					<img src="/assets/home/home-computer_2.png" class="img-responsive" />	
				</div>			

				<div class="col-md-2 features-list">
					<ul> 
						<li> 
							<i class="icon icon-line-chart"> </i>
							<h3> Powerful analytics </h3>
							<p> With your powerful event dashboard, it's easy to track and analyze your event actvity.  </p>	
						</li>
						<li> 
							<i class="icon icon-line-lock"> </i>
							<h3>  Secure and reliable</h3>
							<p> Enterprise-level software backed up by 256-bit encryption so you're always secure. </p>	
						</li>
					</ul>
				</div>	

			</div>

		</div>
	</div>
</div>





<div id="why-switch">
<div class="container text-center">
	<div class="row">
		<div class="col-md-12">
			<div class="page-secondary-header">
				<h2>Why switch to EventCreate?</h2>
				<p class="hidden">With EventCreate, all the tools to plan a world-class event are at your fingertips. </p>
			</div>

			<div class="row">
				<div class="col-md-4"><h3>We're cheaper</h3> <p>Our fees are 25% on average less than the leading ticketing competetors.  </p></div>
				<div class="col-md-4"><h3>We're 100% white-labelled</h3> <p>Your design. Your brand. Your way. You won't see EventCreate's logo anywhere. </p></div>
				<div class="col-md-4"><h3>You'll get paid immediately</h3> <p>When you sell a ticket, you'll get paid immediately. There's no holding periods. Period. </p></div>
			</div>

		</div>
	</div>
</div>
</div>










<div class="container" id="testimonial">

	<div class="row">
		<div class="col-md-12">
			<div class="page-secondary-header text-center">
				<h2>Trusted by the world’s best</h2>
				<p class="hidden">Create a stunning, white-labelled event website. Collect registrations, sell tickets and plan spectacular events. It's easy and free. </p>
			</div>
			
			<div class="testimonial-blocks">

				<div class="row text-center"> 
					<div class="col-md-12"> 
						<img src="/assets/home/testimonials.jpg" class="img-responsive" />	
					</div>
				</div>



				<div class="row hidden">
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-3"><img src="https://randomuser.me/api/portraits/women/55.jpg" class="img-responsive" />	 </div>
							<div class="col-md-9">"Event Create is awsome" </div>
						</div>
					</div>


					<div class="col-md-4">
						<div class="row">
							<div class="col-md-3"><img src="https://randomuser.me/api/portraits/women/55.jpg" class="img-responsive" />	 </div>
							<div class="col-md-9">"Event Create is awsome" </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-3"><img src="https://randomuser.me/api/portraits/women/55.jpg" class="img-responsive" />	 </div>
							<div class="col-md-9">"Event Create is awsome" </div>
						</div>
					</div>

				</div>


				


			</div>


		</div>
	</div>






</div>







<div class="container" id="offer-details">
	<div class="row">
		<div class="col-md-12">

			<p>* Bonus Details: Offer applies to paid ticketed events only. Offer is for new users and not available to existing EventCreate users.  Offer is restricted to one (1) event per EventCreate account. Offer is available to United States customers only. To receive a bonus up to $500: 1) Open a new EventCreate account 2) Create an event 3) Sell tickets to the event using the EventCreate platform.  After your event has ended, we will transfer the bonus to an active Paypal account within 15 business days.  The bonus is calculated by multiplying the number of tickets sold by $0.50 (For instance, if your event sells 389 tickets, your bonus will be 389 x $.50, or $194.50). The ticket price for each ticket sold must exceed $1.00. The maximum bonus is $500. The minimum bonus is $50. </p>

			<p>The bonus may be withheld if at anytime during or after your event, we receive a chargeback on any ticket purchase or we have any indication to believe that the event is fake, or if any fraudulent activity is suspected. Bonuses may be considered income and will be reported to the IRS if applicable. </p>

		</div>
	</div>
</div>












<div class="container hidden">
	<div class="row">
		<div class="col-md-5 home-secondary">
			<h2>Customization services</h2>
			<p>	Looking for a custom design, or bespoke ticketing solution? We have more than 30 years of  event planning and software development experience, and we're here to help.  </p>	
			<p><%= link_to 'Learn more about customization ', '/customization', :class => 'btn '  %></p>
 
		</div>
		<div class="col-md-7">
			<img class="img-responsive" src="assets/home/sample_computer.jpg" />
		</div>		
	</div>


</div>











<div id="home-cta" class="hidden">
	<div class="container text-center">
		<h2> Create your stunning event website now </h2>
		<p class="lead">Get started in less than 30 seconds. It's easy and free.</p>
		<%= link_to 'Get started for free', new_user_registration_path, :class => 'btn btn-large'  %>
	</div>
</div>
	








<div class="container hidden">
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive" src="assets/home/all_in_one.jpg" />
		</div>
		<div class="col-md-6 home-secondary">
			<h2>All-in-one platform</h2>
			<p>	An all-in-one platform for event management, EventCreate provides a host of easy-to-use event tools, allowing anyone to seamlessly create custom event websites, send invites, sell tickets and manage attendees.  </p>	 
			<p><%= link_to 'View all features ', '/features', :class => 'btn '  %></p>

		</div>
	</div>

</div>




<%= render 'pages/partials/footer' %> 	



<script>
$(function() {


 
	var owl = $("#owl-demo");
	 
	owl.owlCarousel({
		navigation : false,
		singleItem : true,
		transitionStyle : "fade"
	});

    
	var mobileCarousel = $('#example-mobile-carousel').owlCarousel({
	    loop:true,
	    items:1,
	    nav:false,
	    dots:false,
	    smartSpeed:500
	});
	var desktopCarousel = $('#example-desktop-carousel').owlCarousel({
	    loop:true,
	    items:1,
	    nav:false,
	    dots:false,
	    smartSpeed:500
	});

    $('.arrow-right').click(function(){ 
        mobileCarousel.trigger('next.owl.carousel');
        desktopCarousel.trigger('next.owl.carousel');
    });
    $('.arrow-left').click(function(){ 
        mobileCarousel.trigger('prev.owl.carousel');
        desktopCarousel.trigger('prev.owl.carousel');
    });    
    desktopCarousel.on('changed.owl.carousel', function(event) {
        var examples = [
		    "Google",
		    "Habitat for Humanity"
		];
		//correct for incorrect index bug 
		var owlCorrection = 3;
		//$(".example-description").html(examples[event.item.index - owlCorrection]);
    });
  

});



</script> 	