<% title "EventCreate | Pricing " %>
<% meta_description 'EventCreate is free for event planners.' %>




<div class="intro text-center" id="intro-pricing">


	<div class="cover"> </div>
	<div class="container">
		<h1>Simple pricing </h1>
		<p class="lead">EventCreate is free for free events. For paid events, it's just 2% plus $0.99/ticket. No catches. It's that simple. </p>
		<p class="hidden">
			<%= link_to 'Get started for free ', new_user_registration_path, :class => 'btn btn-large'  %>
			<%= link_to 'Request a demo ', new_user_registration_path, :class => 'btn btn-large btn-bordered'  %>
		</p>

	</div>
</div>



<div class="container text-center external-plans ">

	<div class="row">


		<div class="col-md-6 text-center">
			<div class="external-plan">
				<h2>Free Events </h2>
				<p class="price">FREE</p>
				<p class="price-qualifier">forever</p>

				<ul class="features" style="display:none;"> 
					<li>Create unlimited events and sell tickets with zero service fees </li>						
				</ul> 
				<ul class="secondary-features"> 
					<li class="">Custom design and branding </li>
					<li class="">Collect registrations </li>	
					<li class="">100% white-labelled </li>
					
				</ul> 
				<%= link_to 'Get Started', new_user_registration_path, :class => 'btn' %>   				   
			</div>
		</div>


		<div class="col-md-6 text-center">

		<div class="external-plan" data-description="Premium Plan: $7/month. Cancel anytime.">
			<img src="https://c.stocksy.com/a/cXH300/z0/782416.jpg">
			<h2>Paid Events </h2>
			<p class="price">2% + $0.99</p>
			<p class="price-qualifier">per ticket</p>
			<ul class="features" style="display:none;"> 
				<li>Go professional with a white-labelled event website and a custom design. </li>						
			</ul> 
			<ul class="secondary-features"> 
				<li class="">Custom design and branding </li>
				<li class="">Sell tickets </li>	
				<li class="">100% white-labelled </li>
			</ul> 
			<%= link_to 'Try for Free', new_user_registration_path, :class => 'btn' %>    				   
		</div>

		</div>






	</div>

</div>




    

    
    
    
    
<div class="container" id="home-cta" style="display:none;">
	<h2> Let's make better events together. </h2>
	<%= link_to 'Sign up for free', new_user_registration_path, :class => 'btn btn-large'  %>
</div>




<div class="container" style="margin-top:80px;">

	<div class="row">
		<div class="col-md-4">
			<h4>Are there credit processing fees? </h4>
			<p>Yes. Stripe, our credit card processor, charges 2.9% plus $0.30 per transaction. The credit card fees, like the EventCreate fee, are passed onto your ticket buyers.  </p>
		</div>

		<div class="col-md-4">
			<h4>Is there a discount for non-profits or students.</h4>
			<p>Yes, we offer discounts for non-profits and students (with a valid .edu
				email address). For more details, please shoot us an email
			<a href="mailto:hello@eventcreate.com">hello@eventcreate.com</a>.</p>
		</div>

		<div class="col-md-4">
			<h4>More questions?</h4>
			<p>Feel free to get in touch. Our support team is available 24/7. Email us at <a href="mailto:hello@eventcreate.com">hello@eventcreate.com </a></p>

		</div>			
	</div>

</div>



<%= render 'pages/partials/footer' %>

