<% if action_name == 'edit' 
      @url = {:action => 'update' , :controller =>'tickets'}
    else
      @url = slug_create_path(:slug => @slug)
    end 
  %>


<%= form_for [@ticket], :url => @url do |f| %>



  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <label>Ticket Name (required)</label>
    <%= f.text_field :title, class: 'input input-large', placeholder: 'General Admission' %>
  </div>
  <div class="input-group" style="display:none;" >
    <%= f.label :description %>
    <%= f.text_area :description, class: 'input input-large textarea-small',  placeholder: 'Add a description to your ticket.' %>
  </div>
  <div class="input-group">
    <div class="input-group-inline input-group-addon">
      <label>Ticket Price</label>
      <div class="input-addon">$</div><%= f.number_field :price, class: 'input input-large', placeholder: '0.00' %> 
    </div>
    <div class="input-group-inline">
      <label> Quantity Available</label>
      <%= f.number_field :ticket_limit, class: 'input input-large', placeholder: '∞' %>
    </div>
  </div>

    <div class="input-group">
      <div class="input-group-inline">
        <label>Buy Limit</label>
        <%= f.number_field :buy_limit, class: 'input input-large', placeholder: '4' %>
        <p>Limit the ticket quantity that a user can buy at one time.</p>
      </div>
      <div class="input-group-inline">
          <label>Tickets available until</label>
          <%= f.text_field :stop_date, :class => 'date start input-primary', :placeholder => 'Date', :tabindex => "-1" %>
      </div>
    </div>
  <div class="input-group actions">
    <%= f.submit 'Save ticket', class: 'btn btn-large' %>
  </div>
<% end %>


<script> 

$( document ).ready(function() {

$("#new_ticket").submit(function(e) {


   if($('#ticket_price').val() > 0 && $('.stripe-connect-btn').length > 0) {

        e.preventDefault();

        alert($('#ticket_price').val());
        alert('Before adding a paid ticket, please connect your bank account, so you can get paid!  Head on back to basic ticketing and uncheck "My event is FREE."' );

    } 


});

}); 


</script>
