<!-- 
                <div class="input-group">
                    <label> Event capacity</label>
                    <%#= f.number_field :ticket_limit, class: 'input input-large', placeholder: '∞' %>
                </div>

                <div class="input-group">
                    <label>Buy Limit</label>
                    <%#= f.number_field :buy_limit, class: 'input input-large', placeholder: '1' %>
                    <p>Limit the ticket quantity that a user can buy at one time.</p>
                </div>

          
 -->




        <!--         <div class="input-group" style="display:none;">
                  <label>Tickets available until</label>
                  <%#= f.date_select :stop_date, class: 'input input-large'%>
                </div> -->



 <!--                </div>
            </div>
        </div>  





        <div class="row">
            <div class="col-md-9 col-md-offset-3 text-right"> 
                <%#= f.submit 'Save changes', class: 'btn btn-small' %>

            </div>
        </div>

  
        <%# end %>






 -->


<!-- END OLD TICKETING STUFF -->



    <div class="editor-tool" id="editor-tool-ticketing_TEMP" >
      
      <section class="editor-tool-header">
        <h3> Advanced Ticketing </h3>
        <p>Do you have multiple ticket types? Selling VIP passes? Manage your event ticketing advanced settings here. <strong>Note:</strong> <em>Once guests start registering for your tickets, you will not be allowed to edit them.</em> </p>
        
        
      </section>

      <section>
        <div class="tickets">
        <% @tickets.each_with_index do |ticket, index| %>
          <div class="ticket">

            <h3><%= ticket.title %></h3>
            <% @total = 0 %>
            <% Purchase.where(:event_id => @event.id).all.each do |purchase| %>
            <% @total += LineItem.where(:purchase_id => purchase.id.to_s, :ticket_id => ticket.id.to_s).count %>
            <% end %>
            <small>Tickets quantity left: <%= ticket.ticket_limit.to_i - @total.to_i  %>/<%= ticket.ticket_limit %> </small>
          <% if ticket.price == 0 %>
              <p>Free</p>
          <% else %>

            <p><%= number_to_currency(ticket.price) %></p>

            <% end %>
            
            <% if @total == 0 %>
                <div class="ticket-actions">
                    <div class="ticket-action">
                        <%= link_to ('<i class="icon icon-pencil"> </i>').html_safe, edit_ticket_path(ticket), :remote => true %>    
                    </div>
                    <% if @tickets.count > 1 %>
                    <div class="ticket-action"> <%= link_to ('<i class="icon icon-trash"> </i>').html_safe,  ticket_path(ticket)  , method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                    <% end %>
                </div>
            <% else %>
            <small>Tickets have been registered. Editing or deletion is no longer available.</small>
          
            <% end %>
          </div>
        <% end %>


        </section>

        <section> 
          <%= link_to 'New ticket type', new_ticket_path(:event => @event) , :remote => true, :class => 'btn open-ticket' %>

        </section>



    </div>  






      <div class="editor-tool" id="editor-tool-ticketing" >
        

        <%= form_for [@ticket] do |f| %>


        <div class="row editor-tool-header">
            <div class="col-md-6">
                Ticketing + Registration
            </div>
            <div class="col-md-6 text-right">
                 <%= f.submit 'Save changes', class: 'btn btn-small' %>
            </div>
        </div>







                <section style="display:none;" >
        <h4>Collect payments </h4>
        <p>Please connect to Stripe to sell tickets and collect payments via Visa, MasterCard or American Express. (PS, you only need to do this if you're charging for tickets.)</p>
        <% if  @account == nil %>
          <a class="stripe-connect-btn" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= ENV['STRIPE_CLIENT_ID'] %>&scope=read_write"><img src="/assets/stripe/blue-on-light.png" /> </a>
        <% else %>
          User has connected to stripe
        <% end %>
        </section>




        <% if  @account == nil && @ticket.price != 0 %>
          <div class="well well-error">
         Get paid! Please add a bank account to accept payments. <a class="stripe-connect-btn" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= ENV['STRIPE_CLIENT_ID'] %>&scope=read_write">Add account </a>
          </div>

                  <% end %>





        <div class="row">
            
            <div class="col-md-3">
                <h4>Registration settings  </h4>
                <p>Manage your event registration settings here. </p>
            </div>

            <div class="col-md-9">
               

                <div class="form-container">
                <div class="input-group input-group-addon">
                  <label> Price</label>
                  <div class="input-addon">$</div><%= f.number_field :price, class: 'input input-large', id: 'event-price-input', placeholder: '0.00', value: (number_with_precision( f.object.price , precision: 2)),  disabled: @account.nil?  %> 

                    <% if  @account == nil%>


                  <p id="input-free-event-container">   <input type="checkbox"  <% if @ticket.price == 0 %> checked <% end %> id="free-event-boolean"><label for="free-event-boolean"> My event is FREE.</label> </p>


                              <% end %>


                </div>
              


    
    <div class="input-group" id="datepairExample2">
        <label> Registration closes on</label>
 <%= f.text_field :stop_date, :class => 'date start input-primary', :placeholder => 'Date', :tabindex => "-1",  :value => (@ticket.stop_date.nil? || @ticket.stop_date == '') ? '' : @ticket.stop_date.to_time.strftime("%m/%d/%Y") %>
    </div>



                  <div class="input-group">
                    <label> Event capacity</label>
                    <%= f.number_field :ticket_limit, class: 'input input-large', placeholder: '∞' %>
                  </div>

                        <div class="input-group">
                    <label>Buy Limit</label>
                    <%= f.number_field :buy_limit, class: 'input input-large', placeholder: '1' %>
                    <p>Limit the ticket quantity that a user can buy at one time.</p>
                  </div>





        <!--         <div class="input-group" style="display:none;">
                  <label>Tickets available until</label>
                  <%= f.date_select :stop_date, class: 'input input-large'%>
                </div> -->



                </div>
            </div>
        </div>  





        <div class="row">
            <div class="col-md-9 col-md-offset-3 text-right"> 
                <%= f.submit 'Save changes', class: 'btn btn-small' %>

            </div>
        </div>

  
        <% end %>






          <section> 

            <a class=" toggleEditorPanel" id="editor-tool-ticketing" data-target="editor-tool-ticketing_TEMP" > View advanced ticketing</a>   


          </section>



      </div> 