    <div class="editor-tool" id="editor-tool-attendees" style="width:1000px;">
        

       <div class="row editor-tool-header">
            <div class="col-md-6">
               Event Attendees
            </div>
            <div class="col-md-6 text-right">
                <%= link_to 'Download ', dashboard_event_path(:event => @event.id, :format => :csv), class: 'btn btn-small' %> 
        <%= link_to 'Print ', dashboard_print_path(:event => @event.id), class: 'btn btn-small' %>
            </div>
        </div>



          <% if !@buyers.empty? %>



            <div class="row">
            <div class="col-md-12">
                <table class="table"> 
                <thead> <tr> <th>First Name</th> <th>Last Name</th> <th>Email Address</th>  <th> Guest Count </th><th>Ticket Type</th> <th>Total Order</th> <th>Affiliate Code</th><th> Registration date </th>  <th> </th>  </tr> </thead> 


                <tbody>  

                    <% @buyers.each do |attendee| %>

              

                    <tr> 
                        <td><%= attendee.first_name %></td> 
                        <td><%= attendee.last_name %></td> 
                        <td><%= attendee.email %></td>
                        <td><% @guest = LineItem.where(:purchase_id => attendee.id.to_s).first %> <%= @guest.quantity.nil? ? 0 : @guest.quantity - 1 %></td>
                        <td><% @ticket = Ticket.find_by_id( @guest.ticket_id.to_i)%><%= @ticket.nil? ? 'n/a' : '"'+@ticket.title+'"' %> </td>
                        <td>          
                            <% total_order = 0 %>
                    <% LineItem.where(:purchase_id => attendee.id.to_s).all.each do |lineitem| %>
                       
                        <% @ticket = Ticket.find_by_id(lineitem.ticket_id.to_i) %>
                        <% total_order += @ticket.nil? ? 0 : @ticket.price %>
                    <% end %> 
                        <%= Purchase.find(attendee.id.to_i).total_order.nil? ? number_to_currency(total_order, :precision => 2) : number_to_currency(Purchase.find(attendee.id.to_i).total_order/100 , :precision => 2) %></td> <td><%=   Purchase.find(attendee.id.to_i).affiliate_code.nil? || Purchase.find(attendee.id.to_i).affiliate_code == 'null' || Purchase.find(attendee.id.to_i).affiliate_code.blank?  ? 'n/a'  : Purchase.find(attendee.id.to_i).affiliate_code %>  </td>
                        <td><%= attendee.created_at.to_date.strftime("%B %d ") %> </td>
                        <td><%= link_to 'Delete', slug_purchase_destroy_path(id: attendee.id), class: 'attendee-delete', method: :delete, data: { confirm: 'Are you sure? This cannot be undone' } %></td>  
                    </tr> 

   
                    <% end %>

                </tbody> 

              </table>

              
              <% else %>
              <div class="empty">
                  <h2>No attendees, just yet.  </h2>
              </div>
              <% end %>



            </div>
            </div>




      </div> 