<div class="editor-tool editor-panel-top-nav" id="editor-tool-attendees" >
        

    <div class="editor-aside"> 
	    <div class="row">
		    <div class="col-md-6">
				<input class="search selectable table-search-attendees" type="search" placeholder="Search attendees" data-column="all">
		    </div>
		    <div class="col-md-6 text-right">
		        <%= link_to 'Print List ', dashboard_print_path(:event => @event.id), class: 'btn btn-primary' %> 
		    	<%= link_to 'Download CSV ', dashboard_event_path(:event => @event.id, :format => :csv), class: 'btn btn-primary' %> 
		    </div>

	    </div>
    </div>



    <div class="editor-panel">


  <% if !@buyers.empty? %>




                <table class="table tablesorter table-attendees"> 
                <thead> <tr> 
                  <th>First Name</th> 
                  <th>Last Name</th> 
                  <th>Email Address</th>  
                  <th>Ticket Type</th> 
                  <th> Registration date </th>      
                </tr> </thead> 


                <tbody>  

                    <% @attendees.each do |attendee| %>

              

                    <tr> 
                        <td><%= attendee.first_name %></td> 
                        <td><%= attendee.last_name %></td> 
                        <td><%= attendee.email %></td>
                        <td>[TICKET TYPE]</td>         
                        <td><%= attendee.created_at.to_date.strftime("%B %d ") %> </td>
                    </tr> 

   
                    <% end %>

                </tbody> 

              </table>

              
              <% else %>
              <div class="empty">
                  <h2>No attendees, just yet.  </h2>
              </div>
              <% end %>








    </div>




        




</div> 

<script type="text/javascript">
$(document).ready(function() {
  // call the tablesorter plugin
  var $table = $(".table-attendees").tablesorter({
    // Sort on the second column, in ascending order
    sortList: [[1,0]],
     widgets: [ "filter"],
         widgetOptions : {
      // use the filter_external option OR use bindSearch function (below)
      // to bind external filters.
      filter_external : '.table-search-attendees',
      filter_columnFilters: false,
      filter_saveFilters : true    
  }

  });


  //$.tablesorter.filter.bindSearch( $table, $('.search') );


});


</script>