<%= form_for(@survey_question) do |f| %>
  <% if @survey_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_question.errors.count, "error") %> prohibited this survey_question from being saved:</h2>

      <ul>
      <% @survey_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>







  <div class="input-group">
    <%= f.label :question_text %><br>
    <%= f.text_area :question_text %>
  </div>
  <div class="input-group">
    <%= f.label :response_required %><br>
    <%= f.check_box :response_required %>
  </div>
  <div class="input-group">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="input-group">
    <%= f.label :field_type %><br>
    <%= f.number_field :field_type %>
  </div>
  <div class="input-group">
<!--     <%= f.label :ticket_id %><br>
    <%= f.number_field :ticket_id %> -->
    <% @event.tickets.all.each do |ticket| %>
      <%= fields_for 'ticket[]' , ticket do |ticket_fields| %>
        <div>
        <%= ticket_fields.check_box :id %> <%= ticket.title %>
        </div>
      <% end %>

    <% end %>

  </div>




<!--   <div class="input-group">
    <%= f.label :event_id %><br>
    <%= f.number_field :event_id %>
  </div> -->
  <div class="input-group">
    <%= f.label :is_active %><br>
    <%= f.check_box :is_active %>
  </div>
  <div class="input-group">
    <%= f.label :free_text_active %><br>
    <%= f.check_box :free_text_active %>
  </div>
  <div class="input-group">
    <%= f.label :free_text %><br>
    <%= f.text_area :free_text %>
  </div>


<%= hidden_field_tag "survey_question[event_id]", @event.id  %>

  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
<% end %>
