<div class="container"> 

	<h2> Thank you! </h2>
	<p> Your account has been successfully upgraded. Thank you for joining the EventCreate premium community. You rock!  If you ever have any questions or feedback, please don't hestiate to reach out. We love to hear from our community members.  Now, go forth and make some kick ass event websites!</p>

	<%= link_to 'Continue', dashboard_index_path, :class => 'btn' %>

    <!-- Google Code for Upgrade Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 940862296;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "BhtYCLe212QQ2NbRwAM";
var google_conversion_value = <%= number_with_precision(@subscription.plan.amount/100, :precision => 2) %>;
var google_conversion_currency = <%= @subscription.plan.currency %>;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/940862296/?value=7.00&amp;currency_code=USD&amp;label=BhtYCLe212QQ2NbRwAM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<script type="text/javascript">
    

    amplitude.logEvent('Payment complete');
    amplitude.logRevenue( <%= number_with_precision(@subscription.plan.amount/100, :precision => 2) %>, 1, '<%= @subscription.plan.id %>');

</script>

</div>