<div class="container"> 

	<input type="hidden" id="current_plan" name="current_plan" val="<%= current_user.plan_type %>" />
	<input type="hidden" id="valid_customer" name="valid_customer" val="<%= current_user.premium %>" />
	<input type="hidden" id="cuid" name="cuid" val="<%= current_user.id %>" />
<div class="upgrade-carousel owl-carousel">
	
	<div class="plans owl-item">


		<div class="plan" data-type="basic" data-description="Basic Plan: Free">
			<h3>Starter </h3>
			<p class="price">Free</p>
	<!-- 		<ul class="features"> 
				<li>1 event </li>					
				<li>50 registrations </li>		
			</ul>  -->
			<ul class="secondary-features"> 
				<li class="disabled">Custom branding </li>
				<li class="disabled">White labelled domain</li>
				<li class="disabled">Send email invites</li>
				<!-- <li class="disabled">Sell tickets/accept payments</li> -->
				<li class="disabled">Priority customer support </li>	
			</ul>

           <% if @cu != '' && !@cu.subscriptions.data[0].nil? %> 
			<%= link_to 'Choose plan', cancel_path, :class => 'btn' %>
			<% else %>
			<div class="btn">Choose plan</div>

			<% end %>    				   
		</div>



		<div class="plan" data-type="professional" data-description="Premium Plan: $15/month. Cancel anytime.">
			<h3>Pro </h3>
			<p class="price">$15/mo<br>Cancel anytime</p>
	<!-- 		<ul class="features"> 
				<li>3 events </li>					
				<li>500 registrations </li>		
			</ul>  -->
			<ul class="secondary-features"> 
				<li>Custom branding </li>
				<li>White labelled domain</li>
				<li>Send email invites</li>
				<!-- <li class="disabled">Sell tickets/accept payments</li> -->
				<li >Priority customer support </li>	
			</ul>
			<a class="btn">Choose plan</a>      				   
		</div>



	<!-- 	<div class="plan" data-type="pro" data-description="Pro Plan: $29/month. Cancel anytime.">
			<h3>Pro </h3>
			<p class="price">$29/mo<br>Cancel anytime</p>
			<ul class="features"> 
				<li>Unlimited events </li>					
				<li>5,000 registrations </li>		
			</ul> 
			<ul class="secondary-features"> 
				<li>Custom branding </li>
				<li>White labelled domain</li> -->
				<!-- <li>Sell tickets/accept payments</li> -->
<!-- 				<li>Priority customer support </li>	
			</ul>
			<a class="btn">Choose plan</a>      				   
		</div>



		<div class="plan" data-type="enterprise" data-description="Enterprise Plan: $69/month. Cancel anytime.">
			<h3>Enterprise </h3>
			<p class="price">$69/mo<br>Cancel anytime</p>
			<ul class="features"> 
				<li>Unlimited events </li>					
				<li>15,000 registrations </li>		
			</ul> 
			<ul class="secondary-features"> 
				<li>Custom branding </li>
				<li>White labelled domain</li> -->
				<!-- <li>Sell tickets/accept payments</li> -->
<!-- 				<li>Priority customer support </li>	
			</ul>
			<a class="btn">Choose plan</a>      				   
		</div> -->

		
	</div>



	<div class="payment owl-item">

		

		<div class="payment-selection">

			<a id="back-to-plans"> <i class="icon icon-arrow-left"></i> back </a>	
			<span id="selected-plan"> Enterprise Plan: $69.00/month. Cancel anytime. </span>


	 	</div>


		<form action="/users/<%= current_user.id%>/charge-card" method="POST" id="payment-form">
		    	
		    	<div class="be-validation">
		    	</div>
		    	
		    	<div class="input-group">
		    		<label>Credit card number</label>
		    		<input  type="text" id="cc" placeholder="5555 5555 5555 5555" class="input input-large cc-number" >
		    		<p>Visa, Mastercard and American Express card accepted.</p>
		    		<div id="lock"><i class="icon icon-raw-lock"></i> </div>
		    	</div>
		    	
		    	<div class="input-group">
			    	
			    	<div class="input-group-inline">	 
			    		<label>Expiration Date (month/year)</label>
			    		<input placeholder="12 / 2018" class="input cc-exp" type="text" >	
			    	</div>
			    	<div class="input-group-inline" id="cvv"> 
			    		<label>CVV</label>
			    		<input class="input cc-cvc" type="text" placeholder="CVV" maxlength="4"  >
			    	</div>
			    </div>	
		    	<div class="input-group">
			      <button class="btn" >Upgrade  now</button>
			      <p><i class="icon icon-raw-lock"></i>Secured with 256-bit encryption </p>
			    </div> 
				<p>By upgrading your account, you agree to the <a href="/terms" target="_blank"> terms and conditions</a>. </p>
			      <input type="hidden" id="user_premium" name="user[premium]" val="true" />
			      <input type="hidden" id="plan_type" name="plan_type" val="basic" />
	    </form>
	</div>
</div>
</div>

<script>

$(document).ready(function(){

	amplitude.logEvent('viewing Upgrade page');

    //init the owl carousel plugin  
    var upgradeOwl = $(".upgrade-carousel.owl-carousel").owlCarousel({
        items:1,
        autoHeight : true,
        mouseDrag:false,
        touchDrag:false,
        freeDrag:false,
        pullDrag:false
    });


    // highlight plan selected, if none exists, highlight free
	if($('#current_plan').attr('val') != '' && $('#current_plan').attr('val') != 'basic') {
		$('.plans').find('[data-type="'+ $('#current_plan').attr('val') +'"]').addClass('disabled').find('.btn').addClass('btn-disabled').text('Current Plan')

	} else {
		$('.plans').find('[data-type="basic"]').addClass('disabled').find('.btn').addClass('btn-disabled').text('Current Plan')
	}


    $( ".plan" ).not(".disabled").click(function() {
  		$("#selected-plan").text($(this).data("description"));
  		$('#plan_type').val($(this).data('type'));

  		//ADD HOOK TO CHANGE PLAN
  		//if customer did not exist, then go to card form
  		if( $('#valid_customer').attr('val') == 'false') {
    		upgradeOwl.trigger('next.owl.carousel');
  		} else {
    		// else update plan call
    	 	if($(this).data("type") != 'basic') {

    	 		$.ajax({
				  type: "POST",
				  url: "/users/"+ $('#cuid').attr('val') +"/update-subscription", // need variable for user_id
				  data: {planType : $(this).data("type"), user: {premium: true}},
				  success: function() {
				  	console.log('successful submit');
				  }
				});

    	 	} 

    // 	 	else {

    // 	 		$.ajax({
				//   type: "POST",
				//   url: "/users/"+ $('#cuid').attr('val') +"/update-subscription", // need variable for user_id
				//   data: {planType : $(this).data("type"), user: {premium: true}},
				//   success: function() {
				//   	console.log('successful submit');
				//   }
				// });

    // 	 	}	
	    		
  		}
    	

	});


    $( "#back-to-plans" ).click(function() {
    	upgradeOwl.trigger('prev.owl.carousel');

	});

	


    


});
</script>
<script type="text/javascript" src="/assets/payment-modal.js"></script>

