<% if signed_in? && action_name != 'home' && (controller_name != 'events' && action_name != 'show') && controller_name != 'pages' %>    
  <nav>
    <div class="dashboard-header">
      <div class="left"> 
        <a class="logo" href="/"><span>Event Create</span></a>
        <ul> 
            <li><%=  link_to 'My Events', {:controller => 'dashboard', :action => 'index'}  %></li>
            <li><%= link_to 'Contacts', {:controller => 'dashboard', :action => 'contacts'} %></li>
        </ul>
      </div>


      <div class="right"> 
        <ul> 
          <% if @disable_create %>
            <li><%= link_to "<i class='icon icon-plus'></i> New Event".html_safe, upgrade_path, class: 'open-upgrade' %> </li>  
          <% else %>
            <li><%= link_to "<i class='icon icon-plus'></i> New Event".html_safe, create_path %> </li>
          <%	end %>
          <li>


          <% if @disable_create %>
            <li><%= link_to "<i class='icon icon-bolt'></i> Upgrade".html_safe, upgrade_path, class: 'open-upgrade' %> </li>  
          <% end %>


          <% if current_user.image? %>
              <%= link_to image_tag(current_user['image'].to_s) + " Profile".html_safe, dashboard_profile_path, :class => 'open-menu'  %>
          
          <% else %>
            <%=  link_to "<i class='icon icon-user'></i> Profile".html_safe, dashboard_profile_path, :class => 'open-menu'  %>
          <% end %>
          </li>
        </ul>
      </div>     



      <% if @is_premium == 'active'  %>
        <div class="quick-find-container">
          <div style="display: none;" class="quick-find-container">
          <i class="icon icon-search"> </i> <input type="text" placeholder="quick find my events" id="tags">  
          </div>
        </div>
      <% end %>

      <div class="signed-in-menu">
        <ul>

          <li><%=  link_to "My events", {:controller => 'dashboard', :action => 'index'} %> </li>
          <% if @is_premium != 'active' &&  @disable_create %>

          <li><%=  link_to "Create new event", upgrade_path, :class => 'open-upgrade' %> </li>
          <% else %>
          <li><%=  link_to "Create new event", create_path %> </li> 
          <% end %>
          <li><%= link_to 'Edit profile', dashboard_profile_path, :class => 'navbar-link' %> </li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>              
        </ul>
      </div>  
    </div>
  </nav>  
<!-- not signed in -->
<% else %>
    <% if action_name != "show" and controller_name != "events"  and controller_name != "sessions" and controller_name != "registrations"  and controller_name != "passwords"  %>
  <nav>

      <%= link_to "<span>EventCreate </span>".html_safe, "/", :class => "logo", :"data-no-turbolink" => true %>

      <ul class="navbar-links">

        <li><%= link_to "Features", "/", :"data-no-turbolink" => true %></li>
        <li><%= link_to "Pricing", "/pricing", :"data-no-turbolink" => true %></li>

        <% if signed_in? %>
          <li><%= link_to 'My Account', dashboard_index_path, :class => 'btn'  %> </li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path, :class => 'navbar-link'  %></li>
          <li><%= link_to 'Sign up free', new_user_registration_path, :class => 'btn'  %> </li>
        <% end %>

      </ul>
  </nav>
    <% end %>
<% end %>





