<% if signed_in? && action_name != 'home' %>    


<!-- if (controller_name == "dashboard") or  (action_name == "index" and controller_name == "attendees") -->
<!-- if (action_name != 'home') -->
<nav>

  <div class="dashboard-header">
    <div class="left"> 
     <a class="logo" href="/"><span>Event Create</span></a>
     <ul> 

      <li><li><%=  link_to 'My events', {:controller => 'dashboard', :action => 'index'}  %></li>

    </li>

    <li><%= link_to 'Contacts', {:controller => 'dashboard', :action => 'contacts'} %></li>
  </ul>
</div>


<div class="right"> 
 <ul> 

  <% if @is_premium != 'active' && @disable_create %>
  <li><%= link_to "<i class='icon icon-plus'></i> new event".html_safe, upgrade_path, class: 'open-upgrade' %> </li>  
  <% else %>
  <li><%= link_to "<i class='icon icon-plus'></i> new event".html_safe, create_path %> </li>
  <%	end %>


  <li><%=  link_to "<i class='icon icon-user'></i> Profile".html_safe, dashboard_profile_path, :class => 'open-menu'  %></li>

</ul>
</div>            		



<% if @is_premium == 'active'  %>
<div class="quick-find-container">
  <div style="display: none;" class="quick-find-container">

    <i class="icon icon-search"> </i> <input type="text" placeholder="quick find my events" id="tags">  
  </div>
  <% end %>



  <div class="signed-in-menu">
    <ul>

      <li><%=  link_to "My events", {:controller => 'dashboard', :action => 'index'} %> </li>
      <% if @is_premium != 'active' &&  @disable_create %>

      <li><%=  link_to "Create new event", upgrade_path, :class => 'open-upgrade' %> </li>
      <% else %>
      <li><%=  link_to "Create new event", create_path %> </li> 
      <% end %>
      <li><%= link_to 'Edit profile', dashboard_profile_path, :class => 'navbar-link' %> </li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>              
    </ul>
  </div>  

</div>
    <!--<div class="event-nav" style="display: none;"> 
      <a class="logo" href="/"><span>Event Create</span></a>
      <ul> 
        <li><%=  link_to 'Upcoming events', {:controller => 'dashboard', :action => 'index'}  %></li>
        <li><%=  link_to 'Past events', dashboard_past_path  %></li>
            
          <% if @is_premium != 'active' &&  @disable_create %>
            <li><%= link_to 'Create new event'.html_safe, '#', class: 'open-upgrade' %> </li>  
          <% else %>
            <li><%= link_to 'Create new event'.html_safe, '/create' %> </li>
          <% end %>
      </ul>
    </div>-->
            </nav>  
            <!-- end -->
            <!--    end "dashboard" controller-->

            <!-- if not event pages or show page -->
            <% if controller_name !="dashboard" && controller_name !="attendees" &&  (controller_name != "events" || action_name != 'show') %>

    <!--         <nav>
              <a class="logo" href="/">
                <span>Event Create</span>
              </a>
              <ul class="navbar-links signed-in">
                <% if @is_premium != 'active' &&  @disable_create %>
                <li><%= link_to '<span>New event</span>'.html_safe, upgrade_path, :class => 'icon icon-plus open-upgrade'  %> </li>
                <% else %>
                <li><%= link_to '<span>New event</span>'.html_safe, create_path, :class => 'icon icon-plus'  %> </li>
                <% end %>

                
                <li><%=  link_to '<span>Profile</span>'.html_safe, {:controller => 'dashboard', :action => 'profile'}, :class => 'icon icon-user open-menu'  %></li>

              </ul>
              
              <div class="signed-in-menu">
                <ul>

                  <li><%=  link_to "My events", {:controller => 'dashboard', :action => 'index'} %> </li>

                  <% if @is_premium != 'active' &&  @disable_create %>
                  <li><%=  link_to "Create new event", upgrade_path, :class => 'open-upgrade' %> </li> 
                  <% else %>
                  <li><%=  link_to "Create new event", create_path %> </li> 
                  
                  <% end %>
                  <li><%= link_to 'Edit profile', {:controller => 'dashboard', :action => 'profile'}, :class => 'navbar-link' %> </li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>              
                </ul>
              </div> 
            </nav>  -->

            <% end %>


            <!-- not signed in -->
            <% else %>

            <nav>

              <% if action_name != "show" and controller_name != "events"  and controller_name != "sessions" and controller_name != "registrations"  and controller_name != "passwords"  %>
              <a class="logo" href="/"><span>Event Create</span></a>
              <ul class="navbar-links">
                <li><a href="/">Features</a><a href="/pricing">Pricing</a></li>
                <% if signed_in? %>
                  <li><%= link_to "Sign in", dashboard_index_path, :class => 'navbar-link'  %></li>
                  <li><%= link_to 'Sign up free', dashboard_index_path, :class => 'btn'  %> </li>
                <% else %>
                  <li><%= link_to "Sign in", new_user_session_path, :class => 'navbar-link'  %></li>
                  <li><%= link_to 'Sign up free', create_path, :class => 'btn'  %> </li>
                <% end %>

              </ul>
              <% end %>
            </nav>
            <% end %>





