<!--upgrade modal-->
<div id="contact-modal">
		<div class="modal-header modal-header-light">
	    <button data-remodal-action="close" class="remodal-close"></button>
	    <i class="icon icon-line-email"> </i>
	    <h2>Contact Host</h2>
	    <p>Send the event host a message or a question about the event.</p>
	  
    </div>
    
		<!-- upgrade carousel -->
		
		<div class="modal-body">
		

		

	   
	   
	   	<!-- payment form -->
	
				<%= form_tag(controller: 'events', action: 'contact_host', method: 'post') do %>
		
		    	<div class="input-group">
		    		<label>Email Address:</label>
				<%= text_field_tag(:name, '', class: 'input input-large', placeholder: 'email@email.com') %>
			</div>

		    	<div class="input-group">
		    		<label>Your Message:</label>
				<%= text_area_tag(:message, '', class: 'input input-large', placeholder: 'Hey there. Can I bring a guest?')  %>
			</div>

		    	<div class="input-group">
				<%= submit_tag('Send', class: 'btn btn-primary') %>
			</div>
				<% end %>
	

	 <!--    	<form action="/<%= @event.slug %>/contact-host" method="POST" >
		    	
		    	<div class="be-validation">
		    	</div>
		    	
		    	<div class="input-group">
		    		<label>Your name:</label>
		    		<input  type="text" placeholder="Name" class="input-large " >
		    		
		    	</div>


		    	<div class="input-group">
		    		<label>Your Message:</label>
		    		<textarea  placeholder="Your message" class="input-large"></textarea>
		    	</div>
		    
			    
			    
		    	<div class="input-group">
			      <button class="btn btn-large" >Send</button>
			    </div> 
			     
	    	</form> -->


					
	
		 
		 
		</div> 
		
</div>
<!-- END modal -->

<script type="text/javascript" src="/assets/payment-modal.js"></script>
