<div id="attendee-confirmation-form" name="attendee-confirmation-form" >

	<div class="modal-header modal-header-light">	   
			<button data-remodal-action="close" class="remodal-close"></button>
		    <i class="icon icon-line-email" style="display: none;"> </i>
		    <h2>You're confirmed, {ATTENDEE FIRST OR EMAIL UNTIL @}! </h2>
		    <p>Thank you for registering for <%= @event.name %>! We look forward to seeing you there. </p> 
		    <p>And, don't worry, we've sent a confirmation email to {ATTENDEE EMAIL}, so you've got all the event details in your inbox. </p>
			<div class="input-group">
		    	<a href="https://www.facebook.com/sharer/sharer.php?u=<%= @bitly.short_url %>" target="_blank" class="btn btn-large">Tell my friends on Facebook</a>
		    </div>	
	</div>


	<div class="modal-body">

	<div class="input-group">
		<label>Event Name:</label>
		 <h4><%= @event.name %></h4>
	</div>

	
	<div class="input-group">
		<div class="input-group-inline">
			<label>Date/Time:</label>
			<h4>			 <% if(@event.date_start != '' && !@event.date_start.nil?) %>
		
			    <%= @event.date_start.to_date.strftime("%B") %> 
		
			
			    <%= @event.date_start.to_date.strftime("%e, ") %>
			
			    <%= @event.date_start.to_date.strftime("%Y") %> 
			
			
  			    <% if(@event.time_start != '' && !@event.time_start.nil?) %> <br> 
  			     <%= @event.time_start.to_time.strftime("%l:%M %p") %>
  			    <% end %>
			    <%else%>
			    TBD
			    <%end%> </h4>
		</div>
		<div class="input-group-inline">
			<label>Location:</label>
			<h4><%= @event.location_name %> <%= @event.location %></h4>
		</div>

	</div>



  
  </div>

</div>