<div class="event-nav-container">
    <div class="event-nav-top">
        <a class="event-nav-logo"> 
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255.9 276.6"><path d="M255.8 0.7c0 10.8 0 19.6 0 30.8 -39.9 0.1-79.3-0.4-118.6 0.3C92.9 32.5 60.7 54 42 93.8c-18.7 39.8-14.5 78.4 12.8 113.1 19.4 24.7 45.5 38.1 77.2 38.7 30.4 0.5 60.7 0 92.4 0 0-10.4 0-19.7 0-31.3 -27.6 0-55.2 0.2-82.9 0.1 -48.7-0.1-82.8-30.1-83.1-73.2 -0.3-45.6 34-78.2 82.9-78.5 37.5-0.2 75-0.1 113.9-0.2 0 31 0.1 61 0.1 92.2 -41.8 0.1-83.5 0.1-126.3 0.2 0-9.3 0-18.1 0-28.9 31 0 62.4-0.1 95.2-0.1 0-11.2 0-20.5 0-31.7 -31.9 0-64.1-1.4-96.1 0.6 -23 1.5-40 25.5-38.3 48.6 1.6 21.8 19.3 39 43 39.6 33.7 0.8 67.4 0.2 101.1 0.1 7 0 14 0 22 0 0 31.1 0.1 60.7 0.1 93.3 -14.1 0-28.7 0.4-43.2 0 -35.5-0.9-71.8 2-106.5-4C40 261.1-4 198.9 0.3 130.1 4.5 62.8 58.2 5.2 123.8 1.3 167-1.2 210.4 0.7 255.8 0.7z" fill="#FFF"/></svg>   
        </a>

        <a class="event-nav-link toggleEditorPanel" id="editor-tool-dashboard" data-target="editor-tool-dashboard">
            <i class="icon icon-home"> </i> <span> Dashboard </span>
        </a> 

        <a class="event-nav-link toggleEditorPanel" id="editor-tool-attendees" data-target="editor-tool-attendees" >
            <i class="icon icon-users"> </i> <span> Attendees</span>
        </a>   

        <%= link_to '<i class="icon icon-eye"> </i> <span> Preview</span>'.html_safe, slugger_path(@event), class: 'event-nav-link', target: '_blank' %>        
     
         
    </div>

    <div class="event-nav-bottom">
        <a class="event-nav-link toggleEditorPanel hidden" id="editor-tool-background" data-target="editor-tool-background">
            <i class="icon icon-image"> </i> <span> Design </span>
        </a> 

        <a class="event-nav-link toggleEditorPanel" id="editor-tool-details" data-target="editor-tool-details"  >
            <i class="icon icon-settings"> </i> <span> Settings</span>
        </a> 

        <a class="event-nav-link toggleEditorPanel" id="editor-tool-ticketing" data-target="editor-tool-ticketing" >
            <i class="fa fa-fw fa-ticket"> </i> <span> Tickets</span>
            <% if  @account == nil && @ticket.price != 0 %>
              <div class="editor-tab-notification editor-tab-notification-error"></div>
            <% end %>
        </a>    
        <a class="event-nav-link toggleEditorPanel" id="editor-tool-questions" data-target="editor-tool-questions" >
            <i class="icon icon-question"> </i> <span> Questions</span>
        </a>       

        <a class="event-nav-link toggleEditorPanel" id="editor-tool-coupons" data-target="editor-tool-coupons" >
            <i class="fa fa-fw fa-tag"> </i> <span> Coupons</span>
        </a>       


        <%= link_to '<i class="icon icon-sign-out"> </i> <span> Exit </span>'.html_safe, "/", class: 'event-nav-link hidden' %>  
    </div>
</div>





<div class="event-editor-section-container"> 

    <div class="event-editor-header text-right">
       <a href="#">Contact Support</a> <a href="#">My account </a>  <a id="editor-panel-close"><i class="icon icon-arrow-left"> </i></a>
    </div>

    <div class="event-editor-sections">
        

        <%= render 'events/partials/editor/editor_settings_new' %>
        <%= render 'events/partials/editor/editor_attendees_new' %>
        <%= render 'events/partials/editor/editor_dashboard_new' %>
        <%= render 'events/partials/editor/editor_ticketing_new' %>
        <%= render 'events/partials/editor/editor_coupons_new' %>
        <%= render 'events/partials/editor/editor_questions_new' %>

        <%# render 'events/partials/editor/editor_settings' %>
        <%# render 'events/partials/editor/editor_coupons' %>
        <%# render 'events/partials/editor/editor_support' %>
        <%# render 'events/partials/editor/editor_design' %>
        <%# render 'events/partials/editor/editor_ticketing' %>
        <%# render 'events/partials/editor/editor_attendees' %>

    </div>

</div>







 <!--TEMP HOLDER FOR DRAG AND DROP ELEMENTS-->
  <a href="#" id="custom-image" style="display:none;">

  <div class="upload" style="background-image:url('<%= @event.background_img%>')">  </div> 

    <script id="template-upload" type="text/x-tmpl">
    <div class="uploader">
    <div class="progress"><div class="bar" style="width:0%;"></div></div>
    </div>
    </script>

  </a> 


<div id="stripe-modal" style="min-width:540px;">
  <div class="modal-header modal-header-light">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h3 style="margin-bottom:20px;">  Nice! So you're selling tickets? Let's figure out how you want to get paid.</h3>
     <p>EventCreate partners with Stripe to process payments, so <u> <b> you get paid immediately</b></u>.</p> <p> Please head over to Stripe and add your payment details before you start selling tickets. You'll be redirected back to EventCreate automatically. It's easy and only takes a minute. </p>


       <% if  @account == nil %>
          <a class="stripe-connect-btn" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= ENV['STRIPE_CLIENT_ID'] %>&scope=read_write"><img src="/assets/stripe/blue-on-light.png" /> </a>
      <% end %>



  </div>
  <div class="modal-body">
  </div> 
</div>




<script src="/assets/vendor/jquery.minicolors.min.js"></script>
<script type="text/javascript">







$( document ).ready(function() {


  //DESIGN > LAYOUT 
  //contruct the layout selector based on html visibility
  $(".test-show-layout").each(function() {

    var target = $(this).data("target");
    if ($(target).hasClass("hidden")) {       
      $(this).addClass("inactive");

    } 
  });


  
  //DESIGN > LAYOUT 
  //click handler for layout select
  $(".test-show-layout").on( "click", function() {
    
    var target = $(this).data("target");
    
    if ($(target).hasClass("hidden")) { 
      
      $(target).removeClass("hidden");
      $(this).removeClass("inactive");
      $('html, body').animate({
        scrollTop: $(target).offset().top - 50
      }, 200);


      htmlHeroOne = $("#htmlHeroOne").froalaEditor('html.get');
      htmlBodyOne = $("#htmlBodyOne").froalaEditor('html.get');
      htmlFooterOne = $("#htmlFooterOne").froalaEditor('html.get');

      saveChanges();

    } else {
      
      $(target).addClass("hidden");
      $(this).addClass("inactive");

      htmlHeroOne = $("#htmlHeroOne").froalaEditor('html.get');
      htmlBodyOne = $("#htmlBodyOne").froalaEditor('html.get');
      htmlFooterOne = $("#htmlFooterOne").froalaEditor('html.get');

      saveChanges();

    }
  
  });


  
  //FROALA > CUSTOM > LAYOUT
  //repeatable sections on page
  $(".repeatable").append("<div contenteditable='false' class='repeatable-actions'><div class='repeatable-action repeatable-plus'><i class='fa fa-plus'></i></div><div class='repeatable-action repeatable-delete'><i class='fa fa-trash'></i></div></div>");
  $(document).on('click', ".repeatable-plus" , function() {
     
      var target = $(this).parents(".repeatable");
      var newelement = target.clone();
      target.after(newelement);
      $('html, body').animate({
        scrollTop: $(newelement).offset().top - 50
      }, 200);

  });
  $(document).on('click', ".repeatable-delete" , function() {     
      var target = $(this).parents(".repeatable");
      var container = $(this).parents(".container").data("repeatable");
      if ($('*[data-repeatable="'+ container +'"] .repeatable').length > 1) {
        target.fadeOut(200, function() { $(target).remove(); });
      } else {
        alert("Ooops, you can't delete this one. If you'd like to hide this section, please change the section visbility under the design tab.")
      }
  });




  //rsvp dropdown
  $('#purchase-tickets_form select').on('change', function(){
    $('.form-quantity').text($(this).val());
  });

  $(".toggle-container").click(function() {   
      $(this).toggleClass("toggle-on");
      $(this).find("span").text("live");
  });

      var validator5 = $(".edit_ticket").validate({
    rules: {
      "ticket[title]": {
        required: true
      },
      "ticket[price]": {
        required: true
      },
      "ticket[ticket_limit]": {
        required: true
      },
      "ticket[stop_date]": {
        required: true
      },
    }, messages : {
      "ticket[title]": 'Please enter a ticket name.',
      "ticket[price]": 'Please enter a ticket price.',
      "ticket[ticket_limit]": 'Please enter a ticket limit.',
      "ticket[stop_date]": 'Please enter an end date.'

    }
  });



  //TICKET - new ticket modal functionality and validation
  $("#show-event-description").click(function() {  
    $(this).hide();
    $("#ticket-description").slideDown();
  });
  $("#show-ticket-advanced-settings").click(function() {  
    $("#ticket-advanced-settings").slideToggle();
  });






  $.validator.addMethod("loginRegex", function(value, element) {
        return /^[a-zA-Z0-9-]+$/i.test(value);
    }, "Event must contain only letters, numbers, or dashes.");

  var validator3 = $("#edit-event").validate({
    rules: {
      "event[name]": {
        required: true
      },
      "event[date_start]": {
        required: true
      },
      "event[location]": {
        required: true
      },
      "event[slug]": {
        required: true,
        loginRegex: true
      }


    },
    messages: {
      "event[name]": 'Please enter an event name',
      "event[date_start]": 'Please enter an event date',
      "event[location]": 'Please enter an event location',
      "event[slug]": 'Please enter an event url'
    }
  });






  //INTRO - slide in the editor tabs
  setTimeout(function(){  
    $('.tabs').addClass("visible");
  }, 500);











  //EDITOR - set size of panel
  $('.event-editor-sections').css("height",$(window).height());
  $( window ).resize(function() {
    $('.event-editor-sections').css("height",$(window).height());
  });

  //EDITOR -  editor panel interaction behaviors
  $('.toggleEditorPanel').click(function() {

    var active = $(this).hasClass('active');
    var target = $(this).data('target');
    $('.toggleEditorPanel.active').removeClass("active");
    if (!active) {
      $(".editor-tool").hide();
      $(".editor-tool#" + target).show();
      $(this).addClass("active");
      $(".event-editor-section-container").addClass("visible");
    } else {
      $(this).removeClass("active");
      $(".event-editor-section-container").removeClass("visible");
    }
  });

  $('#editor-panel-close').click(function() {
    $(".toggleEditorPanel.active").removeClass("active");
    $(".event-editor-section-container").removeClass("visible");
   });





  //EDITOR - set values
  var published = $('#published').val()? $('#published').val(): "false"; 
  var currentFont = $('#font_type_id').val()? $('#font_type_id').val(): "brandon"; 
  var currentBgOpacity = $('#bg_opacity').val()? $('#bg_opacity').val(): ".5"; 
  var currentBgColor = $('#bg_color').val()? $('#bg_color').val(): "#222"; 
  var currentBg = $('#external_image').val(); 
  var currentBgLoaded = $('#bg').val()? $('#bg').val(): ''; 
  var currentShowCustom = $('#show_custom').val(); 
  var newFont;
  var newBgOpacity;
  var newBgColor;
  var newShowCustom;
  var newBg;
  var tempFont = currentFont;
  var changesExist = false;

  var layout = $('#layout_id').val()? $('#layout_id').val(): "1"; 
  var theme = $('#layout_style').val()? $('#layout_style').val(): "brunch";   
  var htmlHeroOne; 
  var htmlHeroButton; 
  var htmlBodyOne;
  var htmlFooterOne;
  var htmlFooterButton;




  //TICKETING - add ticket modal
  var ticketModal = $('#ticket-modal').remodal();
  // $('.open-ticket').click(function(e){
  //   ticketModal.open();
  //   e.preventDefault;
  // });


  //IMAGES - search unsplash
  var imageModal = $('#image-search-modal').remodal();
  $('.open-image-modal').click(function(e){
      e.preventDefault();
      imageModal.open();
  });

  $("#bgSearchTerm").keyup(function (e) {
      if (e.keyCode == 13) {
           $('.search-btn').click();
      }
  });

  $('.search-btn').on('click', function(e) {
      e.preventDefault();
      var searchTerm = $('#bgSearchTerm').val();
      var url = String(window.location.href).replace('?editing=true', '').replace('#', '') + '/unsplash-search';

      $.ajax({
            url: url,
            data: {searchTerm: searchTerm},
            success: function(data) {
              var photoArray = [];

              $('.image-results ul').empty();

              for(var i=0;i<data.length;i++) {
                  var list_image = '<li><img src="'+ data[i].attributes.table.urls.thumb +'"/></li>';
                  photoArray.push(data[i].attributes.table.urls.regular);

                  $('.image-results ul').append(list_image);
              }
              $('.image-results ul li').off('click');
              $('.image-results ul li').on('click', function(e) {
                  e.preventDefault();
                  imageModal.close();
                  $('.event-page').attr('style','background-image: url('+photoArray[$(this).index()]+') !important' );

                  $('.editor-current-bg').css('background-image', 'url('+ photoArray[$(this).index()] +')');
                  $('#bg').val(photoArray[$(this).index()]);
                  $('#show_custom').val(true);
                   requestEdit({bg_img:photoArray[$(this).index()]});
                   requestEdit({show_custom:true});
              })

            },
            error: function(data) {
              $('.image-results ul').append('<li>No results found</li>')
            }
      });

  });
  //--end unsplash modal    
  




  //EDITOR - detect changes
  function requestEdit(feature) {

    if(feature.bgOpacity) {
        newBgOpacity = feature.bgOpacity; 
        if (newBgOpacity != currentBgOpacity) {
             saveChanges();
        }
    }


    if(feature.bgColor) {
        newBgColor = feature.bgColor; 
        if (newBgColor != currentBgColor) {
          saveChanges();
        }
    }


    if( feature.font) {
        console.log(feature.font);
        newFont = feature.font; 
        if (newFont != currentFont) {
            saveChanges();
        }
    }

    if( feature.bg_img) {
        console.log(feature.bg_img);
        newBg = feature.bg_img;
        if (newBg != currentBg) {
            currentBgLoaded = '';
            $('#external_image').val(newBg)
            newShowCustom = true;
            saveChanges();

        }
    }

    if( feature.show_custom) {
        console.log(feature.show_custom);
        newShowCustom = feature.show_custom;
        if (newShowCustom != currentShowCustom) {     
          saveChanges();
        }
    }      

  }




  //backgroud opacity slider
    $(function() {
      $( "#slider" ).slider({
        value: (currentBgOpacity != undefined) ? currentBgOpacity*100 : 0,
        slide: function( event, ui ) { 

          var percentage = ui.value/100;
          $(".event-page .overlay").css("opacity", percentage);
          requestEdit({bgOpacity:percentage});
        }
      });
    });


  //background color picker
    $('input#color').minicolors({ 
      position: 'top right', 
      defaultValue: currentBgColor,
      change: function(value, opacity) {
          $(".event-page .overlay").css("background-color", value);
          requestEdit({bgColor:value});

      }
   });

  //change font
  $('.font').click(function() {
      var target = $(this).data('target');
      $('.event-container').removeClass(tempFont); 
      $('.event-container').addClass(target); 
      requestEdit({font:target});
      tempFont = target;

 });







  //manage ticketing price input (to check if stripe account exists)
  var stripemodal = $('#stripe-modal').remodal();

  $('#free-event-boolean').click(function(e) {
      
      if($(this).is(":checked")) {
        $("#event-price-input").attr("disabled", true);

      } else {

          if($('.stripe-connect-btn').length > 0) {
              
              stripemodal.open();
              e.preventDefault();
              return false;

          } else {
              $("#event-price-input").attr("disabled", false); 
          }

        }
  });




  // publish button 
  $('#publish').click(function(e) {
    e.preventDefault();

    $(".full-page-loader.saving").addClass("visible");
    $(".tabs").removeClass("visible");
    
    var eventProperties = {}
    eventProperties.name = $('h1 span').text();
    eventProperties.slug = window.location.href.split('?editing=true')[0];
    eventProperties.slug = eventProperties.slug.split('/')[3];
    eventProperties.type = $('#layout_style').val();
    var event_id = 'step 4 success - publishing event';
    amplitude.logEvent(event_id, eventProperties);  

    published = true;    
    saveChanges(true);



  });





$.FroalaEditor.DefineIcon('insertRegistrationLink', {NAME: 'tag'});
$.FroalaEditor.RegisterCommand('insertRegistrationLink', {
  title: 'Insert Registration Button',
  focus: true,
  undo: true,
  refreshAfterCallback: true,
  callback: function () {
    this.html.insert('<span class="btn btn-reg open-registration"> Register now</span>');
  }
});



$(function() {
    $('.froala-editor').froalaEditor({
      key: 'yweqH-8btjB-13B-11oyC2A-7pm==', 
      toolbarInline: true,
      inlineMode: false,
      imageEditButtons: ['imageReplace', 'imageRemove'],
      imageUploadToS3: {
          bucket: '<%= @hash[:bucket] %>',
          region: 's3-<%= @hash[:region] %>', // Change the region if it is different
          keyStart: '<%= @hash[:key_start] %>',
          callback: function (url, key) {
            // The URL and Key returned from Amazon.
            console.log (url);
            console.log (key);
          },
          params: {
            acl: '<%= @hash[:acl] %>', // ACL according to Amazon Documentation.
            AWSAccessKeyId: '<%= @hash[:access_key] %>', // Access Key from Amazon.
            policy: '<%= @hash[:policy] %>', // Policy string computed in the backend.
            signature: '<%= @hash[:signature] %>', // Signature computed in the backend.
          }
       },
      charCounterCount: false,
      fontFamily: {
        'Arial,Helvetica,sans-serif': 'Arial',
        'Georgia,serif': 'Georgia',
        'Impact,Charcoal,sans-serif': 'Impact',
        'Tahoma,Geneva,sans-serif': 'Tahoma',
        "'Times New Roman',Times,serif": 'Times New Roman',
        'Verdana,Geneva,sans-serif': 'Verdana',
        "'brandon-grotesque',sans-serif": 'Brandon Grotesque',
        "'freight-display-pro',serif": 'Freight Display',
        "'futura-pt',sans-serif": 'Futura PT'
      },
      toolbarButtons: ['fontFamily', 'bold', 'italic', 'underline', 'fontSize', 'strikeThrough', 'color', '-', 'paragraphFormat', 'align', 'insertImage', 'insertLink', 'insertVideo', 'emoticons', 'insertRegistrationLink', '-', 'undo', 'redo'],
      linkStyles: {
        btn: 'Button'      }
    }).on('froalaEditor.contentChanged', function (e, editor) {


      htmlHeroOne = $("#htmlHeroOne").froalaEditor('html.get');
      //htmlHeroButton = $("#htmlHeroButton").froalaEditor('html.get');
      htmlBodyOne = $("#htmlBodyOne").froalaEditor('html.get');
      htmlFooterOne = $("#htmlFooterOne").froalaEditor('html.get');
      //htmlFooterButton = $(this).froalaEditor('html.get');

      saveChanges();

});
});

//photo-1443130128240-22fb98ca70a4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e5ef277d1a5f81a1fc520243664aa7cf

  function saveChanges(callBack) {

    newBg = $('#external_image').val()
    $.ajax({
      type: 'POST',
        url: String(window.location.href).replace('?editing=true', '').replace('#', '') + '/updatetheme_post', //testing
        data: {event:{layout_id: layout, published: "true", layout_style: theme, bg_color: newBgColor , bg_opacity: newBgOpacity, font_type: newFont, external_image: newBg, show_custom: newShowCustom, html_hero_1:htmlHeroOne, html_hero_button:htmlHeroButton, html_body_1:htmlBodyOne, html_footer_1:htmlFooterOne, html_footer_button:htmlFooterButton      }},
    beforeSend: function(){
        
        changesExist = true;
        $("#saving").addClass("visible");
    }
      }).done(function(data){
        //console.log(data);
        $('#layout_style').val(theme);
        changesExist = false;
        $("#saving").removeClass("visible");


        if (callBack) {
          window.location.href = "dashboard/event?event=<%= @event.id %>";
        } else {
          
        }

      });
    }

  });



  //warning before leave page
  window.onbeforeunload = function(e) {
    if(changesExist) {
      return 'You have unsaved pages. Please wait until we have finished saving your event';
    }
  };

  $('.upload-btn').on('click', function(){
    $('.file-label').click();
  });

  //EDITING - close the "editing live events" notifcation banner 
  $("#event-status-notification-banner-close").click(function(e) {
    e.preventDefault();
    $(".event-status-notification-banner").removeClass("visible");

  });
  var $form = $('#background_form');
  $form.on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
    e.preventDefault();
    e.stopPropagation();
  })
  .on('dragover dragenter', function() {
    $form.addClass('is-dragover');
  })
  .on('dragleave dragend drop', function() {
    $form.removeClass('is-dragover');
  })
  .on('drop', function(e) {
    droppedFiles = e.originalEvent.dataTransfer.files;
  });




</script>