<div class="editor-tabs">
    <div class="editor-tools-top">
        <a class="tab toggleEditorPanel" id="editor-tool-home" data-target="editor-tool-home" style="display:none;" >
            <i class="fa fa-globe"> </i> <span> Status</span>
        </a> 
        <a class="tab toggleEditorPanel" id="editor-tool-background" data-target="editor-tool-background">
            <i class="icon icon-image"> </i> <span> Design </span>
        </a> 
        <a class="tab toggleEditorPanel" id="editor-tool-ticketing" data-target="editor-tool-ticketing" >
            <i class="fa fa-fw fa-ticket"> </i> <span> Tickets</span>
            <% if  @account == nil && @ticket.price != 0 %>
              <div class="editor-tab-notification editor-tab-notification-error"></div>
            <% end %>
        </a>   
        <a class="tab toggleEditorPanel" id="editor-tool-details" data-target="editor-tool-details"  >
            <i class="icon icon-settings"> </i> <span> Settings</span>
        </a>  
        <a class="tab toggleEditorPanel" id="editor-tool-promotions" data-target="editor-tool-promotions" >
            <i class="fa fa-fw fa-tag"> </i> <span> Coupons</span>
        </a>            
        <a class="tab toggleEditorPanel" id="editor-tool-attendees" data-target="editor-tool-attendees" >
            <i class="icon icon-users"> </i> <span> Attendees</span>
        </a>        
        <%= link_to '<i class="icon icon-eye"> </i> <span> Preview</span>'.html_safe, slugger_path(@event), class: 'tab', target: '_blank' %>          
    </div>

    <div class="editor-tools-bottom">
        <a class="tab toggleEditorPanel" id="editor-tool-support" data-target="editor-tool-support" >
            <i class="fa fa-phone"> </i> <span> Support</span>
        </a>     
        <a class="tab toggleEditorPanel" id="editor-tool-share" data-target="editor-tool-share" style="display:none;" >
            <i class="icon icon-share"> </i> <span> Share</span>
        </a> 

        <%= link_to '<i class="icon icon-sign-out"> </i> <span> Exit </span>'.html_safe, "/", class: 'tab' %>  
    </div>

</div>



<div class="editor-container"> 





  <div class="editor-tools">

    <div id="editor-panel-close"><i class="icon icon-arrow-left"> </i></div>

    <div class="editor-tool" id="editor-tool-details">
    
        <%= form_for [@event] , :html => {:id => "edit-event"} do |f| %>
       

        <div class="row editor-tool-header">
            <div class="col-md-6">
                Event website settings
            </div>
            <div class="col-md-6 text-right">
                <%= f.submit "Save changes", :class => 'btn btn-small' %> 

            </div>
        </div>




        <div class="row">
            
            <div class="col-md-3">
                <h4>Event Details </h4>
                <p>Change of venue? Modify your event details here.</p>
            </div>

            <div class="col-md-9">
                <div class="form-container">

                    <% if @event.errors.any? %>

                      <div class="alert error">
                        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

                        <ul>
                        <% @event.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>

                    <div class="input-group" >
                        <label> Event Name</label>
                        <%= f.text_field :name, :class => 'input-primary', :placeholder => 'Mikes Birthday, etc' %>
                    </div>


                    <div class="input-group" id="datepairExample">
                        <label> Date</label>
                        <%= f.text_field :date_start, :class => 'date start input-primary', :placeholder => 'Date', :value => (@event.date_start.nil? || @event.date_start == '') ? '' : @event.date_start.to_time.strftime("%m/%d/%Y") %>
                    </div>

                    <div class="input-group datePairEndDates" id="datepairExample" style="display:none;">
                      <div class="input-group-inline">
                        <label> End Date</label>
                        <%= f.text_field :date_end, :class => 'date end input-primary' , :placeholder => 'End date' %>
                      </div>

                      <div class="input-group-inline end-time">
                        <label> End Time</label>
                        <%= f.text_field :time_end, :class => 'time end input-primary' , :placeholder => 'End time' %>
                      </div>
                    </div>


                  
                    <div class="input-group">
                      <label> Location Address</label>
                      <%= f.text_field :location, :autocomplete => false, :class => 'input-primary controls', :id => 'pac-input', :placeholder => 'ie 10 Main Street' %>
                    </div>  
                      
                    <div class="input-group" style="display:none;">
                      <label>Event Description</label>
                      <%= f.text_area :description, :class => 'input-primary', :placeholder => 'Example: Why don\'t you and your friends, get with my friends, and we can be friends!' %>
                    </div>


                </div>
            </div>
        </div>  





        <div class="row">
            
            <div class="col-md-3">
                <h4>Confirmation Page (optional)</h4>
                <p>Change the text on the confirmation page to something more personal.</p>
            </div>

            <div class="col-md-9">
                <div class="form-container">

                    <% if @event.errors.any? %>

                      <div class="alert error">
                        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

                        <ul>
                        <% @event.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>

                    <div class="input-group" >
                        <label> Custom Confirmation Page Text</label>
                        <%= f.text_field :confirmation_text, :class => 'input-primary', :placeholder => 'e.g., Thank you for registering!' %>
                    </div>

                </div>
            </div>
        </div>  




        <div class="row">
            
            <div class="col-md-3">
                <h4>URL/Domain </h4>
                <p>Manage your event domain and visibility. Want to use a custom domain/url? We got you. Shoot us a note at <a href="mailto:support@eventcreate.com"> support@eventcreate.com</a></p>
            </div>

            <div class="col-md-9">
                <div class="form-container">


                    <div class="input-group" >
                      <label>Your event URL</label>
                        <%= f.text_field :slug, :class => 'input-primary', :id => 'event-url-input', :placeholder => 'custom-event-url' %>
                        <p>www.eventcreate.com/<span id="event-url-output"><%= @event.slug %> </span> </p>
                    </div>


                    <div class="input-group">
                        <label>Website visibility</label>
                        <%= f.select(:published, [['Live', true],['Hidden', false]]) %>
                        <p> You can prevent anyone from accessing your event website by changing the status to "hidden."" Once hidden, only you will be able to view the website when logged in. </p>
                    </div>


                   
                </div>
            </div>
        </div>  



        <div class="row">
            
            <div class="col-md-3">
                <h4>Country settings  </h4>
                <p>Choose your country's currency here. </p>
            </div>

            <div class="col-md-9">
               

                <div class="form-container">
                <div class="input-group input-group-addon">
                
           



                

                    <label>Currency</label>
                    <%= f.select(:currency_type, options_for_select(["USD", "CAD","AUD"], :selected => @event.currency_type), :class => ' form-control' ) %>
                    <div class="col-md-9 col-md-offset-3 text-right"> 

            </div>
                             

                </div>
              







                </div>
            </div>
        </div>  












        <div class="row">
            <div class="col-md-9 col-md-offset-3 text-right"> 
                <%= f.submit "Save changes", :class => 'btn btn-small' %> 
            </div>
        </div>


    <% end %>
    <!-- event form end -->


    </div>










    <div class="editor-tool" id="editor-tool-promotions">


  
  <%= form_for(@coupon) do |f| %>
    <% if @coupon.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

        <ul>
        <% @coupon.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

       

        <div class="row editor-tool-header">
            <div class="col-md-6">
                Event coupons/promotions
            </div>
            <div class="col-md-6 text-right">
                <%= f.submit "Save changes", :class => 'btn btn-small' %> 

            </div>
        </div>



        <div class="row">
            
            <div class="col-md-3">
                <h4>Coupons </h4>
                <p>Offer attendees a discount or promotion to encourage registration.</p>
            </div>

            <div class="col-md-9">
                <div class="form-container">








                    <div class="input-group">
                        <label>Coupon Active</label>
                        <%= f.select(:is_active, [['Active', true],['Inactive', false]]) %>
                    </div>


                    <%= hidden_field_tag 'event_id', @event.id %>


                    <div class="input-group" >
                      <label>Offer code</label>
                
    <%= f.text_field :promo_code, :class => 'input-primary', :id => 'event-url-input', :placeholder => 'SAVE2016' %>

                        <p>Enter an offer code (ie "Save2016") to advertise to your attendees</p>
                    </div>


                    <div class="input-group" >
                      <label>Discount</label>
              

                      <%= f.number_field :discount, :class => 'input-primary', :id => 'event-url-input', :placeholder => '10',  value: f.object.is_fixed == true ? (number_with_precision( f.object.discount , precision: 2)) : (number_with_precision( f.object.discount , precision: 0)) %>


                        <p>Discount amount</p>

                    </div>

                    <div class="input-group">
                        <label>Percentage or Fixed</label>
                        <%= f.select(:is_fixed, [['%', false],['$', true]]) %>

                        <p> Should the discount be applied as a percentage (ie 10%) or fixed amount ($10). </p>
                    </div>


                   
                </div>
            </div>
        </div>  







        <div class="row">
            <div class="col-md-9 col-md-offset-3 text-right"> 
                <%= f.submit "Save changes", :class => 'btn btn-small' %> 
            </div>
        </div>


    <% end %>
    <!-- event form end -->


    </div>






























    <div class="editor-tool" id="editor-tool-support">
    
      <section class="editor-tool-header">
        <h3>Support </h3> 
        <p>Have a question? Need help setting up your website? Feel free to reach out.</p>
        <p> Our support team is available to help 24/7. </p>
      </section>

      <section> 
        <a class="inline-large"><i class="fa fa-fw fa-phone"></i> 1 (617) 752-2176</a>       
        <a href="mailto:support@eventcreate.com" class="inline-large"><i class="fa fa-fw fa-envelope"></i> support@eventcreate.com</a>       

      </section>

    </div>  




    <div class="editor-tool" id="editor-tool-background">


        <div class="row editor-tool-header">
            <div class="col-md-6">
                Event website design
            </div>
            <div class="col-md-6 text-right">
               
            </div>
        </div>




        <div class="row">
            <div class="col-md-3">
                <h4>Layout </h4>
                <p>Show or hide sections of your event website. </p>
            </div>

            <div class="col-md-9 layout-select">
              <ul> 
              <li class="test-show-layout"  data-target="#about">About <i class="fa fa-eye"> </i></li>
              <li class="test-show-layout" data-target="#speakers">Speakers <i class="fa fa-eye"> </i></li>
              <li class="test-show-layout" data-target="#program">Program/Schedule <i class="fa fa-eye"> </i></li>
              <li class="test-show-layout" data-target="#sponsors">Sponsors <i class="fa fa-eye"> </i></li>
              </ul>


          </div>
        </div>





        <div class="row">
            
            <div class="col-md-3">
                <h4>Background image </h4>
                <p>Modify your website's main background here. </p>
            </div>

            <div class="col-md-9">
                <div class="editor-current-bg upload-btn" style="background-image: url(<%= image_path(background_checker(@event, false), :width => 100) %> ) !important"> </div>  
                <a class="upload-btn btn btn-small"> <i class="fa fa-upload"> </i> Upload image </a> 
                <a class="open-image-modal btn btn-small"> <i class="fa fa-search"> </i> Search image library </a> 

            </div>
        </div>  


        <div class="row">
            
            <div class="col-md-3">
                <h4>Background color </h4>
                <p>Change the opacity or color of the background color. </p>
            </div>

            <div class="col-md-9">
                <div class="slider-container">
                    <div class="slider"> <div id="slider"></div> </div>
                    <div class="color-picker"><input id="color"></div>
                </div>

  
            </div>
        </div>  




      <section>
        
      </section>

      <section style="display:none;">
        <h4>Fonts + Style</h4>
        <div class="fonts">
          <a class="font brandon" data-target="brandon" style="font">Abc </a>   
          <a class="font helvetica" data-target="helvetica">Abc</a> 
          <a class="font sophia" data-target="sophia">Abc</a>
          <a class="font futura" data-target="futura" style="font-size:22px;">Abc</a>
          <a class="font gotham" data-target="gotham" style="font-size:12px;">Abc</a>  
          <a class="font freight" data-target="freight" style="font-size:16px; letter-spacing:3px;">Abc</a>
        </div>
      </section>

    <!--CONDITIONAL HOOK FOR NON PREMIUM -->    
    <!--IF !PREMIUM -->    
  <% if current_user.customer_id.nil? && !@premium_disable %>
    <div class="editor-upgrade" style="display:none;">
      <div class="editor-upgrade-content">
      <h3>Try Pro for Free</h3>
      <p> A Pro subscription is required to white-label your website and customize the design. Try Pro now with free 7-day trial. </p>
      <a href="./upgrade" class="btn">Try Pro for Free </a>
      </div>
    </div>
  <% end %>
    <!--END -->    



    </div>  


    <div class="editor-tool" id="editor-tool-ticketing_TEMP" >
      
      <section class="editor-tool-header">
        <h3> Advanced Ticketing </h3>
        <p>Do you have multiple ticket types? Selling VIP passes? Manage your event ticketing advanced settings here. <strong>Note:</strong> <em>Once guests start registering for your tickets, you will not be allowed to edit them.</em> </p>
        
        
      </section>

      <section>
        <div class="tickets">
        <% @tickets.each_with_index do |ticket, index| %>
          <div class="ticket">

            <h3><%= ticket.title %></h3>
            <% @total = 0 %>
            <% Purchase.where(:event_id => @event.id).all.each do |purchase| %>
            <% @total += LineItem.where(:purchase_id => purchase.id.to_s, :ticket_id => ticket.id.to_s).count %>
            <% end %>
            <small>Tickets quantity left: <%= ticket.ticket_limit.to_i - @total.to_i  %>/<%= ticket.ticket_limit %> </small>
          <% if ticket.price == 0 %>
              <p>Free</p>
          <% else %>

            <p><%= number_to_currency(ticket.price) %></p>

            <% end %>
            
            <% if @total == 0 %>
                <div class="ticket-actions">
                    <div class="ticket-action">
                        <%= link_to ('<i class="icon icon-pencil"> </i>').html_safe, edit_ticket_path(ticket), :remote => true %>    
                    </div>
                    <% if @tickets.count > 1 %>
                    <div class="ticket-action"> <%= link_to ('<i class="icon icon-trash"> </i>').html_safe,  ticket_path(ticket)  , method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                    <% end %>
                </div>
            <% else %>
            <small>Tickets have been registered. Editing or deletion is no longer available.</small>
          
            <% end %>
          </div>
        <% end %>


        </section>

        <section> 
          <%= link_to 'New ticket type', new_ticket_path(:event => @event) , :remote => true, :class => 'btn open-ticket' %>

        </section>




        <section style="display:none;">
        <h4>Collect payments </h4>
        <p>Please connect to Stripe to sell tickets and collect payments via Visa, MasterCard or American Express. (PS, you only need to do this if you're charging for tickets.)</p>
        <% if  @account == nil %>
          <a class="stripe-connect-btn" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= ENV['STRIPE_CLIENT_ID'] %>&scope=read_write"><img src="/assets/stripe/blue-on-light.png" /> </a>
        <% else %>
          User has connected to stripe
        <% end %>
        </section>

    </div>  






      <div class="editor-tool" id="editor-tool-ticketing" >
        

        <%= form_for [@ticket] do |f| %>


        <div class="row editor-tool-header">
            <div class="col-md-6">
                Ticketing + Registration
            </div>
            <div class="col-md-6 text-right">
                 <%= f.submit 'Save changes', class: 'btn btn-small' %>
            </div>
        </div>







                <section style="display:none;" >
        <h4>Collect payments </h4>
        <p>Please connect to Stripe to sell tickets and collect payments via Visa, MasterCard or American Express. (PS, you only need to do this if you're charging for tickets.)</p>
        <% if  @account == nil %>
          <a class="stripe-connect-btn" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= ENV['STRIPE_CLIENT_ID'] %>&scope=read_write"><img src="/assets/stripe/blue-on-light.png" /> </a>
        <% else %>
          User has connected to stripe
        <% end %>
        </section>




        <% if  @account == nil && @ticket.price != 0 %>
          <div class="well well-error">
         Get paid! Please add a bank account to accept payments. <a class="stripe-connect-btn" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= ENV['STRIPE_CLIENT_ID'] %>&scope=read_write">Add account </a>
          </div>

                  <% end %>





        <div class="row">
            
            <div class="col-md-3">
                <h4>Registration settings  </h4>
                <p>Manage your event registration settings here. </p>
            </div>

            <div class="col-md-9">
               

                <div class="form-container">
                <div class="input-group input-group-addon">
                  <label> Price</label>
                  <div class="input-addon">$</div><%= f.number_field :price, class: 'input input-large', id: 'event-price-input', placeholder: '0.00', value: (number_with_precision( f.object.price , precision: 2)),  disabled: @account.nil?  %> 

                    <% if  @account == nil%>


                  <p id="input-free-event-container">   <input type="checkbox"  <% if @ticket.price == 0 %> checked <% end %> id="free-event-boolean"><label for="free-event-boolean"> My event is FREE.</label> </p>


                              <% end %>


                </div>
              


    
    <div class="input-group" id="datepairExample2">
        <label> Registration closes on</label>
 <%= f.text_field :stop_date, :class => 'date start input-primary', :placeholder => 'Date', :tabindex => "-1",  :value => (@ticket.stop_date.nil? || @ticket.stop_date == '') ? '' : @ticket.stop_date.to_time.strftime("%m/%d/%Y") %>
    </div>



                  <div class="input-group">
                    <label> Event capacity</label>
                    <%= f.number_field :ticket_limit, class: 'input input-large', placeholder: '∞' %>
                  </div>

                        <div class="input-group">
                    <label>Buy Limit</label>
                    <%= f.number_field :buy_limit, class: 'input input-large', placeholder: '1' %>
                    <p>Limit the ticket quantity that a user can buy at one time.</p>
                  </div>





        <!--         <div class="input-group" style="display:none;">
                  <label>Tickets available until</label>
                  <%= f.date_select :stop_date, class: 'input input-large'%>
                </div> -->



                </div>
            </div>
        </div>  





        <div class="row">
            <div class="col-md-9 col-md-offset-3 text-right"> 
                <%= f.submit 'Save changes', class: 'btn btn-small' %>

            </div>
        </div>

  
        <% end %>






          <section> 

            <a class=" toggleEditorPanel" id="editor-tool-ticketing" data-target="editor-tool-ticketing_TEMP" > View advanced ticketing</a>   


          </section>



      </div> 









    <div class="editor-tool" id="editor-tool-attendees" style="width:1000px;">
        

       <div class="row editor-tool-header">
            <div class="col-md-6">
               Event Attendees
            </div>
            <div class="col-md-6 text-right">
                <%= link_to 'Download ', dashboard_event_path(:event => @event.id, :format => :csv), class: 'btn btn-small' %> 
        <%= link_to 'Print ', dashboard_print_path(:event => @event.id), class: 'btn btn-small' %>
            </div>
        </div>



          <% if !@buyers.empty? %>



            <div class="row">
            <div class="col-md-12">
                <table class="table"> 
                <thead> <tr> <th>First Name</th> <th>Last Name</th> <th>Email Address</th>  <th> Guest Count </th><th>Ticket Type</th> <th>Total Order</th> <th>Affiliate Code</th><th> Registration date </th>  <th> </th>  </tr> </thead> 


                <tbody>  

                    <% @buyers.each do |attendee| %>

              

                    <tr> 
                        <td><%= attendee.first_name %></td> 
                        <td><%= attendee.last_name %></td> 
                        <td><%= attendee.email %></td>
                        <td><% @guest = LineItem.where(:purchase_id => attendee.id.to_s).first %> <%= @guest.quantity.nil? ? 0 : @guest.quantity - 1 %></td>
                        <td><% @ticket = Ticket.find_by_id( @guest.ticket_id.to_i)%><%= @ticket.nil? ? 'n/a' : '"'+@ticket.title+'"' %> </td>
                        <td>          
                            <% total_order = 0 %>
                    <% LineItem.where(:purchase_id => attendee.id.to_s).all.each do |lineitem| %>
                       
                        <% @ticket = Ticket.find_by_id(lineitem.ticket_id.to_i) %>
                        <% total_order += @ticket.nil? ? 0 : @ticket.price %>
                    <% end %> 
                        <%= Purchase.find(attendee.id.to_i).total_order.nil? ? number_to_currency(total_order, :precision => 2) : number_to_currency(Purchase.find(attendee.id.to_i).total_order/100 , :precision => 2) %></td> <td><%=   Purchase.find(attendee.id.to_i).affiliate_code.nil? || Purchase.find(attendee.id.to_i).affiliate_code == 'null' || Purchase.find(attendee.id.to_i).affiliate_code.blank?  ? 'n/a'  : Purchase.find(attendee.id.to_i).affiliate_code %>  </td>
                        <td><%= attendee.created_at.to_date.strftime("%B %d ") %> </td>
                        <td><%= link_to 'Delete', slug_purchase_destroy_path(id: attendee.id), class: 'attendee-delete', method: :delete, data: { confirm: 'Are you sure? This cannot be undone' } %></td>  
                    </tr> 

   
                    <% end %>

                </tbody> 

              </table>

              
              <% else %>
              <div class="empty">
                  <h2>No attendees, just yet.  </h2>
              </div>
              <% end %>



            </div>
            </div>




      </div> 





  </div>
</div>




<div id="event-saved-modal">
  <button data-remodal-action="close" class="remodal-close"></button>

  <div class="modal-header modal-header-light">
    <h2>Saved.</h2>
    <p> Rest easy; your event website was successfully saved. If you're finished editing, be sure to publish your event to make it live! </p>
  </div>
  <div class="modal-body">
      <a href="dashboard/event?event=<%= @event.id %>" class="btn btn-block btn-subtle"><i class="icon icon-home"></i>Back to my event dashboard </a>
      <%= link_to '<i class="icon icon-website"></i> Preview my website (new window)'.html_safe, slugger_path(@event), class: 'btn btn-block btn-subtle', target: '_blank' %>  
      <a href="dashboard/event?event=<%= @event.id %>" class="btn btn-block"><i class="icon icon-globe"></i> Publish my event! </a>
  </div>
</div>




 <!--TEMP HOLDER FOR DRAG AND DROP ELEMENTS-->
  <a href="#" id="custom-image" style="display:none;">

  <div class="upload" style="background-image:url('<%= @event.background_img%>')">  </div> 

    <script id="template-upload" type="text/x-tmpl">
    <div class="uploader">
    <div class="progress"><div class="bar" style="width:0%;"></div></div>
    </div>
    </script>

  </a> 


<div id="stripe-modal" style="min-width:540px;">
  <div class="modal-header modal-header-light">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h3 style="margin-bottom:20px;">  Nice! So you're selling tickets? Let's figure out how you want to get paid.</h3>
     <p>EventCreate partners with Stripe to process payments, so <u> <b> you get paid immediately</b></u>.</p> <p> Please head over to Stripe and add your payment details before you start selling tickets. You'll be redirected back to EventCreate automatically. It's easy and only takes a minute. </p>


       <% if  @account == nil %>
          <a class="stripe-connect-btn" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= ENV['STRIPE_CLIENT_ID'] %>&scope=read_write"><img src="/assets/stripe/blue-on-light.png" /> </a>
      <% end %>



  </div>
  <div class="modal-body">
   




  </div> 
</div>




<script src="/assets/vendor/jquery.minicolors.min.js"></script>
<script type="text/javascript">







$( document ).ready(function() {


  //contruct the layout select
  $(".test-show-layout").each(function() {

    var target = $(this).data("target");
        
    if ($(target).hasClass("hidden")) { 
      
      $(this).addClass("inactive");

    } else {
      
      //$(this).addClass("inactive");

    }
  });


  

  //click handler for layout select
  $(".test-show-layout").on( "click", function() {
    
    var target = $(this).data("target");
    
    if ($(target).hasClass("hidden")) { 
      
      $(target).removeClass("hidden");
      $(this).removeClass("inactive");
      $('html, body').animate({
        scrollTop: $(target).offset().top - 50
      }, 200);


      htmlHeroOne = $("#htmlHeroOne").froalaEditor('html.get');
      htmlBodyOne = $("#htmlBodyOne").froalaEditor('html.get');
      htmlFooterOne = $("#htmlFooterOne").froalaEditor('html.get');

      saveChanges();

    } else {
      
      $(target).addClass("hidden");
      $(this).addClass("inactive");

      htmlHeroOne = $("#htmlHeroOne").froalaEditor('html.get');
      htmlBodyOne = $("#htmlBodyOne").froalaEditor('html.get');
      htmlFooterOne = $("#htmlFooterOne").froalaEditor('html.get');

      saveChanges();

    }
  
  });


  

  $(".repeatable").append("<div contenteditable='false' class='repeatable-actions'><div class='repeatable-action repeatable-plus'><i class='fa fa-plus'></i></div><div class='repeatable-action repeatable-delete'><i class='fa fa-trash'></i></div></div>");


  $(document).on('click', ".repeatable-plus" , function() {
     
      var target = $(this).parents(".repeatable");
      var newelement = target.clone();
      target.after(newelement);
      $('html, body').animate({
        scrollTop: $(newelement).offset().top - 50
      }, 200);

  });



  $(document).on('click', ".repeatable-delete" , function() {
     
      var target = $(this).parents(".repeatable");
      var container = $(this).parents(".container").data("repeatable");

      if ($('*[data-repeatable="'+ container +'"] .repeatable').length > 1) {
        target.fadeOut(200, function() { $(target).remove(); });
      } else {
        alert("Ooops, you can't delete this one. If you'd like to hide this section, please change the section visbility under the design tab.")
      }


  
  });




  //rsvp dropdown
  $('#purchase-tickets_form select').on('change', function(){
    $('.form-quantity').text($(this).val());
  });

  $(".toggle-container").click(function() {   
      $(this).toggleClass("toggle-on");
      $(this).find("span").text("live");
  });

      var validator5 = $(".edit_ticket").validate({
    rules: {
      "ticket[title]": {
        required: true
      },
      "ticket[price]": {
        required: true
      },
      "ticket[ticket_limit]": {
        required: true
      },
      "ticket[stop_date]": {
        required: true
      },
    }, messages : {
      "ticket[title]": 'Please enter a ticket name.',
      "ticket[price]": 'Please enter a ticket price.',
      "ticket[ticket_limit]": 'Please enter a ticket limit.',
      "ticket[stop_date]": 'Please enter an end date.'

    }
  });



  //TICKET - new ticket modal functionality and validation
  $("#show-event-description").click(function() {  
    $(this).hide();
    $("#ticket-description").slideDown();
  });
  $("#show-ticket-advanced-settings").click(function() {  
    $("#ticket-advanced-settings").slideToggle();
  });






  $.validator.addMethod("loginRegex", function(value, element) {
        return /^[a-zA-Z0-9-]+$/i.test(value);
    }, "Event must contain only letters, numbers, or dashes.");

  var validator3 = $("#edit-event").validate({
    rules: {
      "event[name]": {
        required: true
      },
      "event[date_start]": {
        required: true
      },
      "event[location]": {
        required: true
      },
      "event[slug]": {
        required: true,
        loginRegex: true
      }


    },
    messages: {
      "event[name]": 'Please enter an event name',
      "event[date_start]": 'Please enter an event date',
      "event[location]": 'Please enter an event location',
      "event[slug]": 'Please enter an event url'
    }
  });






  //INTRO - slide in the editor tabs
  setTimeout(function(){  
    $('.tabs').addClass("visible");
  }, 500);











  //EDITOR - set size of panel
  $('.editor-tools').css("height",$(window).height());
  $( window ).resize(function() {
    $('.editor-tools').css("height",$(window).height());
  });

  //EDITOR -  editor panel interaction behaviors
  $('.toggleEditorPanel').click(function() {

    var active = $(this).hasClass('active');
    var target = $(this).data('target');
    $('.toggleEditorPanel.active').removeClass("active");
    if (!active) {
      $(".editor-tool").hide();
      $(".editor-tool#" + target).show();
      $(this).addClass("active");
      $(".editor-container").addClass("visible");
    } else {
      $(this).removeClass("active");
      $(".editor-container").removeClass("visible");
    }
  });

  $('#editor-panel-close').click(function() {
    $(".toggleEditorPanel.active").removeClass("active");
    $(".editor-container").removeClass("visible");
   });





  //EDITOR - set values
  var published = $('#published').val()? $('#published').val(): "false"; 
  var currentFont = $('#font_type_id').val()? $('#font_type_id').val(): "brandon"; 
  var currentBgOpacity = $('#bg_opacity').val()? $('#bg_opacity').val(): ".5"; 
  var currentBgColor = $('#bg_color').val()? $('#bg_color').val(): "#222"; 
  var currentBg = $('#external_image').val(); 
  var currentBgLoaded = $('#bg').val()? $('#bg').val(): ''; 
  var currentShowCustom = $('#show_custom').val(); 
  var newFont;
  var newBgOpacity;
  var newBgColor;
  var newShowCustom;
  var newBg;
  var tempFont = currentFont;
  var changesExist = false;

  var layout = $('#layout_id').val()? $('#layout_id').val(): "1"; 
  var theme = $('#layout_style').val()? $('#layout_style').val(): "brunch";   
  var htmlHeroOne; 
  var htmlHeroButton; 
  var htmlBodyOne;
  var htmlFooterOne;
  var htmlFooterButton;




  //TICKETING - add ticket modal
  var ticketModal = $('#ticket-modal').remodal();
  // $('.open-ticket').click(function(e){
  //   ticketModal.open();
  //   e.preventDefault;
  // });


  //IMAGES - search unsplash
  var imageModal = $('#image-search-modal').remodal();
  $('.open-image-modal').click(function(e){
      e.preventDefault();
      imageModal.open();
  });

  $("#bgSearchTerm").keyup(function (e) {
      if (e.keyCode == 13) {
           $('.search-btn').click();
      }
  });

  $('.search-btn').on('click', function(e) {
      e.preventDefault();
      var searchTerm = $('#bgSearchTerm').val();
      var url = String(window.location.href).replace('?editing=true', '').replace('#', '') + '/unsplash-search';

      $.ajax({
            url: url,
            data: {searchTerm: searchTerm},
            success: function(data) {
              var photoArray = [];

              $('.image-results ul').empty();

              for(var i=0;i<data.length;i++) {
                  var list_image = '<li><img src="'+ data[i].attributes.table.urls.thumb +'"/></li>';
                  photoArray.push(data[i].attributes.table.urls.regular);

                  $('.image-results ul').append(list_image);
              }
              $('.image-results ul li').off('click');
              $('.image-results ul li').on('click', function(e) {
                  e.preventDefault();
                  imageModal.close();
                  $('.event-page').attr('style','background-image: url('+photoArray[$(this).index()]+') !important' );

                  $('.editor-current-bg').css('background-image', 'url('+ photoArray[$(this).index()] +')');
                  $('#bg').val(photoArray[$(this).index()]);
                  $('#show_custom').val(true);
                   requestEdit({bg_img:photoArray[$(this).index()]});
                   requestEdit({show_custom:true});
              })

            },
            error: function(data) {
              $('.image-results ul').append('<li>No results found</li>')
            }
      });

  });
  //--end unsplash modal    
  




  //EDITOR - detect changes
  function requestEdit(feature) {

    if(feature.bgOpacity) {
        newBgOpacity = feature.bgOpacity; 
        if (newBgOpacity != currentBgOpacity) {
             saveChanges();
        }
    }


    if(feature.bgColor) {
        newBgColor = feature.bgColor; 
        if (newBgColor != currentBgColor) {
          saveChanges();
        }
    }


    if( feature.font) {
        console.log(feature.font);
        newFont = feature.font; 
        if (newFont != currentFont) {
            saveChanges();
        }
    }

    if( feature.bg_img) {
        console.log(feature.bg_img);
        newBg = feature.bg_img;
        if (newBg != currentBg) {
            currentBgLoaded = '';
            $('#external_image').val(newBg)
            newShowCustom = true;
            saveChanges();

        }
    }

    if( feature.show_custom) {
        console.log(feature.show_custom);
        newShowCustom = feature.show_custom;
        if (newShowCustom != currentShowCustom) {     
          saveChanges();
        }
    }      

  }




  //backgroud opacity slider
    $(function() {
      $( "#slider" ).slider({
        value: (currentBgOpacity != undefined) ? currentBgOpacity*100 : 0,
        slide: function( event, ui ) { 

          var percentage = ui.value/100;
          $(".event-page .overlay").css("opacity", percentage);
          requestEdit({bgOpacity:percentage});
        }
      });
    });


  //background color picker
    $('input#color').minicolors({ 
      position: 'top right', 
      defaultValue: currentBgColor,
      change: function(value, opacity) {
          $(".event-page .overlay").css("background-color", value);
          requestEdit({bgColor:value});

      }
   });

  //change font
  $('.font').click(function() {
      var target = $(this).data('target');
      $('.event-container').removeClass(tempFont); 
      $('.event-container').addClass(target); 
      requestEdit({font:target});
      tempFont = target;

 });







  //EDITOR -  event saved modal
  var eventSavedModal = $('#event-saved-modal').remodal();
  $('#draft').click(function(e){
    $(".full-page-loader.saving").addClass("visible");
    setTimeout(function(){  
      eventSavedModal.open();
      $(".full-page-loader.saving").removeClass("visible");
    }, 1500);

    e.preventDefault;
  });



  //manage ticketing price input (to check if stripe account exists)
  var stripemodal = $('#stripe-modal').remodal();

  $('#free-event-boolean').click(function(e) {
      
      if($(this).is(":checked")) {
        $("#event-price-input").attr("disabled", true);

      } else {

          if($('.stripe-connect-btn').length > 0) {
              
              stripemodal.open();
              e.preventDefault();
              return false;

          } else {
              $("#event-price-input").attr("disabled", false); 
          }

        }
  });




  // publish button 
  $('#publish').click(function(e) {
    e.preventDefault();

    $(".full-page-loader.saving").addClass("visible");
    $(".tabs").removeClass("visible");
    
    var eventProperties = {}
    eventProperties.name = $('h1 span').text();
    eventProperties.slug = window.location.href.split('?editing=true')[0];
    eventProperties.slug = eventProperties.slug.split('/')[3];
    eventProperties.type = $('#layout_style').val();
    var event_id = 'step 4 success - publishing event';
    amplitude.logEvent(event_id, eventProperties);  

    published = true;    
    saveChanges(true);



  });





$.FroalaEditor.DefineIcon('insertRegistrationLink', {NAME: 'tag'});
$.FroalaEditor.RegisterCommand('insertRegistrationLink', {
  title: 'Insert Registration Button',
  focus: true,
  undo: true,
  refreshAfterCallback: true,
  callback: function () {
    this.html.insert('<span class="btn btn-reg open-registration"> Register now</span>');
  }
});



$(function() {
    $('.froala-editor').froalaEditor({
      key: 'yweqH-8btjB-13B-11oyC2A-7pm==', 
      toolbarInline: true,
      inlineMode: false,
      imageEditButtons: ['imageReplace', 'imageRemove'],
      imageUploadToS3: {
          bucket: '<%= @hash[:bucket] %>',
          region: 's3-<%= @hash[:region] %>', // Change the region if it is different
          keyStart: '<%= @hash[:key_start] %>',
          callback: function (url, key) {
            // The URL and Key returned from Amazon.
            console.log (url);
            console.log (key);
          },
          params: {
            acl: '<%= @hash[:acl] %>', // ACL according to Amazon Documentation.
            AWSAccessKeyId: '<%= @hash[:access_key] %>', // Access Key from Amazon.
            policy: '<%= @hash[:policy] %>', // Policy string computed in the backend.
            signature: '<%= @hash[:signature] %>', // Signature computed in the backend.
          }
       },
      charCounterCount: false,
      toolbarButtons: ['bold', 'italic', 'underline', 'fontSize', 'strikeThrough', 'color', 'emoticons', '-', 'paragraphFormat', 'align', 'insertImage', 'insertLink', 'insertVideo', 'insertRegistrationLink', '-', 'undo', 'redo'],
      linkStyles: {
        btn: 'Button'      }
    }).on('froalaEditor.contentChanged', function (e, editor) {


      htmlHeroOne = $("#htmlHeroOne").froalaEditor('html.get');
      //htmlHeroButton = $("#htmlHeroButton").froalaEditor('html.get');
      htmlBodyOne = $("#htmlBodyOne").froalaEditor('html.get');
      htmlFooterOne = $("#htmlFooterOne").froalaEditor('html.get');
      //htmlFooterButton = $(this).froalaEditor('html.get');

      saveChanges();

});
});

//photo-1443130128240-22fb98ca70a4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e5ef277d1a5f81a1fc520243664aa7cf

  function saveChanges(callBack) {

    newBg = $('#external_image').val()
    $.ajax({
      type: 'POST',
        url: String(window.location.href).replace('?editing=true', '').replace('#', '') + '/updatetheme_post', //testing
        data: {event:{layout_id: layout, published: "true", layout_style: theme, bg_color: newBgColor , bg_opacity: newBgOpacity, font_type: newFont, external_image: newBg, show_custom: newShowCustom, html_hero_1:htmlHeroOne, html_hero_button:htmlHeroButton, html_body_1:htmlBodyOne, html_footer_1:htmlFooterOne, html_footer_button:htmlFooterButton      }},
    beforeSend: function(){
        
        changesExist = true;
        $("#saving").addClass("visible");
    }
      }).done(function(data){
        //console.log(data);
        $('#layout_style').val(theme);
        changesExist = false;
        $("#saving").removeClass("visible");


        if (callBack) {
          window.location.href = "dashboard/event?event=<%= @event.id %>";
        } else {
          
        }

      });
    }

  });



  //warning before leave page
  window.onbeforeunload = function(e) {
    if(changesExist) {
      return 'You have unsaved pages. Please wait until we have finished saving your event';
    }
  };

  $('.upload-btn').on('click', function(){
    $('.file-label').click();
  });

  //EDITING - close the "editing live events" notifcation banner 
  $("#event-status-notification-banner-close").click(function(e) {
    e.preventDefault();
    $(".event-status-notification-banner").removeClass("visible");

  });
  var $form = $('#background_form');
  $form.on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
    e.preventDefault();
    e.stopPropagation();
  })
  .on('dragover dragenter', function() {
    $form.addClass('is-dragover');
  })
  .on('dragleave dragend drop', function() {
    $form.removeClass('is-dragover');
  })
  .on('drop', function(e) {
    droppedFiles = e.originalEvent.dataTransfer.files;
  });









</script>

