<!-- footer editor module for background/fonts -->

<nav style="display:none;">
   <div class="dashboard-header" style="display:none;">
      <div class="left"> 
        <a class="logo" href="/"><span>Event Create</span></a>
        <ul> 
            <li class="dropdown"><a class="open-dropdown" id="view-switch">Previewing website <i class="icon icon-arrow-down"></i> </a>
                
                <ul class="dropdown-menu">
                    <li><a id="view-invite"><i class="icon icon-email"> </i>  Switch to invite view <p>Preview your email invitation </p></a> </li>
                    <li><a id="view-website"><i class="icon icon-bolt"> </i>  Switch to website view <p>Preview your event website  </p></a> </li>
                    <li><a href="dashboard/event?event=<%= @event.id %>#settings"> <i class="icon icon-pencil"> </i> Edit event details <p> Modify your event details</p></a> </li>  
                    <li><a href="dashboard/event?event=<%= @event.id %>"> <i class="icon icon-home"> </i> Event dashboard <p> event guest list and analytics</p></a> </li>  
                </ul>

            </li>
        </ul>
      </div>


      <div class="right"> 
        <ul> 
          <li>
            <% if @count_registrations >= @event_registration_limit %>  
        <%= link_to ('<i class="icon icon-email"></i>').html_safe, upgrade_path, :class => 'large-icon'  %> 
            <% else %>            
        <a class="large-icon send-email" ><i class="icon icon-email"></i> </a> 
            <% end %>  </li>

          <li> <a class="large-icon open-link-modal"><i class="icon icon-link"></i> </a>  </li>
          <li> <a class="large-icon" href="https://www.facebook.com/sharer/sharer.php?u=<%= @bitly.short_url %>" target="_blank"><i class="icon icon-facebook"></i> </a>  </li>         
          <li><a class="large-icon" href="https://twitter.com/home?status=Registration%20is%20now%20open%20at%20<%= @bitly.short_url %>" target="_blank"><i class="icon icon-twitter"></i> </a>  </li>
        </ul>
      </div>     

    </div>
</nav>

 <!--START editor continer-->

<div class="editor-container"> 



     <!--START CONTROLS-->
      <div class="tabs">
       <a class="tab toggleEditorPanel"  style="display:none;" id="event-editor-design" ><i class="icon icon-image"> </i> <span> Change Theme </span></a>
       <a class="tab toggleEditorPanel" id="editor-tool-background" data-target="editor-tool-background" ><i class="icon icon-image"> </i> <span> Modify background Image  </span></a> 



       <a class="tab toggleEditorPanel" id="editor-tool-font" data-target="editor-tool-font" data-height="100px"><i class="icon icon-alpha"> </i> <span> Changes fonts  </span></a> 


       <a class="tab toggleEditorPanel" id="editor-tool-ticketing" data-target="editor-tool-ticketing" data-height="400px" ><i class="icon icon-edit-inline"> </i> <span> Ticketing  </span></a> 


       <a class="tab toggleEditorPanel" id="editor-tool-payments" data-target="editor-tool-payments" data-height="400px" ><i class="icon icon-doc-empty"> </i> <span> Payments  </span></a> 



       <a class="tab edit-save"  id="save" style="display:none;"><i class="icon icon-save"> </i> save  </a> 

      <a class="tab edit-save"  id="discard" style="display:none;"><i class="icon icon-replay-back"> </i>  </a> 

     </div>
    <!--END CONTROLS -->



<!--start TEMP themes container  -->
<div class="editor" style="display:none;"> 
   <div class="event-editor-design" style="display:none;" >
      <a href="#" class="theme" data-layout="1" data-theme="cityscape" id="cityscape">
      	<img src="./assets/themes/cityscape_thumb.jpg">
      </a>  
  		<a href="#" class="theme" data-layout="1" data-theme="getloud" id="getloud">
  			<img src="./assets/themes/getloud_thumb.jpg">
  		</a>  
  		<a href="#" class="theme" data-layout="1" data-theme="epic" id="epic">
  			<img src="./assets/themes/epic_thumb.jpg">
  		</a>  
  		<a href="#" class="theme" data-layout="1" data-theme="gallery" id="gallery">
  			<img src="./assets/themes/gallery_thumb.jpg">
  		</a>  					
  		<a  class="theme" href="#"  data-layout="1" data-theme="celebrate" id="celebrate">
  			<img src="./assets/themes/celebrate_thumb.jpg"  >
  		</a> 
      <a  class="theme" href="#"  data-layout="1" data-theme="minimalist" id="minimalist">
        <img src="./assets/themes/minimalist_thumb.jpg"  >
      </a> 					  
  </div>
</div>
  <!--end TEMP themes container -->



  <!--START THE BG UPLOAD-->
  <div class="editor-tools" >



    <div class="editor-tool" id="editor-tool-background">



<%= form_for @event, url: update_event_path(@event), :html => { :id => "custom_image_form" }  do |f| %>
<i class="icon icon-image"> </i>
  <%= f.file_field :image, name: "event[background_img]", :id => 'hello', :val => 'UPload IMage' %>
  Upload image
<% end %>

      <a class="open-image-modal"><i class="icon icon-search"> </i>  Search images </a>

      <div class="right">
        <div class="slider"> <div id="slider"></div> </div>
        <div class="color-picker"><input id="color"></div>
      </div>      
    </div>  




    <div class="editor-tool" id="editor-tool-font" >
      <a class="font brandon" data-target="brandon" style="font">Abc </a>   
      <a class="font helvetica" data-target="helvetica">Abc</a> 
      <a class="font sophia" data-target="sophia">Abc</a>
      <a class="font futura" data-target="futura" style="font-size:22px;">Abc</a>
      <a class="font gotham" data-target="gotham" style="font-size:12px;">Abc</a>  
      <a class="font freight" data-target="freight" style="font-size:16px; letter-spacing:3px;">Abc</a>
    </div>  




    <div class="editor-tool" id="editor-tool-ticketing" style="height:400px;" >
      
      <div class="left" style="width:20%;">
        <h3> Sell tickets for your event</h3>
        <p>In id urna nec orci ultrices finibus sit amet nec nulla. Donec consequat turpis ligula, ut lacinia enim semper a. In malesuada erat quis dolor aliquam.</p>
        <span href="" class="btn open-ticket"> New ticket</span>
      </div>

      <div class="right" style="width:70%">

      <h4>Active tickets </h4>
        <div class="tickets">
        
        <% @tickets.each do |ticket| %>

          <div class="ticket">
            <h3><%= ticket.title %></h3>
            <p><%= number_to_currency(ticket.price) %></p>
            
            <div class="ticket-actions">


             <div class="ticket-action">
            <%= link_to ('<i class="icon icon-pencil"> </i>').html_safe, edit_ticket_path(ticket)  %></div>
            <div class="ticket-action"> <%= link_to ('<i class="icon icon-trash"> </i>').html_safe,  ticket_path(ticket)  , method: :delete, data: { confirm: 'Are you sure?' } %></div>
            </div>

          
          </div>

         <!--  <div class="ticket">
            <h3>General Admission </h3>
            <p>$25.00</p>


            <div class="ticket-actions">


             <div class="ticket-action"> <i class="icon icon-pencil"> </i></div>
            <div class="ticket-action"> <i class="icon icon-trash"> </i></div>
            </div>


          </div> -->


        <% end %>

        </div>

      </div>
 

    </div>  






    <div class="editor-tool" id="editor-tool-payments" style="height:400px;" >
      
      <div class="left" style="width:20%;">
        <h3> Add a payment method</h3>
        <p>In id urna nec orci ultrices finibus sit amet nec nulla. Donec consequat turpis ligula, ut lacinia enim semper a. In malesuada erat quis dolor aliquam.</p>
      </div>

      <div class="right" style="width:70%">
       
      <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_32D88BD1qLklliziD7gYQvctJIhWBSQ7&scope=read_write"><img src="/assets/stripe/blue-on-light.png" /> <p>Visa, Mastercard, and Visa </p>  </a>

            <a>Paypal <p> coming soon </p>  </a>





     
      </div>
 

    </div>  








  </div>
  <!--END BG -->



</div>
 <!--END editor continer-->




 <!--TEMP HOLDER FOR DRAG AND DROP ELEMENTS-->
  <a href="#" id="custom-image" style="display:none;">

  <div class="upload" style="background-image:url('<%= @event.background_img%>')">  </div> 

    <script id="template-upload" type="text/x-tmpl">
    <div class="uploader">
    <div class="progress"><div class="bar" style="width:0%;"></div></div>
    </div>
    </script>

  </a>  