<div class="show-view website-container">

	<div class="event-container <%= @event.font_type %>">
	  <%= hidden_field_tag 'layout_id', @event.layout_id %>
	  <%= hidden_field_tag 'layout_style', @event.layout_style %>
	  <%= hidden_field_tag 'event_id', @event.id %>
	  <%= hidden_field_tag 'show_custom', @event.show_custom %>
	  <%= hidden_field_tag 'bg', @event.background_img %>
	  <%= hidden_field_tag 'external_image', @event.external_image %>
	  <%= hidden_field_tag 'bg_opacity', @event.bg_opacity %>
	  <%= hidden_field_tag 'bg_color', @event.bg_color %>
	  <%= hidden_field_tag 'font_type_id', @event.font_type %>
	  <%= hidden_field_tag 'published', @event.published %>


		<div class="event-page 1" style="background-image: url(<%= image_path(background_checker(@event, false), :width => 100) %> ) !important">
		  <div class="overlay" style="opacity: <%= @event.bg_opacity %>;background-color:<%= @event.bg_color %>;"></div>
			<div class="header"> 
					<div class="event-share">
						<a href="https://www.facebook.com/sharer/sharer.php?u=<%= @bitly.short_url %>"><i class="icon icon-facebook-circled"> </i> </a>
						<a href="https://twitter.com/home?status=Registration%20is%20now%20open%20at%20<%= @bitly.short_url %>"><i class="icon icon-twitter-circled"> </i> </a>
					</div>
		     <h1> <%= best_in_place @event, :name, :url => update_event_path(@event) %></h1> 
		     <h2 style="display:none;"> </h2>
		    <% if !@has_paid_ticket %>
		    	<a class="btn btn-bordered rsvp open-registration">Register Now</a>
		    <% else %>
		    	<a class="btn btn-bordered rsvp open-registration">Buy Tickets</a>
			<% end %>
	      <!-- close registration if event start time has past -->      
	      <% if (@event.time_start.nil? && @event.time_start != '') %>
	       <% if(Time.now.utc.strftime( "%H%M%S%N" ) > @event.time_start.to_time.utc.strftime( "%H%M%S%N" ) &&  DateTime.now.to_date == @event.date_start.to_date) %> 
	        <div class="btn btn-bordered rsvp open-registration">Registration Closed</div> 
	      <%  else  %>
	        <a class="btn btn-bordered rsvp open-registration">Register Now</a>
	      <% end %>
	      <% end %>
	      <!-- registration button end -->
			</div>


			<div class="upload-container"><div class="upload"></div>  

				<div style="display:none;" ><%= image_tag(@event.background_img, id: 'image_color', crossOrigin: 'anonymous')  %></div>
			    <%= form_for @event, url: update_event_path(@event), :html => {:id => "background_form"} do |f| %>
			    <label for="custom-file-input" class="file-label" style="display:none;">Upload Your Own</label>
			    <%= f.file_field :background_img, :id => 'custom-file-input', :style => "display:none;" %> 
			    <% end %> 

			</div> 
			
 			 <% if current_user.customer_id.nil? && !@premium_disable %>
			<a href="https://www.eventcreate.com/" title="EventCreate" target="_blank" id="event-page-logo">
		  		<div class="event-page-logo-container"></div>
		  		<div class="event-page-logo"></div> 
		 	</a>
		 	<% end %>	

		  </div>

	</div>
	 
	<div class="event-body"> 
		<div class="event-meta-container"> 
			<div class="event-meta col">
				<i class="icon icon-calendar"></i>
				<%= show_proper_date(@event, true) %>
	      <% if(@event.date_start != '' &&  !@event.date_start.nil? ) %>
	          <div class="event-meta-actions">  
	            <%=link_to 'Add to calendar', export_events_path %>  
	          </div>  
	      <% end %>

			</div>
			<div class="event-meta col">
				<i class="icon icon-location"></i>

	      <% if( @event.location != '' ||  @event.location_name != '' ) %>
	      		<%= @event.location_name %> <br>
				<span class="location"><%= @event.location %></span>
		  <% else %>
		  TBD
	      <% end %>

	      <% if( @event.location != '' ) %>
	      <div class="event-meta-actions">
	          <a href="http://maps.google.com/?q=<%= @event.location %>" target="_blank">Get Directions </a>  
	      </div>
	      <% end %>
			</div>

    	<% if(!@event.host_name.blank?) %>
		    <div class="event-meta col">
		      <i class="icon icon-user"></i>
		      Hosted by <br>
		      <%= @event.host_name %> 
		      <div class="event-meta-actions">
		          <a class="open-contact" >Contact host </a>  
		      </div>
		    </div>
	    <% end %> 

		</div>


		<div class="event-description">
	  	<p class="event-description">
			<%= sanitize @event.description.html_safe %>
			
	  	</p>
		</div>	
		<div class="event-action-container">
			<% if  (@event.date_start.nil? &&  @event.date_start.blank? ) %>
				<% if Date.today < @event.date_start.to_date  %>
					<% if !@has_paid_ticket %>
						<a class="btn btn-large open-registration">Register Now</a>
					<% else %>
						<a class="btn btn-large open-registration">Buy Tickets</a>
					<% end %>
				<% else %>
					<div class="btn btn-large btn-disabled">Registration closed</div>
				<% end %>
			<% else %>
					<% if !@has_paid_ticket %>
						<a class="btn btn-large open-registration">Register Now</a>
					<% else %>
						<a class="btn btn-large open-registration">Buy Tickets</a>
					<% end %>
			<% end %>
		
			<a class="btn btn-large open-contact" style="display:none;">Contact Host</a>
		</div>
	</div>	
		
	      <% if( @event.location != '' ) %>
	<div class="map-container" >
		<div id="map"></div>
		<a class="map-cover" href="http://maps.google.com/?q=<%= @event.location %>" target="_blank"> </a>
	</div>
	<% end %>
	<div class="credit"> 
		<div>powered by</div> 
		<a href="http://www.eventcreate.com/" title="EventCreate"><img alt="EventCreate" src="<%= asset_path 'event_create_logo_gray.png' %>"/> </a>
	</div>



</div>