<div class="show-view website-container">

	<div class="event-container <%= @event.font_type %>">
	  <%= hidden_field_tag 'layout_id', @event.layout_id %>
	  <%= hidden_field_tag 'layout_style', @event.layout_style %>
	  <%= hidden_field_tag 'event_id', @event.id %>
	  <%= hidden_field_tag 'show_custom', @event.show_custom %>
	  <%= hidden_field_tag 'bg', @event.background_img %>
	  <%= hidden_field_tag 'external_image', @event.external_image %>
	  <%= hidden_field_tag 'bg_opacity', @event.bg_opacity %>
	  <%= hidden_field_tag 'bg_color', @event.bg_color %>
	  <%= hidden_field_tag 'font_type_id', @event.font_type %>
	  <%= hidden_field_tag 'published', @event.published %>


		<div class="event-page 1" style="background-image: url(<%= image_path(background_checker(@event, false), :width => 100) %> ) !important">


		  <div class="overlay" style="opacity: <%= @event.bg_opacity %>;background-color:<%= @event.bg_color %>;"></div>
			<div class="header"> 
			<div class="dragOverlay">Drag and Drop a file to upload</div>

			<div class="event-share" style="display:none;">
				<a href="/">Get Directions </a>   <a href="/">Contact </a> <a href="/">Register Now </a>
				<a style="display:none;"> href="https://www.facebook.com/sharer/sharer.php?u=<%= @bitly.short_url %>"><i class="icon icon-facebook-circled"> </i> </a>
				<a style="display:none;" href="https://twitter.com/home?status=Registration%20is%20now%20open%20at%20<%= @bitly.short_url %>"><i class="icon icon-twitter-circled"> </i> </a>
			</div>

			<div class="froala-editor" id="htmlHeroOne">
				<%= raw(@event.html_hero_1) %>
			</div>


			<div class="upload-container" style="display:none;"><div class="upload"></div>  

				<div style="display:none;" ><%= image_tag(@event.background_img, id: 'image_color', crossOrigin: 'anonymous')  %></div>
			    <%= form_for @event, url: update_event_path(@event), :html => {:id => "background_form"} do |f| %>
			    <label for="custom-file-input" class="file-label" style="display:none;">Upload Your Own</label>
			    <%= f.file_field :background_img, :id => 'custom-file-input', :style => "display:none;" %> 
			    <%= f.text_field :external_image, :style => "display:none;", :value => nil %> 
			    <% end %> 

			</div> 


		  </div>

	</div>




		<div class="froala-editor event-body" id="htmlBodyOne">
			<%= raw(@event.html_body_1) %>
		</div>
	</div>





	<div class="event-footer">

		<div class="froala-editor" id="htmlFooterOne">
			<%= raw(@event.html_footer_1) %>
		</div>

	</div>


</div>










