<!--upgrade modal-->
<div id="rsvp-new-modal" class="remodal">

<div class="modal-secure"><i class="fa fa-lock"> </i> </div>

<%= form_tag complete_registration_path, :id => 'purchase-tickets_form' do |f|  %>

					<% if @purchase.errors.any? %>
			<div class="alert error">
			    <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this event from being saved:</h2>

			      <ul>
			        <% @purchase.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			        <% end %>
			      </ul>
			</div>
			<% end %>

		<div class="modal-header modal-header-light">
	    <h3> <%= @event.name %> </h3>	 
     
        <% if @current_ticket.price == 0 %> 
        <% else %>
          <p>  <span class="form-price"><%= number_to_currency(@current_ticket.price) %></span></p>
        <% end %>   
      
     <%= hidden_field_tag 'ticket_id['+@current_ticket.id.to_s+']', @current_ticket.id %>
		
          <p class="price-listing">

	    				
                                <span class="form-quantity">1</span> X 

				              <span class="form-price"><%= number_to_currency(@current_ticket.price) %></span>
				       
			          
                    (+ <%= @fee_rate*100 %>% + $.99)
           </p> 
                    <p class="price-listing"><strong>Total:</strong><span class="form-total"> $<%= number_with_precision(@starter_price, :precision => 2) %> </span></p> 
    		    </div>
			   <div>
			</div>

    
		
		<div class="modal-body">
  

		

    <%# @RICH  -   if MORE THAN 1 TICKET EXISTS  %>
            <div class="input-group ticket-type">
                <label>Select Ticket:</label>
             
                <%= select("ticket", "title", @tickets.collect {|p| [ p.title + ' ($' + number_with_precision(p.price.to_s, :precision => 2) + ')' , p.id, {'data-buy_limit'=>p.buy_limit}, {'data-stop_date'=>p.stop_date}, {'data-ticket_limit' => p.ticket_limit}, {'data-quantity_left'=> p.ticket_limit - LineItem.where(:ticket_id => p.id.to_s).count }, {'data-total_bought' => LineItem.where(:ticket_id => p.id.to_s).count }  ] }) %>

            </div>


    <%# END  %>
        <% @total = 0 %>
            <% Purchase.where(:event_id => @event.id).all.each do |purchase| %>
            <% @total += LineItem.where(:purchase_id => purchase.id.to_s, :ticket_id => @current_ticket.id.to_s).count %>
            <% end %>
     

<!--     <%# if !@current_ticket.stop_date.nil? &&  @current_ticket.stop_date.to_date > DateTime.now.to_date %> -->
     <!--  <%# if @current_ticket.ticket_limit.to_i - @total.to_i > 0 %> -->

  	    	<div class="input-group quantity">
  		    		<label>Select Quantity:</label>
  			           <%# if LineItem.where(:ticket_id => @current_ticket.id.to_s).count < (@current_ticket.ticket_limit.to_i-@current_ticket.buy_limit.to_i) %>
  			              <%= select_tag "ticket_quantity["+@current_ticket.id.to_s+']', options_for_select((1..@current_ticket.buy_limit).step(1)) %>
  			          <%# else %>
<!-- 
  			              <%= select_tag "ticket_quantity["+@current_ticket.id.to_s+']', options_for_select((1..(@current_ticket.ticket_limit.to_i-LineItem.where(:ticket_id => @current_ticket.id.to_s).count)).step(1)) %> -->
  			          <%# end %>
  			</div>

       <!--  <%# else %> -->
          <!--   <%# if  @current_ticket.ticket_limit.to_i - @total.to_i  == 1 %> -->
          
              <%# hidden_field_tag "ticket_quantity["+@current_ticket.id.to_s+']', 1 %>
       <!--      <%# else %> -->
              <%# hidden_field_tag "ticket_quantity["+@current_ticket.id.to_s+']', 0 %>
              <!--  <div class="input-group quantity">
                       <label>Select Quantity:</label>
                      
                      <%= select_tag "ticket_quantity["+@current_ticket.id.to_s+']', "<option>SOLD OUT</option>".html_safe, {:disabled => true} %>
                </div> -->

         <!--    <%# end %> -->

            

       <!--  <%# end %> -->

<!--     <%# else %> -->
   <!-- <div class="input-group quantity">
      <label>Select Quantity:</label>
        <%= select_tag "ticket_quantity["+@current_ticket.id.to_s+']', "<option>No longer available </option>".html_safe, {:disabled => true} %>
      </div> -->
  <!--   <%# end %> -->


    




<%= hidden_field_tag :user_id, @user.id  %>
<%= hidden_field_tag :event_id, @event.id  %>


      <div class="input-group"> 
        <div class="input-group-inline">
          <label> First Name </label>
          <input type="text" class="input " name="purchase[first_name]" placeholder="First Name"/> 
        </div>

        <div class="input-group-inline">
          <label> Last Name </label>
          <input type="text" class="input " name="purchase[last_name]"  placeholder="Last Name" /> 
        </div>
      </div>

      <div class="input-group"> 
          <label> Email Address </label>
          <input type="text" class="input" name="purchase[email]" placeholder="email@email.com" /> 
  

  <!--       <div class="input-group-inline">
          <label> Phone Number (optional) </label>
          <input type="text" name="purchase[phone_number]" placeholder="(555) 555-5555"  /> 
        </div> -->
      </div>      

      <% if @has_paid_ticket %>
      <div class="cc-section" style="<%= 'display:none' if @current_ticket.price.to_i == 0 %>">
          <div class="input-group" >
            <label>Credit card number</label>
            <input  type="text" id="cc" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679; &#9679;&#9679;&#9679;&#9679;&#9679; &#9679;&#9679;&#9679;&#9679;&#9679; &#9679;&#9679;&#9679;&#9679;&#9679;" class="input cc-number" >
         
            
          </div>
          
          <div class="input-group">
            <div class="input-group-inline">   
              <label>Expiration (month/year)</label>
              <input placeholder="12 / 2018" class="input cc-exp" type="text" > 
            </div>
            <div class="input-group-inline" id="cvv"> 
              <label>CVV</label>
              <input class="input cc-cvc" type="text" placeholder="CVV" maxlength="4"  >
            </div>
          </div>  
    </div>

      <% end %>


	
      <div class="input-group"> 

    <% if !@current_ticket.stop_date.nil? && @current_ticket.stop_date.to_date > DateTime.now.to_date %>
      <% if @current_ticket.ticket_limit.to_i - @total.to_i  > 0 %>
	       		<% if !@has_paid_ticket %>

			    	<button class="btn btn-large">Register Now</button>
			    <% else %>
			    	<button class="btn btn-large">Buy Tickets</button>
				<% end %>
      <% else %>
          
            <button class="btn btn-large btn-disabled" disabled>Not Available</button>
      <% end %>


      <% else %>
          
            <button class="btn btn-large btn-disabled" disabled>Registration closed</button>
      <% end %>


        <p class="input-secure"><i class="fa fa-lock"> </i> Secure server </p>

      <p>
        Your privacy is very important to us. By using this website and/or <% if @current_ticket.price == 0 %>   
 registering for an event, <% else %> buying tickets to an event, 
         <% end %>  you agree to EventCreate's <a href="https://www.eventcreate.com/terms" target="_blank">Terms of Service </a> and <a href="https://www.eventcreate.com/privacy" target="_blank"> Privacy Policy</a>. 

<% if @current_ticket.price == 0 %>   
<% else %>  All ticketing sales are final and non-refundable. 

         <% end %> 
        
      </p>

      </div>

      














  </div>  
    

</div>

<% if @has_paid_ticket %>
  <script type="text/javascript" src="/assets/ticket-payment-modal.js"></script>
<else>

<% end %>


<script type="text/javascript">
  
$(document).ready(function() {

  var current_id = null;
   var priceStringFromTitle = $('#ticket_title option:selected').text();
    var filteredPrice = priceStringFromTitle.substring( priceStringFromTitle.lastIndexOf("$")+1, 
                                priceStringFromTitle.lastIndexOf( ")" ) 
                              );

    $('.form-price').text('$' + filteredPrice);
    if(Number(filteredPrice) > 0) {
      $('.cc-section, .price-listing').show();
    }else {
      $('.cc-section, .price-listing').hide();

    }
  $('#purchase-tickets_form .ticket-type select').on('change', function(){
    if(current_id == null) {
      current_id = <%= @current_ticket.id %>
    } 

    $('input#ticket_quantity_'+ current_id).remove();

    $('#ticket_id_' + current_id).val($('#ticket_title option:selected').val());
    $('#ticket_id_' + current_id).attr('id', 'ticket_id_'+$('#ticket_title option:selected').val()).attr('name', 'ticket_id['+$('#ticket_title option:selected').val()+']')
    var priceStringFromTitle = $('#ticket_title option:selected').text();
    var filteredPrice = priceStringFromTitle.substring( priceStringFromTitle.lastIndexOf("$")+1, 
                                priceStringFromTitle.lastIndexOf( ")" ) 
                              );

    $('.form-price').text('$' + filteredPrice);
    if(Number(filteredPrice) > 0) {
      $('.cc-section, .price-listing').show();
    }else {
      $('.cc-section, .price-listing').hide();

    }
    var total_price = (($('.form-quantity').text()* filteredPrice)*.025)+($('.form-quantity').text()*filteredPrice)+(.99*$('.form-quantity').text())
    $('.form-total').text(' $'+ (Math.round((total_price + 0.00001) * 100) / 100));
   changeSelectOptions()

   current_id = $('#ticket_title option:selected').val();
  });


  //rsvp dropdown
  $('#purchase-tickets_form .quantity select').on('change', function(){

 var priceStringFromTitle = $('#ticket_title option:selected').text();
    var filteredPrice = priceStringFromTitle.substring( priceStringFromTitle.lastIndexOf("$")+1, 
                                priceStringFromTitle.lastIndexOf( ")" ) 
                              );
    $('.form-price').text('$' + filteredPrice);
    $('.form-quantity').text($(this).val());
    var total_price = (($(this).val()* filteredPrice)*.025)+($(this).val()*filteredPrice)+(.99*$(this).val())
    $('.form-total').text(' $'+ (Math.round((total_price + 0.00001) * 100) / 100));
  });

  $(".toggle-container").click(function() {   
      $(this).toggleClass("toggle-on");
      $(this).find("span").text("live");
  });




  //TICKET - new ticket modal functionality and validation
  $("#show-event-description").click(function() {  
    $(this).hide();
    $("#ticket-description").slideDown();
  });
  $("#show-ticket-advanced-settings").click(function() {  
    $("#ticket-advanced-settings").slideToggle();
  });


  

    var validator = $("#purchase-tickets_form").validate({
    rules: {
      "purchase[first_name]": {
        required: true
      },
      "purchase[last_name]": {
        required: true
      },
      "purchase[email]": {
        required: true,
        email:true
      },
      "purchase[email]": {
        required: true,
        email:true
      }
    }, messages : {
      "purchase[first_name]": 'Please enter your first name.',
      "purchase[last_name]": 'Please enter your last name.',
      "purchase[email]": 'Please enter a valid email.',

    }
  });

  var attendee_length = $('.ticket-holder').length;
  for(var i=0; i< attendee_length; i++ ) {

  $("input[name='attendees["+ (i+1) +"][first_name]']").rules("add", {required: true, messages: { required: 'Please enter a valid first name'}});
  
  $("input[name='attendees["+ (i+1) +"][last_name]']").rules("add", {required: true, messages: { required: 'Please enter a valid last name'}});
  

  $("input[name='attendees["+ (i+1) +"][email]']").rules("add", {required: true, messages: { required: 'Please enter a valid email'}});
  }



  var attendee_length = $('.ticket-holder').length;
  for(var i=0; i< attendee_length; i++ ) {

  $("input[name='attendees["+ (i+1) +"][first_name]']").rules("add", {required: true, messages: { required: 'Please enter a valid first name'}});
  
  $("input[name='attendees["+ (i+1) +"][last_name]']").rules("add", {required: true, messages: { required: 'Please enter a valid last name'}});
  

  $("input[name='attendees["+ (i+1) +"][email]']").rules("add", {required: true, messages: { required: 'Please enter a valid email'}});
  }


  //if not a paid event, add a sumbit function to show loader and disable button
 
  if ($(".cc-number").is(':visible') == false) {
  

   $('#purchase-tickets_form').submit(function(e) {
      if($(this).valid() && $('.invalid').length == 0 ) {
      var $form = $(this);
      $form.find('button').prop('disabled', true);
      $(".full-page-loader").addClass("visible");
    }

    }); 
 }




changeSelectOptions()
function changeSelectOptions() {
    $('.quantity select').remove();

  var registrationclosed = moment($('#ticket_title option:selected').data('stop_date')) < moment.now();
  var soldout = $('#ticket_title option:selected').data('quantity_left') - $('#ticket_title option:selected').data('total_bought') <= 0//quantity left - quantity buying

 if(soldout) {

  var testtrim = $.trim('<select disabled="disabled" id="ticket_quantity_'+ $('#ticket_title option:selected').val() +'" name="ticket_quantity['+ $('#ticket_title option:selected').val() +']"><option>Sold out</option></select>')
  testtrim += '<input id="ticket_quantity_'+ $('#ticket_title option:selected').val() +'" name="ticket_quantity['+ $('#ticket_title option:selected').val() +']" type="hidden" value="0">';
} else if(registrationclosed) { // if sold out
  var testtrim = $.trim('<select disabled="disabled" id="ticket_quantity_'+ $('#ticket_title option:selected').val() +'" name="ticket_quantity['+ $('#ticket_title option:selected').val() +']"><option>No longer available</option></select>')
} else {
  var testtrim = $.trim('<select id="ticket_quantity_'+ $('#ticket_title option:selected').val() +'" name="ticket_quantity['+ $('#ticket_title option:selected').val() +']">');
for(var i=0;i < $('#ticket_title option:selected').data('buy_limit'); i++) {
  testtrim += '<option value="'+ (i+1)+'">'+ (i+1)+'</option>'
}
testtrim += '</select>';

}


$('.quantity label').after(testtrim);
//return testtrim;
}



});





</script>







	   
	
					
	
		 
		 
		</div> 

			<% end %>
		
</div>
<!-- END modal -->



<div class="full-page-loader">
      <h2> <i class='icon icon-loader'></i></h2>
      <h2>Nice! Hang tight for sec, while we process you're event registration.</h2>
</div>




