<!--upgrade modal-->
<div id="rsvp-new-modal">


<%= form_tag complete_registration_path, :id => 'purchase-tickets_form' do |f|  %>

					<% if @purchase.errors.any? %>
			<div class="alert error">
			    <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this event from being saved:</h2>

			      <ul>
			        <% @purchase.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			        <% end %>
			      </ul>
			</div>
			<% end %>

	              <% @tickets.each do |ticket| %>
		<div class="modal-header modal-header-light">
	    <button data-remodal-action="close" class="remodal-close"></button>
	    <h2>RSVP now </h2>	 


			            <!--   <h3><%= ticket.title %></h3> -->
			   			<!-- <p><%= ticket.description %></p> -->
			   			<!-- <% if !ticket.stop_date.nil? %>
			              <p class="small"> Available until <%=  ticket.stop_date.strftime('%B %d, %Y') %></p>       <% end %>
			        	-->
			              <%= hidden_field_tag 'ticket_id['+ticket.id.to_s+']', ticket.id %>
		


	    				<p><span class="form-quantity">1</span> X 
	    					<% if ticket.price == 0 %>
			              	Free
				          <% else %>
				              <%= number_to_currency(ticket.price) %>
				          <% end %> 
			          
<% if @has_paid_ticket %>(+ 2.5% + $.99)<% end %> </p> 
                      <p><strong>Total:</strong><span class="form-total"> $<%= number_with_precision(@starter_price, :precision => 2) %> </span></p>


    		</div>



			<div>

	

			    	

			
			</div>

    
		
		<div class="modal-body">
		

		

	    	<div class="input-group">
		    		<label>Quantity:</label>
			           <% if LineItem.where(:ticket_id => ticket.id.to_s).count < (ticket.ticket_limit.to_i-ticket.buy_limit.to_i) %>
			              <%= select_tag "ticket_quantity["+ticket.id.to_s+']', options_for_select((1..ticket.buy_limit).step(1)) %>
			          <% else %>

			              <%= select_tag "ticket_quantity["+ticket.id.to_s+']', options_for_select((1..(ticket.ticket_limit.to_i-LineItem.where(:ticket_id => ticket.id.to_s).count)).step(1)) %>
			          <% end %>
			</div>






<%= hidden_field_tag :user_id, @user.id  %>
<%= hidden_field_tag :event_id, @event.id  %>


      <div class="input-group"> 
        <div class="input-group-inline">
          <label> First Name </label>
          <input type="text" class="input input-small" name="purchase[first_name]" placeholder="First Name"/> 
        </div>

        <div class="input-group-inline">
          <label> Last Name </label>
          <input type="text" class="input input-small" name="purchase[last_name]"  placeholder="Last Name" /> 
        </div>
      </div>

      <div class="input-group"> 
          <label> Email Address </label>
          <input type="text" class="input input-small" name="purchase[email]" placeholder="email@email.com" /> 
  

  <!--       <div class="input-group-inline">
          <label> Phone Number (optional) </label>
          <input type="text" name="purchase[phone_number]" placeholder="(555) 555-5555"  /> 
        </div> -->
      </div>      

<% if @has_paid_ticket %>



          <div class="input-group">
            <label>Credit card number</label>
            <input  type="text" id="cc" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679; &#9679;&#9679;&#9679;&#9679;&#9679; &#9679;&#9679;&#9679;&#9679;&#9679; &#9679;&#9679;&#9679;&#9679;&#9679;" class="input input-small cc-number" >
      
            
          </div>
          
          <div class="input-group">
            <div class="input-group-inline">   
              <label>Expiration (month/year)</label>
              <input placeholder="12 / 2018" class="input input-small cc-exp" type="text" > 
            </div>
            <div class="input-group-inline" id="cvv"> 
              <label>CVV</label>
              <input class="input input-small cc-cvc" type="text" placeholder="CVV" maxlength="4"  >
            </div>
          </div>  


<% end %>


	

	       		<% if !@has_paid_ticket %>
			    	<button class="btn">Register Now</button>
			    <% else %>
			    	<button class="btn">Buy Tickets</button>
				<% end %>


			<div class="payment-modal-footer">
				Payments processed secured with 256-bit enceyption. By registering for this event and/or buying tickets you agree to EventCreate's terms and conditions.
			</div>

      














  </div>  
    
.

</div>

<% if @has_paid_ticket %>
<script type="text/javascript" src="/assets/ticket-payment-modal.js"></script>
<% end %>


<script type="text/javascript">
  
$(document).ready(function() {



  //rsvp dropdown
  $('#purchase-tickets_form select').on('change', function(){
 
    $('.form-quantity').text($(this).val());
    var total_price = (($(this).val()* <%= @ticket_price %>)*.025)+($(this).val()*<%= @ticket_price %>)+(.99*$(this).val())
    $('.form-total').text(' $'+ (Math.round((total_price + 0.00001) * 100) / 100));
  });

  $(".toggle-container").click(function() {   
      $(this).toggleClass("toggle-on");
      $(this).find("span").text("live");
  });




  //TICKET - new ticket modal functionality and validation
  $("#show-event-description").click(function() {  
    $(this).hide();
    $("#ticket-description").slideDown();
  });
  $("#show-ticket-advanced-settings").click(function() {  
    $("#ticket-advanced-settings").slideToggle();
  });
  var validator = $("#new_ticket").validate({
    rules: {
      name: "required",
      "ticket[title]": {
        required: true
      }
    }, messages : {
      "ticket[title]": 'Please enter a ticket name.'
    }
  });


  

    var validator = $("#purchase-tickets_form").validate({
    rules: {
      "purchase[first_name]": {
        required: true
      },
      "purchase[last_name]": {
        required: true
      },
      "purchase[email]": {
        required: true
      },
      "purchase[email]": {
        required: true
      }
    }, messages : {
      "purchase[first_name]": 'Please enter your first name.',
      "purchase[last_name]": 'Please enter your last name.',
      "purchase[email]": 'Please enter a valid email.',

    }
  });

  var attendee_length = $('.ticket-holder').length;
  for(var i=0; i< attendee_length; i++ ) {

  $("input[name='attendees["+ (i+1) +"][first_name]']").rules("add", {required: true, messages: { required: 'Please enter a valid first name'}});
  
  $("input[name='attendees["+ (i+1) +"][last_name]']").rules("add", {required: true, messages: { required: 'Please enter a valid last name'}});
  

  $("input[name='attendees["+ (i+1) +"][email]']").rules("add", {required: true, messages: { required: 'Please enter a valid email'}});
  }



  var attendee_length = $('.ticket-holder').length;
  for(var i=0; i< attendee_length; i++ ) {

  $("input[name='attendees["+ (i+1) +"][first_name]']").rules("add", {required: true, messages: { required: 'Please enter a valid first name'}});
  
  $("input[name='attendees["+ (i+1) +"][last_name]']").rules("add", {required: true, messages: { required: 'Please enter a valid last name'}});
  

  $("input[name='attendees["+ (i+1) +"][email]']").rules("add", {required: true, messages: { required: 'Please enter a valid email'}});
  }

});

</script>







	   
	
					
	
		 
		 
		</div> 

			     <% end %>
			<% end %>
		
</div>
<!-- END modal -->

