<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="keywords" content="<%= meta_keywords %>" /> 
  <meta name="description" content="<%= meta_description %>" />

  <meta name="google-site-verification" content="N3as54yWdnHGj6rqX9tI8Ba8niZb8dRYxQqfrqhmFis" />
  <meta name="viewport" content="width=device-width">

  <!-- load fonts.com -->
  <script type="text/javascript" src="//fast.fonts.net/jsapi/bf60a8d1-1e05-4ef0-bc32-3edaef6da022.js"></script>

   <!-- load fontastic -->
  <link href="https://file.myfontastic.com/pkgs5MVBFuxd633NvmeuK3/icons.css" rel="stylesheet">  


  <% if controller_name == "events" &&  action_name == 'show' %>

    <!-- load typekit font -->
    <script src="//use.typekit.net/lkw3rge.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    
    <!-- load typography.com -->
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6635554/696128/css/fonts.css" />

  <% end %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', controller_name, 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
  // This identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_test_oG4ZLOai3M04d6IefMwBdbbP');
    // ...
  </script>
</head>

 


<body class="<%= controller.controller_name == 'events' && controller.action_name == 'show'? 'event-show' : controller.controller_name %>  <%= controller.action_name %> <%= (signed_in?) ? 'logged-in' : '' %> 
">

  
  <%= render 'layouts/partials/nav' %>
  <%= render 'layouts/partials/alert' %>

<!-- add payment modal here -->
  <%= yield %>


<footer>
  &copy; 2015 EventCreate. All rights reserved.
</footer>


<!-- google analytics code -->
  <script src="/assets/vendor/google-analytics.js"></script>
<!-- end google analytics code -->

<!-- ampltitude code -->
  <script src="/assets/vendor/amplitude.js"></script>
<!-- end ampltitude code -->

<script src="/assets/jquery.validate.js"></script>
<script src="/assets/vendor/notify.js"></script>


<% if controller_name == "pages" %>

  <script src="/assets/vendor/olark.js"></script>

<% end %>






<!-- load google map file only on dashboard edit event page and on event pages -->
<% if controller_name == "events" &&  action_name == 'show' %>

     
   <script>
   if(document.getElementsByClassName('event-page').length > 0 ) {


    var initMap;

    initMap = function() {
      var address, codeAddress, geocoder, getLocation, infowindow, latlng, map, marker, showPosition;
      geocoder = void 0;
      geocoder = new google.maps.Geocoder;
      latlng = void 0;
      var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
    
      map = new google.maps.Map(document.getElementById('map'), {
        center: latlng,
        zoom: 13,
        disableDefaultUI: true,
        zoomControl: false,
        scrollwheel: false,
        backgroundColor: 'none'

      });

      getLocation = function() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          x.innerHTML = 'Geolocation is not supported by this browser.';
        }
      };
      showPosition = function(position) {
        var lat, long;
        lat = position.coords.latitude;
        long = position.coords.longitude;
        latlng = new google.maps.LatLng(lat, long);
      };
      codeAddress = function() {
        var address;

        var styles = [
         {"featureType":"administrative","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"administrative.country","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"administrative.province","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#e3e3e3"}]},{"featureType":"landscape.natural","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"color":"#cccccc"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"labels.text","stylers":[{"visibility":"off"}]},{"featureType":"transit.station.airport","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"transit.station.airport","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#FFFFFF"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"off"}]}
         ];
        
       var styles = [
         {
           stylers: [
             { hue: "#00ffe6" },
             { saturation: -20 }
           ]
         },{
           featureType: "road",
           elementType: "geometry",
           stylers: [
             { lightness: 100 },
             { visibility: "simplified" }
           ]
         },{
           featureType: "road",
           elementType: "labels",
           stylers: [
             { visibility: "off" }
           ]
         }
       ];
        address = $('.event-meta .location').text() === '' ? 'Los Angeles, CA' : $('.event-meta .location').text();
        geocoder.geocode({
          'address': address
        }, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            map.setOptions({styles: styles});
            map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              //icon: iconBase + 'schools_maps.png'
            });


          } else {
        //alert('Geocode was not successful for the following reason: ' + status);
        //if address not found, remove map
        $('#map').remove();
      }
    });
      };
  // 

  codeAddress();




  setMapOnAll = function(map) {

    marker.setMap(null);

    codeAddress();
  }

if($('.signed-in').length > 0 && $('#event-edit').length > 0) {

    $('span[data-bip-attribute="location').bind('focusin', function() {

      $('.visible span[data-bip-attribute="location"] input').val($('.visible span[data-bip-attribute="location"]').attr('data-bip-value'));

      var input = /** @type {!HTMLInputElement} */(
        document.querySelector('.visible span[data-bip-attribute="location"] input'));
      var autocomplete = new google.maps.places.Autocomplete(input);
    });
  // on success of address input, recalculate map position
  $('span[data-bip-attribute="location"] ').bind('ajax:success', function(){

    $('span[data-bip-attribute="location"]').text($('.visible span[data-bip-attribute="location"]').text())

    $('span[data-bip-attribute="location"]').attr('data-bip-original-content', $('.visible span[data-bip-attribute="location"]').text())
    $('span[data-bip-attribute="location"]').attr('data-bip-value', $('.visible span[data-bip-attribute="location"]').text())

    setMapOnAll(null);

  });

}

};


}

</script>

  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&callback=initMap" async defer></script>
<% end %>
<!-- end load google map -->

</body>
</html>
