<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.optimizely.com/js/5685873116.js"></script>

  
  <title><%= title %></title>
  <meta name="description" content="<%= meta_description %>" />
  
  <meta property="og:image" content="<%= meta_fb %>" /> 


  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment.min.js"></script>

  <meta name="google-site-verification" content="N3as54yWdnHGj6rqX9tI8Ba8niZb8dRYxQqfrqhmFis" />
  <meta name="viewport" content="width=device-width">

  <!-- load fonts.com -->
  <script type="text/javascript" src="//fast.fonts.net/jsapi/bf60a8d1-1e05-4ef0-bc32-3edaef6da022.js"></script>




  <% if controller_name == "events" &&  action_name == 'show' %>

    <!-- load typekit font -->
    <script src="//use.typekit.net/lkw3rge.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    
    <!-- load typography.com -->
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6635554/696128/css/fonts.css" />

  <% end %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', controller_name, 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <script type="text/javascript">


 <% if (action_name == 'submit_attendees' || action_name == 'complete_registration') && !@account.nil?   %>
   Stripe.setPublishableKey('<%= @account.stripe_publishable_key %>');
<% else %>
  
   Stripe.setPublishableKey('<%= ENV['STRIPE_PUBLISHABLE_KEY'].to_s %>');

<% end %>

   


  </script>



 <!-- Include Font Awesome. -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />



<!-- google analytics code -->
  <script src="/assets/vendor/google-analytics.js"></script>
<!-- end google analytics code -->

</head>

 


<body class="<%= controller.controller_name == 'events' && controller.action_name == 'show'? 'event-show' : controller.controller_name %>  <%= controller.action_name %> <%= (signed_in?) ? 'logged-in' : '' %> 
">

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TDFKSV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TDFKSV');</script>
<!-- End Google Tag Manager -->

  
  <%= render 'layouts/partials/nav' %>
  <%= render 'layouts/partials/alert' %>

<!-- add payment modal here -->
  <%= yield %>


<footer>
  &copy; 2015 EventCreate. All rights reserved.
</footer>





<script src="/assets/jquery.validate.js"></script>
<script src="/assets/vendor/notify.js"></script>


<% if controller_name == "pages" &&  action_name != 'zerofees'%>

  <script src="/assets/vendor/olark.js"></script>

<% end %>







<!-- end load google map -->

<% if (signed_in? && current_user.sign_in_count == 1 && @welcome) %>



<!-- Google Code for Signup Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 940862296;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "9mxbCJCJ0GQQ2NbRwAM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/940862296/?label=9mxbCJCJ0GQQ2NbRwAM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<% end %>


</body>
</html>
