<!DOCTYPE html>
<html>
<head>
  <title>Event Create</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- load typekit font -->
  <script src="//use.typekit.net/lkw3rge.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!-- end load typekit font -->

  <!-- load fontawesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- end fontawesome -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav>
      <a id="logo" href="/"><span>Event Create</span></a>
<!--       <ul>
       <li><a href="/users/sign_up">Sign Up</a></li>
       <li><a href="/users/sign_in">Sign In</a></li>
   </ul> -->
   <ul>
<% if user_signed_in? %>
      <%= link_to image_tag(current_user.image, :class => 'profile'), '/events' %>
<!-- 
  Logged in as <strong><%= current_user.email %></strong>. -->
 <!--  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> | -->
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</ul>
</nav>




<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
